[2020-06-04 14:02] ryanmitchell commented on #256
This is being actively worked on here, feel free to contribute if you want to see it improve: https://github.com/tastyigniter/ti-ext-cart/pull/7

[2020-06-06 12:08] martyrayyy opened #398 ""Missing Vendor Files.""
**Expected behavior:**
Complete the setup

**Actual behavior:**
Finishing site setup.

**Reproduce steps:**
I just follow and walkthrough the setup, after selecting the fresh install option. An alert shows up "Missing vendor files."

**Version:**
(TastyIgniter version number)
Latest Version.
**Additional Information:**
I am using XAMPP.
[setup.log](https://github.com/tastyigniter/TastyIgniter/file

[2020-06-06 14:32] sampoyigi commented on #398
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-06-06 14:32] #398 closed

[2020-06-06 15:29] alexowson opened #399 "createHistory method of Status_history_model class gets default value from not exists attribute of status"
**Expected behavior:**
On createHistory method of Status_history_model class, comment field must gets default value from $status->status_comment

**Actual behavior:**
comment field gets default value of  $status->comment

**Reproduce steps:**
Pay the order with some payment method.

**Version:**
v2.1.1

**Additional Information:**

[2020-06-06 21:11] sampoyigi commented on #399
Thank you for reporting. Next time feel free to open a PR with the changes 👍

[2020-06-06 21:11] #399 closed

[2020-06-06 21:15] alexowson commented on #399
Sure

[2020-06-07 09:42] wakey18 commented on #379
following "php artisan igniter:up" I get the following...
`Migrating application and extensions...
Migration table already exists
Nothing to migrate.
Migrated app System
Migrating: 2020_02_18_000400_create_staffs_groups_and_locations_table

In Connection.php line 664:

  SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'a_staffs_groups' already e
  xists (SQL: create table `a_staffs_

[2020-06-07 09:46] wakey18 commented on #379
This is the onscreen error after clicking on update...
[https://i.imgur.com/UAOcSdv.png](https://i.imgur.com/UAOcSdv.png)

[2020-06-07 11:15] sampoyigi commented on #379
Looks like a corrupt migration, try renaming the existing `staffs_groups` table to `staffs_group_backup` and try the `php artisan igniter:up` command again.

[2020-06-07 13:03] wakey18 commented on #379
I fixed it, I reinstalled it and then did the migration on the old db, happy now. thanks for the help!

[2020-06-07 13:03] #379 closed

[2020-06-08 11:41] pawelmaczka opened #400 ""Call to undefined method Admin\Models\Orders_model::updateAssigneeRecord()" when assigning order"
**Expected behavior:**
When assigning an order to one of staff members it should show a success message.

**Actual behavior:**
Assigning an order to one of staff members ends with `Call to undefined method Admin\Models\Orders_model::updateAssigneeRecord()` error (see more below).

**Reproduce steps:**
Sales -> Orders -> edit order -> assign it to one of the users.

**Version:**
v3.0.4-beta.20.1

*

[2020-06-09 10:14] ryanmitchell opened #401 "Daterange on filter scope"
Not an issue, but a feature request/suggestion!

On admin/orders listing it would be great to select a date or date range rather than the current drop down list of months. I see there is admin/widgets/filter/scope/daterange as a holder - had you intended to have two date fields to allow selection between a range? If so I could work on an initial implementation of it if you thought it a useful addi

[2020-06-09 18:16] ryanmitchell opened #402 "Mealtimes"
Another suggestion - tell me if you'd prefer me to ask these elsewhere.

How would you feel about making mealtimes belongsToMany rather than belongsTo? Seems like its a simple change in the model and addition of a new table, without any further knock ons? It would mean if you wanted a menu item to appear in multiple mealtimes you could.

[2020-06-10 10:50] rt050 opened #403 "Auto assign not working and assign error"
**Expected behavior:**
I've set a new group to auto assign orders to a group call "Kitchen" and I think any new orders should auto assign to staff members in this group

**Actual behavior:**
Doesn't auto assign and when I try to assign a staff member I get a large error message of text. Error log shows:

There's another error, when I assign a user manually to an order it errors with a mass amount

[2020-06-10 23:21] sampoyigi commented on #402
Sure, send a PR.

[2020-06-10 23:23] sampoyigi commented on #256
Added.

[2020-06-10 23:23] #256 closed

[2020-06-10 23:29] sampoyigi commented on #401
Oh wow, I never got back to that. Right, so the plan was to have both date and date range, same date range as the one used on the dashboard reports chart and a normal date/datetime picker to replace the current dropdown.

[2020-06-10 23:29] sampoyigi commented on #403
Duplicate.

[2020-06-10 23:29] #403 closed

[2020-06-10 23:29] sampoyigi commented on #400
Duplicate.

[2020-06-10 23:29] #400 closed

[2020-06-10 23:32] #378 closed

[2020-06-11 07:23] rt050 commented on #403
Duplicate?

I did search and couldn’t see any other issues raised like this, could you point me in the right direction?

[2020-06-11 10:24] ryanmitchell commented on #401
No problem, here's an attempt at at:
https://github.com/tastyigniter/TastyIgniter/pull/405

[2020-06-11 13:23] pawelmaczka commented on #403
@rt050 @sampoyigi
Issue I created reports this but it was closed as duplicate too

https://github.com/tastyigniter/TastyIgniter/issues/400

[2020-06-11 13:29] sampoyigi commented on #403
The issue has been raised multiple times on the forum with a solution.

https://forum.tastyigniter.com/d/1698-issues-with-certain-items/2

[2020-06-11 13:34] pawelmaczka commented on #403
@sampoyigi thank you 👍

[2020-06-12 22:40] jeromio opened #406 "getMediaThumb causes Unsupported Type error after setting favicon.ico"
I set a favicon.ico for the site in the Orange theme by uploading an ico file.
Attempting to edit the theme generates an error.

\vendor\intervention\image\src\Intervention\Image\Gd\Decoder.php
[code]
TastyIgniter version  v3.0.4-beta.20.1
Work-around is to go to media manager and delete the favicon.ico file.

[2020-06-13 11:16] #402 closed

[2020-06-14 11:13] brendanwex opened #407 "Multiple Tax Rates"
Is there a possibility of adding multiple tax rates at some stage in the future. In Ireland where I am there are two rates of VAT. 13.5% for food items and 23% for soft drinks.

[2020-06-15 13:18] sampoyigi commented on #407
Use issues to report bugs, please ask your questions on the forums.

[2020-06-15 13:18] #407 closed

[2020-06-15 15:08] tlloydukdev opened #411 "Unable to edit pre-order days"
**Expected behavior:**
Create or edit a location and you can change the "Delivery/Pick-up Pre-order Days In Advance" values in the number fields

**Actual behavior:**
the "Delivery/Pickup Pre-order Days In Advance" number fields are disabled

**Reproduce steps:**
N/A, as above

**Version:**
latest develop

**Additional Information:**
https://github.com/tastyigniter/TastyIgniter/blob/develop/app/ad

[2020-06-15 16:35] sampoyigi commented on #411
No problem :)

[2020-06-15 16:35] #411 closed

[2020-06-17 02:38] SupperDog opened #412 "Wrong last order time"
For example, closing time is 22:00, delivery time is 45 minutes, last order time is 10 minutes, the customers are supposed to be able to place an order before 21:50, but actually the system doesn't allow customers to order after 21:15.

**Version:**
v3.0.4.beta.20.1

[2020-06-18 14:35] sampoyigi commented on #401
Noticed datrangepicker.js has a [single date picker](http://www.daterangepicker.com/#example3) option, can we use it for the date scope instead?

[2020-06-18 14:37] sampoyigi commented on #401
Also, the selected option on the date range picker is always on 30 days even when a different option is selected.

[2020-06-18 15:50] SupperDog opened #413 "Country at Address Book cannot be updated"
If add an address at address book, Country cannot be saved. If edit an address, Country cannot be updated.

[2020-06-18 18:22] ryanmitchell commented on #401
I’ll sort these early next week.

[2020-06-20 23:06] SupperDog opened #415 "Wrong Collection/Delivery First Time Slot for Pre-orders"
**Expected behavior:**
If the opening time is set at 1 pm, delivery time is 45 minutes, when a customer places a pre-order before open, the first time slot available should be 1:45 pm because obviously the order can't be delivered immediately when open.

**Actual behavior:**
The first available time slot for pre-order is 1 pm (opening time).

**Reproduce steps:**
Place order before open

**Version

[2020-06-20 23:11] SupperDog opened #416 "Wrong Pre-order Time Slots"
**Expected behavior:**
The available time slot for pre-orders (delivery and pick up) should be at a fixed interval, e.g. 10 or 15 minutes.

**Actual behavior:**
For example, if delivery time is set as 60 minutes and pick up time is 20 minutes, if a customer wants to place an order for later, the available time slots for delivery orders are 1 pm, 2 pm, 3 pm, ...; the available time slots for pick u

[2020-06-21 19:40] sampoyigi commented on #412
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

If you strongly believe this is a bug, then create a new issue using the ISSUE TEMPLATE. The template is only there to help us spend reasonable time understanding your issue and finding a solution 😃.

[2020-06-21 19:40] #412 closed

[2020-06-21 19:40] sampoyigi commented on #413
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-06-21 19:40] #413 closed

[2020-06-21 19:44] sampoyigi commented on #415
Please use the ISSUE TEMPLATE when creating a new issue next time.

[2020-06-21 22:37] SupperDog opened #418 "Country at Address Book cannot be updated"
**Expected behavior:**
When editing Country at Address Book page, the country should be updated to the chosen country.
When adding a new address at the Address Book page, the country should be set as the chosen country.

**Actual behavior:**
When editing Country at Address Book page, country will not be updated. It will just stay as it was.
When adding a new address, country id is set to 0 other t

[2020-06-21 22:44] SupperDog opened #419 "Wrong last order time"
**Expected behavior:**
If close time is 10 pm, delivery time is 60 minutes, last order time is 10 minutes, the customer should be able to place an order between 9 pm to 9:50 pm

**Actual behavior:**
If a customer tries to order between 9 pm to 9:50 pm, system will show an error message "This restaurant is unavailable to take delivery orders at the selected time."

**Reproduce steps:**
Place orders

[2020-06-21 22:47] SupperDog commented on #415
Sorry about that I have edited using the template.

[2020-06-22 08:40] ryanmitchell opened #420 "Subtract stock clears menu locations"
**Expected behavior:**
When an item uses subtract stock and is purchased, locations would persist.

**Actual behavior:**
When an item uses subtract stock and is purchased, it clears any locations associated with the stock.

**Reproduce steps:**
Mark an item as subtract stock
Assign it to a location
Purchase it
Location is cleared

**Version:**
Latest beta

[2020-06-22 12:39] ryanmitchell commented on #416
@sampoyigi is this fixed in develop by the 'lead time' option on delivery/collect ?

[2020-06-22 12:41] ryanmitchell commented on #415
@sampoyigi I'm not sure I feel this is a bug - I would expect to be able to choose the opening time as my delivery time. What do you feel?

@SupperDog You can change the delivery hours to be different from the opening hours to work around this?

[2020-06-22 12:41] sampoyigi commented on #420
Might be related https://github.com/tastyigniter/TastyIgniter/commit/24e33d7584907af8ddfa75714136b4b9fa29f429#diff-6954235f2affcba395446a8b63db5b27

[2020-06-22 12:43] ryanmitchell commented on #419
@sampoyigi as before, does the 'lead time' in develop branch fix this?

[2020-06-22 12:46] ryanmitchell commented on #420
Yep that looks to be it.
Sorry I should have checked closed issues.

[2020-06-22 12:46] #420 closed

[2020-06-22 13:44] SupperDog commented on #415
If I change delivery time to be different from opening hours, the local info box above the menu will show delivery opening hours instead of opening hours when a customer choose delivery, which is quite confusing.

[2020-06-22 15:08] sampoyigi commented on #415
Not confusing displaying the delivery hours when the customer chooses the delivery option. Wouldn't it be more confusing to display the opening hours when the customer expects the displayed hours to be for delivery?

[2020-06-22 15:12] SupperDog commented on #415
Displaying delivery time when a customer chose delivery option is not confusing. But if for example we close 10 pm and delivery time is 60 minutes, currently the system doesn't allow customers to place orders after 9 pm. To allow customers place orders between 9 pm to 9:50 pm we have to set delivery time to 10:50 pm which is confusing because the actual close time is 10 pm.

[2020-06-22 15:14] SupperDog commented on #415
When an customer visits the website after 10 pm he/she will see delivery is still open but unable to place any order. I don't think this is what's designed to be.

[2020-06-22 15:22] SupperDog commented on #415
Sorry I mistook the topic. Well if we set opening hours of delivery different from opening hours, the following will happen:

(opening time set as 1 pm delivery opening 1:45pm and delivery time is 45 minutes)

1) if a customer tries to order before 1:45 pm he will see delivery is closed, which reduces the possibility of getting orders.

2) if the customer places an order before 1:45pm and schedule

[2020-06-22 15:23] sampoyigi commented on #415
Ok, so the issue here is that the first available timeslot(ASAP) for delivery should be the delivery open time + interval instead of just the delivery open time, right?

[2020-06-22 15:24] SupperDog commented on #415
Yes that's the point

[2020-06-22 15:26] ryanmitchell commented on #415
I would argue that’s a preference setting rather than something universal. Restaurants we work with want the opposite.

Is there a way we can accommodate both?

[2020-06-22 15:28] SupperDog commented on #415
If the first order can be delivered immediately at opening time I think you can set delivery time to 0.

[2020-06-22 15:30] sampoyigi commented on #415
Enabling future orders will allow the customer order.

Are you saying the behaviour is different when the customer orders during delivery hours (i.e placing an order while the restaurant is open) and outside delivery hours?

[2020-06-22 15:30] ryanmitchell commented on #415
That affects delivery slots too so it doesn’t work.

[2020-06-22 15:31] SupperDog commented on #415
Or you can set delivery opening hours ahead of opening time

[2020-06-22 15:32] SupperDog commented on #415
I just mean the first available time slot for pre orders shouldn't be the opening time because we need time to prepare and deliver.

[2020-06-22 15:35] sampoyigi commented on #419
My guess is yes, would have to test to be sure.

[2020-06-22 15:39] sampoyigi commented on #418
Fixed https://github.com/tastyigniter/TastyIgniter/commit/29d4f20545c0b08bfccc4cfb2d4876b929040d2e

[2020-06-22 15:39] #418 closed

[2020-06-22 15:50] sampoyigi commented on #415
Got it.

So @ryanmitchell are you saying we should continue using the open time as the first available timeslot for pre-orders instead of what @SupperDog is proposing, open time + interval?

[2020-06-22 15:53] SupperDog commented on #415
Yes you're right. But all takeaway platform as far as I know like justeat foodhub deliveroo UberEats, first available time slot for delivery are all opening time + interval.

[2020-06-22 15:58] ryanmitchell commented on #415
I wonder if it’s worth adding a setting so it can be controlled? Does lead time not already allow for this?

[2020-06-22 17:16] sampoyigi commented on #415
I'm with @SupperDog on this. While a restaurant is open the first timeslot available to a customer is open/current time + interval, it would make sense to follow the same calculations for pre-orders so the restaurant has some time to prepare the order after they open.

Yes, partly but it's intended for calculating ASAP delivery/pickup time, while we continue to use the interval time to generate ti

[2020-06-22 17:25] ryanmitchell commented on #415
No problem. Easily overwritten if I need it for a specific location.

[2020-06-24 11:41] ryanmitchell commented on #401
This has now been completed, so closing.

[2020-06-24 11:41] #401 closed

[2020-06-24 11:42] ryanmitchell commented on #370
@fede-exe this has been completed and merged, would you mind closing the issue?

[2020-06-24 11:44] ryanmitchell commented on #415
@sampoyigi Let me know if you want me to look at this one and if so, give me a point in the right direction.

[2020-06-24 11:47] ryanmitchell commented on #252
@roydeanjr if you need some help with this I can make some time to lend a hand.

[2020-06-24 11:52] roydeanjr commented on #252
Yes, help is appreciated. How to proceed?

[2020-06-24 11:55] fede-exe commented on #370
Sure thanks

[2020-06-24 11:55] #370 closed

[2020-06-24 12:13] sampoyigi commented on #415
Thank you, I'll take care of this one and implement the lead time while at it 😄

[2020-06-24 12:21] ryanmitchell commented on #252
@roydeanjr here you go:
https://github.com/ryanmitchell/ti-ext-runningorder

I've pulled this from work I've done elsewhere, I'm sure you'll need to adapt this to your needs.

It shows the current day's orders that are incomplete (status <= 1), and only shows 30 at a time. The page doesn't auto refresh, but when you mark an order complete it reloads.

Hopefully this helps you out.

[2020-06-24 13:15] roydeanjr commented on #252
Sweet! Thank you for that contribution. I will take a look at it.

[2020-06-24 13:30] ryanmitchell commented on #252
No problem - let me know how you get on.

[2020-06-24 13:51] roydeanjr commented on #252
I will. I forgot to ask, what version is this written for?

[2020-06-24 13:52] ryanmitchell commented on #252
v3 beta.

[2020-06-24 20:27] brandonjbegle opened #421 "Delivery area not validated in Checkout"
**Expected behavior:**
If user doesn't type in the same address as they did on the View Menu page validation, it should be revalidated with the delivery area and denied if not valid.

**Actual behavior:**
New address is not validated, checkout is allowed to proceed.

**Reproduce steps:**
With 'Require Location To Order setting enabled, attempt to order from Menu. The application will ask the user

[2020-06-26 11:36] sampoyigi commented on #421
Fixed here https://github.com/tastyigniter/ti-ext-cart/commit/99c987a2eeab06b084786a0424a5985124adb0f2

[2020-06-26 11:36] #421 closed

[2020-06-27 18:23] sampoyigi commented on #419
Yep fixed with the new lead time implementation. https://github.com/tastyigniter/ti-ext-local/commit/3817b6482cd805cc4c3bfe88e3c59f9e3dea8541

[2020-06-27 18:26] sampoyigi commented on #416
Yep, fixed with the new lead time implementation which separates the 'option time' option from the 'order time interval' option.

https://github.com/tastyigniter/ti-ext-local/commit/3817b6482cd805cc4c3bfe88e3c59f9e3dea8541

[2020-06-28 23:57] mike420 opened #422 "unencrypted passwords in settings table"
**Expected behavior:**
Passwords should be encrypted

**Actual behavior:**
Passwords are not encrypted

**Reproduce steps:**
Install TI, check the settings table and passwords for admin and smtp are in plain text

**Version:**
v3.0.4-beta.20.1

**Additional Information:**
smtp password is also shown in plain text in the admin->mail settings

![1](https://user-images.githubusercontent.com/11428917/

[2020-06-29 01:14] SupperDog opened #423 "Order Status Updates Always Use Default Settings"
**Expected behavior:**
When updating order status, manually changing comments or customer notification setting, customer should be notified as set with entered comments.

**Actual behavior:**
Manually entered comments and Yes/No setting of Notify Customer are ignored. The system always notifies the customer as the default setting with the default comment.

**Reproduce steps:**
Place an order, upda

[2020-06-29 13:17] sampoyigi commented on #423
Can’t check now but I think this issue has already been fixed.

[2020-06-29 16:27] SupperDog commented on #423
I have searched across PRs before opening this issue but haven't found anything related to order status update. I have also tried to install the develop branch and update the beta version to develop by setting edgeUpdates to true, but the develop version does not work it shows an error unable to call undefined class appendMiddlewareToGroup.

[2020-06-30 10:00] sampoyigi commented on #423
Here's it https://github.com/tastyigniter/TastyIgniter/commit/64e3560ff6121c64d7adfc2944b97dd2878b0c71

For the `call undefined class appendMiddlewareToGroup`, you might be missing some vendor files so run `composer update`

[2020-06-30 23:41] SupperDog commented on #423
Thank you for the fix. BTW, `composer update` doesn't help with the error. Look like a new version of flame needed.

[2020-07-01 00:13] SupperDog commented on #423
This doesn't fix the issue. The edited comment does show in status history but won't be sent to customer.

[2020-07-02 07:50] sampoyigi commented on #423
Releasing a new version of flame now before a new core version is ready will break new installs, so both flame and core will have to get a new version same time :)

See tastyigniter/TastyIgniter@48e1e0caede7fb11ef5f06fa276a3451132d1ec0

[2020-07-02 14:03] #415 closed

[2020-07-04 00:41] SupperDog commented on #423
Can't test this... the current beta release doesn't have 'scopeWhereStatusIsLatest' function

[2020-07-04 05:22] ashitkvora opened #425 "Error when running igniter:install"
Error:

[code]

[2020-07-05 21:15] danielang opened #426 "Setup error"
**Expected behavior:**
The setup should completed successfully.

**Actual behavior:**
![image](https://user-images.githubusercontent.com/6752808/86542298-e0345a80-bf14-11ea-8f49-f631fbbf2689.png)

**Reproduce steps:**
Since version v3.0.4-beta.21 the setup fails to install TastyIgniter. Before v3.0.4-beta.21 the setup works fine.
The permissions has been set to 777 for testing.

**Version:**
v3.0.

[2020-07-05 21:58] danielang commented on #426
Just saw you already fixed it in: [1f3820c11fc4905e487b82c8d5ec5ad05aedb5ca](https://github.com/tastyigniter/TastyIgniter/commit/1f3820c11fc4905e487b82c8d5ec5ad05aedb5ca)

[2020-07-05 21:58] #426 closed

[2020-07-06 18:55] sampoyigi commented on #425
Have you tried clearing cache?

[2020-07-09 00:30] SupperDog opened #427 "Default value of notify customer setting doesn't load properly"
**Expected behavior:**
When changing order status, notify customer option should be set as the preset value.

**Actual behavior:**
When changing status from the drop list, the notify customer option just toggles between on and off.

**Reproduce steps:**
 For example, choose the status Received from the drop list (just choose that option, don't save), the option of notify customer is set to yes (fo

[2020-07-09 01:10] SupperDog opened #428 "List Setup box cannot be closed"
**Expected behavior:**
When clicking the Cancel or X button on List Setup box, it should disappear without saving any changes.

**Actual behavior:**
The List Setup box does not disappear when clicking on the Cancel or X button.

**Reproduce steps:**
Login to admin dashboard, find a list (orders, menu items or whatever), click Setup button on header, the List Setup box appears. Click Cancel or X bu

[2020-07-09 19:27] sampoyigi commented on #423
What's the status on this with the latest update?

[2020-07-09 19:29] SupperDog commented on #423
Yes it's fixed thank you.

[2020-07-09 21:01] #423 closed

[2020-07-09 23:20] #416 closed

[2020-07-09 23:21] #419 closed

[2020-07-09 23:23] sampoyigi commented on #428
Works fine for me, do you have errors in your browser console log?

[2020-07-09 23:40] SupperDog commented on #428
There isn't any error in the console log. Quite strange. Have installed 2 copies both are the same. Also tried different browser.

[2020-07-10 07:21] danielang commented on #428
Same behavior for me.

[2020-07-10 07:29] danielang opened #429 "MapArea loads wrong JS assets"
**Expected behavior:**
Delivery areas should be createable

**Actual behavior:**
Currently it is not possible to create or edit the delivery areas of a restaurant.
The JS console logs that it could not find `Sortable`.

**Reproduce steps:**
Click a delivery area and try to edit or create a new one.

**Version:**
v3.0.4-beta.22

**Additional Information:**
To fix the issue we have to edit the MapAr

[2020-07-10 09:49] danpascoe opened #430 "Error on Install"
**Expected behavior:**
Should install

**Actual behavior:**
Error is thrown.

Handler error (onInstall): Non-static method System\Classes\ExtensionManager::installExtension() should not be called statically

**Version:**
Beta 3

**Additional Information:**
[2020/07/10 11:34:17] => Foundation setup: finishInstall
[2020/07/10 09:34:23] => Handler error (onInstall): Non-static method System\Classes\E

[2020-07-10 11:13] sampoyigi commented on #430
Fixed. Thank you for reporting.

[2020-07-10 11:13] #430 closed

[2020-07-10 18:39] johanpeters opened #431 "Installation setup issue"
**Expected behavior:**
installation wizzard closed succesfully
**Actual behavior:**
wizzard ends with error
[2020/07/10 08:35:18] => Foundation setup: finishInstall
[2020/07/10 06:35:24] => Handler error (onInstall): SQLSTATE[42000]: Syntax error or access violation: 1072 Key column 'type' doesn't exist in table (SQL: alter table `ti_extensions` drop `type`, drop `data`, drop `serialized`, drop `s

[2020-07-11 11:15] hssntarar commented on #431
Error on finishing setup.

SQLSTATE[42000]: Syntax error or access violation: 1072 Key column 'type' doesn't exist in table (SQL: alter table `sf_extensions` drop `type`, drop `data`, drop `serialized`, drop `status`, drop `title`)
![tastyignite-setup-error]

Error Screenshot:
(https://user-images.githubusercontent.com/15999970/87222934-b0140e00-c391-11ea-9500-8aa559462aa1.PNG)

[2020-07-11 12:05] sampoyigi commented on #429
Fixed

[2020-07-11 12:05] #429 closed

[2020-07-11 12:38] sampoyigi commented on #431
See my response here https://forum.tastyigniter.com/d/1944-problem-on-installation/19

[2020-07-11 21:10] sampoyigi commented on #428
Does it work on a different browser?

[2020-07-11 21:21] SupperDog commented on #428
No I've tried Google Chrome, Microsoft Edge, Firefox and Safari, none of them works.

[2020-07-11 21:34] sampoyigi commented on #428
Works for me on firefox and chrome

[2020-07-11 21:36] #425 closed

[2020-07-11 21:38] sampoyigi commented on #335
Closed due to no activity

[2020-07-11 21:38] #335 closed

[2020-07-11 21:48] SupperDog commented on #428
Perhaps some files missed from the latest release?

[2020-07-12 09:16] sampoyigi commented on #428
Probably, but you should see an error in your console.log if its a case of missing files

[2020-07-12 21:35] shivampalyal opened #432 "Getting error while registering new customer account using orange theme."
"Cannot make non static method Igniter\Flame\ActivityLog\Contracts\ActivityInterface::getType() static in class Igniter\User\ActivityTypes\CustomerRegistered" on line 50 of /Applications/MAMP/htdocs/food/extensions/igniter/user/activitytypes/CustomerRegistered.php#0 {main}

[2020-07-13 12:03] sampoyigi commented on #432
Please use the ISSUE TEMPLATE when creating a new issue.

[2020-07-13 12:03] #432 closed

[2020-07-13 12:56] MyMediaGurus commented on #428
Sam - Open the setup box, untick one of the options, then try cancel or close the box - it won't work. You have to re-tick the option and press apply to close the window. There is nothing showing in Console, which I find very strange? Almost as though there is no action attached to the buttons when a change has been made. To be fair, the end result that you are forced to do in order to close the w

[2020-07-13 14:11] sampoyigi commented on #428
Thank you for the input.

Truly strange 🤯. I've tried both admin orders and reservations page, open the setup modal, tick one of the options and I'm still able to close the modal. Tried on both firefox and google chrome. And yeah, there's no event attached to the checkboxes or action attached to the buttons so it's a bit tricky to debug, can't even guess what it could be lol.

Good thing there's a

[2020-07-13 14:14] aaronfisher83 commented on #428
The alternative, to retick the item and apply, gives the same result...so for now, you probably have more important things to be on with :)

[2020-07-13 14:23] SupperDog commented on #428
I now just refresh the whole page to close it lol

[2020-07-13 17:06] sampoyigi commented on #428
Yea re-ticking the item makes no difference on my end, I guess we can manage with the workarounds until there's a fix 🤷‍♂️was hoping to have this fixed in the next update.

[2020-07-13 17:11] sampoyigi commented on #427
Fixed

[2020-07-13 17:11] #427 closed

[2020-07-14 21:58] sampoyigi commented on #422
Just to point out that user and customer passwords are encrypted, its the SMTP password that is not encrypted and IIRC Wordpress also stores SMTP passwords as plain text.

[2020-07-15 01:34] SupperDog opened #433 "Order email notification cannot be sent"
**Expected behavior:**
Customer should get an email when an order has been placed, or order status has been updated (notify option is on), or resetting password. Restaurant should also get email notification of new orders (when the setting is on).

**Actual behavior:**
After updating to beta.22.1, no email can be sent to customers or restaurant.

**Reproduce steps:**
Place an order or update order

[2020-07-15 02:19] SupperDog opened #434 "Update Error when a child theme exists"
**Expected behavior:**
Updates can be checked.

**Actual behavior:**
Update shows error "Server responded with error: Server error try again" if a child theme was created.

**Reproduce steps:**
Create a child theme, then check update.

**Version:**
3.0.4.beta.22.1

**Additional Information:**
Server returns the following result
{"status_code":500,"message":"The items.10.name format is invalid.","e

[2020-07-15 10:38] sampoyigi commented on #434
What is the name and code of the child theme?

[2020-07-15 14:36] SupperDog commented on #434
Orange Theme [child]
tastyigniter-orange-fl8

[2020-07-15 23:33] sampoyigi commented on #434
Right, lol. The issue has been fixed.

[2020-07-16 00:50] SupperDog commented on #434
It can check update now but when actually update it still show server error. Seems server just return '1'? Not quite sure.

[2020-07-16 01:12] SupperDog commented on #433
Oh found the reason.
config/queue.php was set from sync to the database, jobs were added to the database but not executed, even though cron job was added.

[2020-07-16 02:28] SupperDog opened #435 "User can register account without agree T&Cs"
**Expected behavior:**
A customer has to tick agree T&Cs to register an account.

**Actual behavior:**
An account can be registered without ticking agree T&Cs checkbox.

**Reproduce steps:**
Register an account without ticking agree T&Cs.

**Version:**
3.0.4.beta.22.1

**Additional Information:**
N/A

[2020-07-16 10:48] tamasberesoebb opened #436 "Mass user creation"
**Expected behavior:**
administrator is able to mass create users
user registration is disabled

Am I missing something, or is it not possible to mass create users trough the administrator dashboard?
We are trying to use tastyigniter as a company internal tool, where we would create user accounts for our users.

**Version:**
 v3.0.4-beta.20.1

[2020-07-16 15:56] sampoyigi commented on #434
Got that working now. Please close the other solved issues :)

[2020-07-16 17:57] #433 closed

[2020-07-16 21:48] sampoyigi commented on #436
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-07-16 21:48] #436 closed

[2020-07-17 02:17] #434 closed

[2020-07-20 22:56] #431 closed

[2020-07-21 07:42] sampoyigi commented on #435
Fixed.

[2020-07-21 07:42] #435 closed

[2020-07-22 03:08] roydeanjr commented on #252
Ryan, thanks for the code. I am trying to get something to return to the page. What are the criteria for an order to show in the list of running orders?

[2020-07-22 05:58] ryanmitchell commented on #252
@roydeanjr if you look at lines 95 - 99 of controllers/Summary.php you'll see the query. It limits it to orders on the current day, with a status of <= 1 and limited to the logged in user's location.

I've noticed a potential bug when a user is admin which I've pushed an update for.

I'm happy to jump on a screen share or debug on your server if you want to take that approach.

[2020-07-22 07:48] pmcnano opened #438 "Email notifications are not being sent, for anything."
**Expected behavior:**
When an account is created, an order is created, an order is updated, or any change I expect an email to be sent.

**Actual behavior:**
Nothing is sent.

**Reproduce steps:**
Place an order, advance the order and select notify customer.

**Version:**
Beta 3?

**Additional Information:**
I already tested sending the test email and it succeeds.
Tried looking in the logs for an

[2020-07-22 11:47] roydeanjr commented on #252
Let me get the updated code.. If that doesn't work perhaps the screens are but not until Friday. Then I'm on vaca next wk. I'll let you know how it goes later today. Thx!

RoyDean Leighton
At your service......

________________________________
From: Ryan Mitchell <notifications@github.com>
Sent: Wednesday, July 22, 2020 12:58:58 AM
To: tastyigniter/TastyIgniter <TastyIgniter@noreply.github.com>
C

[2020-07-22 16:11] roydeanjr commented on #252
That did not seem to help me get anything to show. I created an issue on your running order project.

[2020-07-22 20:49] pmcnano commented on #438
https://forum.tastyigniter.com/d/1966-new-order-emails-not-working-in-v304-beta221/9

Changed them to run immediately.

[2020-07-22 20:49] #438 closed

[2020-07-23 20:10] BlueRayNL opened #439 "sprintf(): Too few arguments in item options"
**Expected behavior:**
adding a product
when adding a product with options there is a bug popping up. this way were unable to save.
if you save the product and later navigate back to it the following error comes up ->
sprintf(): Too few arguments,
in menu_options.php line 23
(path_to_file/app/admin/views/menus/form/menu_options.php')

**Actual behavior:**
de product shoot be added with options.

*

[2020-07-26 01:01] SupperDog opened #440 "Delivery charge calculation doesn't include the lower limit"
**Expected behavior:**
For example, set delivery charge £1 for orders over £10 and not available for orders below £10, when a customer just orders food for £10, £1 delivery charge should apply.

**Actual behavior:**
When an order of exact £10 is placed, no delivery charge is applied. The system allows the order to be placed and with no delivery charge.

**Reproduce steps:**
Set delivery charge as

[2020-07-27 12:34] tamasberesoebb opened #441 "menu option optional count problem"
**Expected behavior:**
![image](https://user-images.githubusercontent.com/41002963/88541834-b2bf6600-d015-11ea-8107-5d83a855e433.png)

**Actual behavior:**
(Describe actual behavior here)
![image](https://user-images.githubusercontent.com/41002963/88541905-ccf94400-d015-11ea-983a-4405de4e5a0e.png)

**Reproduce steps:**
Create menu item with optional item
Set minimum count to 3
As a user, try to ad

[2020-07-27 12:52] sampoyigi opened #442 "Road to stable v3"
Here’s a list of tasks that needs to be done to get us to a stable v3.

- [ ] ❗️Write unit and/or browser(dusk) tests to cover core features
- [x] Use [Laravel Blade](https://laravel.com/docs/blade) syntax in views, removing clunky PHP code from view files **(#465 )**
- [x] ❗️Ensure all extended forms are properly validated, eg. when saving payment settings and within the components and record edi

[2020-07-27 19:57] salamaahm opened #443 "Assign the order to a different location from back-end"
Expected behavior:
Option to change the location assigned to the order
Actual behavior:
I don't have an option to change the location from the back-end

Version:
V3.0.4 Beta 22.2

[2020-07-27 19:58] salamaahm opened #444 "Need to generate some reports based on sales and items analysis"
Expected behavior:
Need to generate some reports based on sales and items analysis

Actual behavior:
No reports available

Version:
V3.0.4 Beta 22.2

[2020-07-27 20:03] salamaahm opened #445 "E-mail format issue after upgrading to V3.0.4 Beta 22.2"
**Expected behavior:**

Email Notification was working normally before upgrade

**Actual behavior:**
Below a sample for what I receive for the client side and same problem for the admin notifications

Hi Mohamed Mahfouz,

Thank you for your order!
Your Delivery order 166 has been received, please note orders done during weekend will be automatically scheduled for Sunday delivery.

Click here to vi

[2020-07-28 06:43] SupperDog commented on #445
To solve this, I suggest you freshly install Tastyigniter on another server, login and copy the default email templates to your current Tastyigniter.

[2020-07-28 09:24] salamaahm commented on #445
I already did and still the same

[2020-07-29 14:23] sampoyigi commented on #441
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-07-29 14:23] #441 closed

[2020-07-29 14:24] sampoyigi commented on #443
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-07-29 14:24] #443 closed

[2020-07-29 14:24] sampoyigi commented on #444
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-07-29 14:24] #444 closed

[2020-07-29 14:27] sampoyigi commented on #445
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

If you believe this is a bug and an issue current doesn’t exist for it, go ahead and create one providing adequate information to help when reproducing the bug.

[2020-07-29 14:27] #445 closed

[2020-07-30 02:41] moiz-qureshi commented on #281
would love to know resolution.

[2020-07-31 06:53] ryanmitchell commented on #442
Only just noticed this.

**Limit the number of orders and reservations to allow per each timeslot**
I've done the orders limit for a couple of restaurants as an extension, so have the logic that I could bring into core. Some restaurants limit by number of 'covers' rather than orders, i.e. only items from certain categories count towards the total. Do you think this would be worth implementing as p

[2020-07-31 07:26] ryanmitchell commented on #439
@BlueRayNL are you able to provide exact steps to reproduce the error including the values you are entering. Maybe even a screencast? I've run some tests on beta 22 and I'm unable to see the same error.

[2020-07-31 07:27] ryanmitchell commented on #252
@roydeanjr can we close this off now?

[2020-07-31 14:07] roydeanjr commented on #252
That is not a complete system, however, if you want to close it let me create a project and then you can reference that project as the continuation. Deal?

RoyDean Leighton
At your service......

________________________________
From: Ryan Mitchell <notifications@github.com>
Sent: Friday, July 31, 2020 2:27:39 AM
To: tastyigniter/TastyIgniter <TastyIgniter@noreply.github.com>
Cc: RoyDean Leighton

[2020-07-31 14:18] ryanmitchell commented on #252
What else do you feel is missing for it to be complete?

[2020-07-31 14:38] roydeanjr commented on #252
On my system, I still am not able to get any orders to show.

I need the order date parameter removed so I can see if the queries will select records.

I tried to comment that line out, but it made no difference. I set an order to received status and it did not show.

I also installed the debug extension and cannot see the query data at all.

Maybe next week a screens are session will help?

RoyDe

[2020-07-31 15:35] ryanmitchell commented on #252
Yep let’s screen share and take the conversation over to the extension I set up for this.

Close this one off and let me know when suits you for a video.

[2020-08-01 02:56] roydeanjr commented on #252
What is the link for the extension?

RoyDean Leighton
At your service......

________________________________
From: Ryan Mitchell <notifications@github.com>
Sent: Friday, July 31, 2020 10:35:25 AM
To: tastyigniter/TastyIgniter <TastyIgniter@noreply.github.com>
Cc: RoyDean Leighton Jr <roydean@ardee.com>; Mention <mention@noreply.github.com>
Subject: Re: [tastyigniter/TastyIgniter] Add Kitchen menu

[2020-08-01 06:05] ryanmitchell commented on #252
https://github.com/ryanmitchell/ti-ext-runningorder

[2020-08-01 15:10] BlueRayNL commented on #439
@ryan

Hi Ryan,

1.  add a product and save it.
2. add options to the product.
3. while saving the error comes up.
4. if you reload the page . you get the laravel error screen with following error ->

"Undefined offset: 379" on line 211 of /var/www/vhosts/sintmaria.nl/webshop.sintmaria.nl/app/admin/formwidgets/Connector.php#0 /var/www/vhosts/sintmaria.nl/webshop.sintmaria.nl/app/admin/formwidgets/

[2020-08-01 15:43] ryanmitchell commented on #439
Thanks.

Can you provide the values you are entering at each step? Something in your input is causing the error so I need them to be able to investigate.

[2020-08-02 10:42] BlueRayNL commented on #439
Hi Ryan,

bellow i attached screenshot's of the steps.

Step 1 add a product and save it. ->

https://myictdemo.nl/webcdn/tastybugs/step1.png

Step 2 create a new option ( doesn't matter whats option or value's you choose here)

https://myictdemo.nl/webcdn/tastybugs/step2.png

Step 3 attach the just create options to the product.

https://myictdemo.nl/webcdn/tastybugs/step3.png

Step 4 re Save the

[2020-08-02 10:44] BlueRayNL commented on #439
Btw I have 80% off all dutch translations available if you want them let me know :)

[2020-08-02 17:58] ryanmitchell commented on #439
Thanks - that’s helpful for me to investigate.

Did you click the blue “add to menu” option at step 3 and then save? I think the error may be because no option is added.

[2020-08-02 18:00] ryanmitchell commented on #439
Amazing. The translation is handled over here:

https://crowdin.com/project/tastyigniter

Please do submit yours.

[2020-08-03 06:14] ryanmitchell commented on #439
I took a look into this and I wonder if it might be related to your translation work. Does the value of the translated string "menu_options.text_option_summary" in the admin/language pack you created contain "%s"? e.g. the English is "Display as a %s HTML element".

[2020-08-03 06:43] BlueRayNL commented on #439
Hi Ryan,

i looked it up in the db and its there -> see attachement.
https://myictdemo.nl/webcdn/tastybugs/db-screenshot.png

also when i navigate back to the frontend the following error is trown aswell ->
https://myictdemo.nl/webcdn/tastybugs/error-frontend.png

thanks for the help so far !

[2020-08-03 06:45] ryanmitchell commented on #439
That might be the problem - there should only be one. Try removing one?

[2020-08-03 06:50] BlueRayNL commented on #439
what you mean ??

[2020-08-03 06:56] ryanmitchell commented on #439
There should only be one %s in the language string - the only you sent the screenshot of has two, which is the cause of the sprintf() error.

[2020-08-03 07:00] BlueRayNL commented on #439
Hi Ryan,

i changed it back to one %s but the issue is still there.

[2020-08-03 07:15] ryanmitchell commented on #439
Its definitely something to do with the language string being used - are you getting exactly the same error as here?
https://myictdemo.nl/webcdn/tastybugs/step4.png

can you clear the TI cache just in case language strings are being cached? (add the cache widget to the dashboard then use the clear cache button).

[2020-08-03 07:24] BlueRayNL commented on #439
Hi Ryan,

it is related to tanslation. i switched back to english and the problem on the backend was gone.
however the problem on the frontend was still there.
now we need to find out which translation is causing the error.

[2020-08-03 07:28] BlueRayNL commented on #439
Hi Ryan,

it was indeed menu_options.text_option_summary.
it got cached in the backend. how ever the issue in the frontend is still there ->

https://myictdemo.nl/webcdn/tastybugs/error-frontend.png

[2020-08-03 07:54] ryanmitchell commented on #439
That seems to be related to what you have set under “Specials” for one of your menu items. If you can work out which one it is and the send through the values entered on the specials screen then I can investigate.

[2020-08-03 08:06] BlueRayNL commented on #439
Hi Ryan,

send me an email i give you admin acces to the site maby that helps?
the site is still in dev so do whatever you like 👍

[2020-08-03 08:09] ryanmitchell commented on #439
I wouldn't have time to work through your install I'm afraid - I work on the TI project voluntarily. If you can identify the menu item values in specials that are causing the issue then it will be easy to guide you how to fix the error - its something to do with recurring specials on specific days if that helps.

[2020-08-03 08:11] BlueRayNL commented on #439
Hi Ryan,

I understand haha,
I will look into it :)
Just send you an email but you can ignore it :)

[2020-08-03 10:32] sampoyigi commented on #442
I don't think it's a common-enough use-case.

Erm 🤔, the total commission part is more for multi-vendor set up so let's skip for now. As for the turnover, I meant the total table turnover rate, measured by how often tables are occupied during a measurement period.

The idea here is to use the broadcast extension on the checkout/success page to update order information such as order date time and s

[2020-08-03 11:22] ryanmitchell commented on #442
No problem. So add admin panel options for max orders and reservations per time slot, and once that number is met prevent orders (maybe even hide the time slot?).

Thanks for clarifying

Do you have a layout in mind for it, or should I just work from a blank slate?

Is this in the admin panel? I mean't for end customers. If there is a link do you know where I can find it - I don't recall seeing it

[2020-08-05 14:30] #440 closed

[2020-08-05 14:58] sampoyigi commented on #442
Right

It should use the current layout with the addition of a progress bar or something `fancy` below/above the status name and comment

The frontend order page displays a review form when the order reaches a completed status. One can easily use the Review component on a new page if they want a separate page for adding reviews.

<img width="852" alt="Screenshot 2020-08-05 at 15 56 53" src="https:

[2020-08-06 11:13] ryanmitchell commented on #442
Don't know how I missed the review page - thanks for highlighting it.
I've opened PRs for the others.

[2020-08-07 06:52] ryanmitchell opened #449 "Lead time"
**Expected behavior:**
When I enter a lead time of zero, it should use that value

**Actual behavior:**
It uses the default value (15)

**Reproduce steps:**
Set a lead time of zero on pickup or delivery

**Version:**
Beta22.2

**Additional Information:**
It seems to be the ternary operator (?:) treating 0 as false.
The issue also seems to filter down into flame/AbstractLocation as if I set the def

[2020-08-07 07:31] ryanmitchell opened #450 "Pre-order timeslots"
**Expected behavior:**
Pre-order for pickup should show the number of days in advance selected, even if pre-order for delivery is unavailable.

**Actual behavior:**
If pre-order for delivery is unavailable the number of days is ignored and 1 day is assumed.

**Reproduce steps:**
Set pre-order for pickup to 7 days
Set pre-order for delivery to disabled

**Version:**
Beta22.2

**Additional Informati

[2020-08-09 19:27] BlueRayNL opened #451 "Problem with special prices error on menu display frontend"
**Expected behavior:**
The menu should be displayed with discount products and normal products

**Actual behavior:**
following error is trown ->
in_array() expects parameter 2 to be array, null given

**Reproduce steps:**
1. Add a new product
2. give it a price and a category.
3 save the product.
4. go to special tab and click
 - fixed ammount
- special price ( what ever price)
-  select recuring

[2020-08-10 07:33] ryanmitchell commented on #451
Thanks for reporting this.

Can I just check that you are using the latest version of the orange theme - I've tried testing this on latest beta and orange theme and can't reproduce the issue.

[2020-08-10 08:03] ryanmitchell commented on #439
@BlueRayNL Can we close this one off as the original issue has now been fixed?

[2020-08-10 08:11] BlueRayNL commented on #451
Hi Ryan,

i am using version v2.5.0
i think this is the latest version of orange theme.

[2020-08-10 08:13] ryanmitchell commented on #451
@BlueRayNL - I was able to replicate the issue, see here for an initial fix (approach may change):
https://github.com/tastyigniter/TastyIgniter/pull/452

[2020-08-10 08:17] BlueRayNL commented on #451
Great ! thanks ryan

[2020-08-10 08:27] BlueRayNL commented on #439
yes we can :)

[2020-08-10 09:11] ryanmitchell commented on #439
Great, if you could close it that would be great.

[2020-08-10 09:17] #439 closed

[2020-08-10 09:17] #451 closed

[2020-08-10 12:46] #449 closed

[2020-08-10 13:12] #450 closed

[2020-08-11 09:33] BlueRayNL opened #453 "Problem with reservation module time's not correct"
**Expected behavior:**
Show reservation possibility's within the scheduled opening times for every hour.

**Actual behavior:**
Showing reservation possibility's in time blocks during the whole day.

**Reproduce steps:**
1. setup opening time's from Thuesday till sunday from 15:00 till 22:00
2. set allow reservations to true
3. set first interval to 15.
4. set second interval to 60.
5. click save.

[2020-08-12 10:50] ryanmitchell commented on #442
I think something else that would be worth adding before stable is allergens.

So a new area in the admin for adding an allergen maybe similar to menu options. Allergens have text and optionally an image. Then on the front end they are displayed under the menu item either as text or image (can be selected in the component).

The only UI issue for me would be how to mark allergens as being on a men

[2020-08-12 11:35] babelattke commented on #442
Finally something I think I can help with. Most of the changes I do are slight modifications to the code. Bu I've been working on an extension that started with that concept (Allergens) but ended up being like a Menu Items Tag. I based the idea on categories assignation behavior so an item can be related to more than oneand then displayed in the storefront. I was able to make it work as an extensi

[2020-08-12 11:43] ryanmitchell commented on #442
@babelattke this looks like a great start - similar to what I was thinking. But the same UI issue - of how do we attach it to menu option eg for some of our restaurants we have a flavour as the main menu item (e.g. Curry sauce), then you choose the filling as a menu option (Chicken, Prawn, Vegetables). So the menu option would need an allergen somehow too.

Any thoughts on this @sampoyigi ?

[2020-08-14 11:04] sampoyigi commented on #442
@babelattke this is great, I would have gone with the menu item tag approach as well. Great work by the dev :) Do you have the extension on a public repo?

I think it will be attached the same way as the menu. Using the tags approach both menu items and options can have same or different tags.

[2020-08-14 13:43] babelattke commented on #442
@sampoyigi no I haven't upload that yet because as I mentioned it's not complete. However I'll do it later today. After that should I add you guys as a contributors or transfer the repo to you ?

[2020-08-14 13:57] roydeanjr commented on #252
What time of day is good for screen sharing?

[2020-08-14 13:59] roydeanjr commented on #252
So, the debug extension shows the query for fetching orders. I commented out the parameter for today's orders and updated the status to reflect my "complete" status ID. The query returns 2 orders, but nothing displays on the page. Suggestions?

[2020-08-14 14:07] ryanmitchell commented on #252
@roydeanjr i reached out on slack and email as i was free but i've not received a reply and need to head on.

I've pushed 2 updates to the extension which may help the issue you are experiencing - can you download the latest and let me know if that helps?

If not, would you be able to give me access to your system so I can look into it, or can we set up a time for a screen share? Email me directly

[2020-08-14 15:28] sampoyigi commented on #442
Hmm, what do you think @ryanmitchell? Say we work on the Allergens feature as a contributed extension, who maintains it and under what vendor?

[2020-08-14 15:40] ryanmitchell commented on #442
Would it be an extension or do you think it would be in core? My vote would be in core for what its worth - feels like something important.

If not I'm happy to take it on.

[2020-08-15 20:07] sampoyigi commented on #442
Calm, you can work to add it to the core.

[2020-08-17 07:49] ryanmitchell commented on #442
@babelattke any luck uploading it somewhere to give me a base to work from?

[2020-08-17 13:32] babelattke commented on #442
@ryanmitchell my bad, sorry for the delay. I just uploaded the files and added both of you as collaborators.

https://github.com/babelattke/ti-ext-tags

Please let me know if something else is needed.

[2020-08-17 14:07] ryanmitchell commented on #442
@babelattke Perfect - thanks.

[2020-08-23 14:57] tirolel opened #461 "Jumping issue on /menus"
**Expected behavior:**
it should not be jumpy when the client tries to scroll

**Actual behavior:**
The scroll gets jumping effect when there is more than 15-20+ categories

**Reproduce steps:**
In the admin add 20 categories and check the behavior

**Version:**
Latest (3.0.4 beta 22.2)

**Additional Information:**
The issue also exist on the demo frontend page.
`( open dev console and add few dum

[2020-08-25 19:10] ryanmitchell commented on #461
I take it the jumping is happening on the front end - is it on the menu page?

[2020-08-25 19:12] shyamjptpm opened #463 "File not found exception on location edit after uploading image(s3) in location."
**Expected behavior:**
It should show edit screen with uploaded image thumbnail

**Actual behavior:**
getting error with the following message
`League \ Glide \ Filesystem \ FileNotFoundException
Could not find the image 5f451882e82c4888921869.jpg.`

**Reproduce steps:**
Configure media and attachment to S3
add a new location and add an image in the gallery tab

**Version:**
v3 / V2.1.1(both versi

[2020-08-26 06:46] ryanmitchell commented on #463
Can you post the full error message please?

[2020-08-26 06:58] ryanmitchell commented on #453
@BlueRayNL are you able to work on a pull request to amend this to work how you want?

[2020-08-26 07:00] BlueRayNL commented on #453
Hi, I can however am really bussy atm. I will look into it somewhere this weekend.

[2020-08-26 07:00] shyamjptpm commented on #463
1/1) FileNotFoundException
Could not find the image `5f45cfeda5ca0650790618.jpg`.

in Server.php line 499
at Server->makeImage('5f45cfeda5ca0650790618.jpg', array('fit' => 'contain', 'w' => 122, 'h' => 122, 'q' => 90, 'sharp' => 0))
in Manipulator.php line 68
at Manipulator->manipulate(array('fit' => 'contain', 'width' => 122, 'height' => 122, 'quality' => 90, 'sharpen' => 0))
in Media.php line 56

[2020-08-26 07:04] ryanmitchell commented on #463
Yeah this is what I expected - I've been unable to test and replicate but I narrowed down the issue to that function.

If you look to amend the manipulate() function in vendor/tastyigniter/flame/src/Database/Attach/Manipulator.php.

My suggestion would be to check if the file is remote (presence of :// in the name) a before line 60, and if so download the file to a temp location, and then change l

[2020-08-26 08:14] tirolel commented on #461
@ryanmitchell
its on the frontend, where the categories is shown.
I have added an URL to gif image to visualize the issue.

https://lavida9900.dk/ezgif-2-c09dfc82c7b4.gif

[2020-08-26 09:27] shyamjptpm commented on #463
The file is not remote (attachments/public/5f4/518/82e/5f451882e82c4888921869.jpg). but it is uploaded in s3 But TastyIgniter looking in local folder.

[2020-08-26 13:11] LonnyX opened #464 "Empty slug should be possible for single Restaurant"
I wonder if it's possible for single restaurant toi avoid repeating name in URL.

Force instance, imagine my restaurant is called Tasty so the url will be :
`www.tasty.com/tasty/menus/`

Notice the tasty word is repeated twice and It's weird. What if we only have one restaurant ?

[2020-08-27 09:29] ryanmitchell commented on #464
You can do this with a few changes to the php code.

in themes/tastyigniter-orange/pages/local/menus - change the permalink to /menus/:category?
then in
extensions/igniter/local/components/Menu.php - amend $param = in checkLocationParam() to be $param = $this->param('location') ?? 'default';

I havent' tested extensively, but that should get you started.

[2020-08-27 09:40] LonnyX commented on #464
it worked but instead of 'default' should be 'local'.

Thank you

[2020-08-27 09:40] #464 closed

[2020-08-27 10:11] ryanmitchell commented on #461
@babelattke Would you have time to see if you can replicate this and work on a fix?

[2020-08-27 12:00] babelattke commented on #461
@ryanmitchell Absolutely. I'll take a look and work on a fix.

[2020-08-27 14:01] sampoyigi commented on #463
Found the issue, you can try the fix.

[2020-08-27 15:00] shyamjptpm commented on #463
It worked. Thank a lot @sampoyigi

[2020-08-27 15:00] #463 closed

[2020-08-28 02:46] babelattke commented on #461
@tirolel Would you mind to share TastyIgniter and OrangeTheme versions? I tested with 20 categories and wasn't able to reproduce the error. However found a different one. Gonna send a PR to fix it.

**TastyIgniter:** v3.0.4-beta.22.2
**OrangeTheme:** v2.5.0
**Chrome:** 84.0.4147.125
**FirefoxDeveloper:** 81.0b2

https://imgur.com/a/WYFqXho

[2020-08-28 03:30] shyamjptpm commented on #463
system settings is having an error. add a line in MediaLibrary.php  in getMediaThumb function
`->useSource($this->getStorageDisk()->getDriver())`

Manipulator::make($filePath)
                   ->useSource($this->getStorageDisk()->getDriver())
                   ->manipulate(array_except($options, ['extension', 'default']))
                   ->save($thumbPath);

[2020-08-28 10:11] tirolel commented on #461
@babelattke
I see. But I think I have found how to replicate the bug.
If you add 20 categories and some of the categories are parent for some of them.
For example: Lets say you have 20 categories(some of them are parent). And some of the parent categories has 3-4 children  then the jumping is hapening on scroll.

Here is the versions:
Orange Theme: v2.5.0
TastyIgniter: 3.0.4 beta 22.2

[2020-08-28 17:01] babelattke commented on #461
@tirolel Please do this changes

**themes/tastyigniter-orange/_layouts/local.php**

Current:
[code]
New:
[code]

**themes/tastyigniter-orange/assets/src/scss/pages/_menu.scss**

Add:
[code]

Go to _Design -> Themes -> Orange Theme -> Save_

This will create the new CSS file with the change. Please test and let me know the results.

If that works I'll send a PR to add it on the official theme repo.

[2020-08-29 03:30] SupperDog commented on #461
I had this issue before but I solved it by reducing the number of categories. With the current orange theme, customers are not possible to see bottom categories on PC anyway, if their screen is not high enough. Hope some changes will allow categories to be scrollable.

[2020-08-29 04:04] babelattke commented on #461
@SupperDog have you tried the last fix? It makes categories scrollable. If doesn't work please let me know so I can work on a different approach.

[2020-08-30 11:48] tirolel commented on #461
@babelattke
I can confirm that the fix have definitely worked and fixed issue!
Thank you.

[2020-08-31 13:48] babelattke commented on #461
@tirolel thanks for your validation.
@ryanmitchell can you close the issue please?

[2020-08-31 13:49] ryanmitchell commented on #461
@tirolel can you close this off if you are happy it’s been fixed?

[2020-08-31 19:01] #461 closed

[2020-09-04 09:39] ryanmitchell commented on #442
@sampoyigi On "API: use JSON:API specification in response" - from what I can see we need to:

1. change data to objects to have type, id and attributes, with the current values falling under attributes
2. add prev/next in links and amend last to be a correct value
3. add correct values for last_page and total in meta

Did you have any other changes or requirements?

the spec also recommends camel

[2020-09-04 14:12] ryanmitchell commented on #453
@BlueRayNL just checking - have you made any progress on this? I can work with you on it

[2020-09-04 15:56] sampoyigi commented on #442
@ryanmitchell yep, that's pretty much it from what I remember. Leave this one to me as apart from JSON API compliant, I also want to improve the transformer code API to provide full support for handling relationships, multiple media-types something similar to https://github.com/cloudcreativity/laravel-json-api

[2020-09-07 11:46] sitsegypt opened #470 "Class 'Laravel\Dusk\DuskServiceProvider' not found"
I got the error Class 'Laravel\Dusk\DuskServiceProvider' not found

during upgrade to V3.0.4beta22.3

[2020-09-07 12:02] sampoyigi commented on #470
Fixed here https://github.com/tastyigniter/TastyIgniter/commit/ad5de1462a183a4a50e4a0c092247eeeb0d263ab#diff-54f98b8c4330f715487a9d6322f80f6d

[2020-09-07 12:22] sitsegypt commented on #470
solved now
Thanks

[2020-09-07 12:22] #470 closed

[2020-09-07 21:15] salamaahm opened #472 "All mail templates error after upgrade V3.0.4Beta22.4"
all mail templates are giving the below error (although the logo is in the below path)

"Could not find the image `home/lebanesebakery/public_html/assets/media/uploads/Arabic-Logo-small.png`. (View: /home/lebanesebakery/public_html/storage/system/templates/574/80b/57480b737c0a703f43bc964fb293f04e.php)" on line 499 of /home/lebanesebakery/public_html/vendor/league/glide/src/Server.php#0 /home/leban

[2020-09-08 16:15] Ofraz opened #473 "General settings menu can´t open"
**Expected behavior:**
Open Setting to set language, Location API

**Actual behavior:**
![imagen](https://user-images.githubusercontent.com/54601830/92501665-79f1df80-f1c4-11ea-8229-74481cfdad4a.png)

**Reproduce steps:**
Go to general settings
**Version:**
3.0.4-beta.22.4

**Extra observations:**
Also, if you put a custom image to a theme it throws the error.

[2020-09-08 22:17] roydeanjr commented on #472
An interesting situation to note: This error seems to only occur in the admin pages. The front end seems to get served up ok.

I have the same situation (slightly different), same message but mine is happening on any reference to old media that I add to a theme or to menu items, etc. The path includes the entire set of folders at the hosting company, not from my home directory.

I have not looked

[2020-09-10 03:10] roydeanjr commented on #252
This issue is being solved with an extension called Kitchen Display.
With the help of Ryan Mitchell @ryanmitchell, and tweaks by me, this extension is ready for additional testing and input.
You can find the latest version of this extension at https://github.com/ryanmitchell/ti-ext-kitchendisplay. Simply download and copy the extracted files to /extensions/thoughtco/kitchendisplay, enable the exte

[2020-09-10 11:46] #252 closed

[2020-09-11 09:18] ideohk opened #474 "Fail during installation - Connection failed: MySQL version 5.6.10 or greater required"
**Expected behavior:**
Pass the Database setting during installation

**Actual behavior:**
Fail the Database setting during installation:
Connection failed: MySQL version 5.6.10 or greater required

**Reproduce steps:**
Install via setup wizard

**Version:**
v3.0.4-beta.22.2

**Additional Information:**
Pass the server requirement test and can be installed previous version

[2020-09-11 19:42] roydeanjr commented on #473
Same issue as #472!

[2020-09-11 19:43] roydeanjr commented on #474
Make sure the highest version of php is selected on your webhost as possible. Running cPanel? Use PHP Selector or PHP Multiselector.

[2020-09-11 19:53] ideohk commented on #474
Already using PHP 7.2

[2020-09-11 19:57] roydeanjr commented on #474
Is this a new install or an upgrade?

[2020-09-11 20:01] ideohk commented on #474
It's a new install.

[2020-09-11 20:13] roydeanjr commented on #474
Ok, did you select the No theme or extensions option or install with the theme selected?

[2020-09-12 05:07] ideohk commented on #474
Setup process fail and stop at Database Settings as attached, did not reach the theme/extension installation page.
![Screenshot 2020-09-12 at 13 04 48](https://user-images.githubusercontent.com/26703886/92987850-e50b2100-f4f8-11ea-908e-0153e10a97ab.png)

[2020-09-12 09:01] roydeanjr commented on #474
Change your hostname to localhost. Any difference?

[2020-09-12 09:05] ideohk commented on #474
No difference.

[2020-09-12 11:40] sampoyigi commented on #474
Fixed: https://github.com/tastyigniter/setup/commit/fd9a48ad178de7de9e9f7142cb666619eabe9cd4

[2020-09-12 11:40] #474 closed

[2020-09-12 12:18] #406 closed

[2020-09-14 01:32] roydeanjr opened #475 "Cannot install using composer"
**Expected behavior:**
Expected this command `composer create-project tastyigniter/tastyigniter . --stability=beta` would install the stable beta version of tastyigniter.

**Actual behavior:**
![image](https://user-images.githubusercontent.com/36243458/93034448-aca23a80-f5ff-11ea-8be9-286ce0eb0833.png)

**Reproduce steps:**
create empty directory, cd to that directory and type that command. (you m

[2020-09-14 08:00] bingo-bonzai opened #476 "Error on MenuItem add/edit/delete : SQLSTATE[42S02]: Base table or view not found: 1146 Table 'tastydb.ti_allergens' doesn't exist (SQL: select * from `ti_allergens`)"
**Expected behavior:**
Whenever i try to add or edit or delete any Menu item, it should allow me to do so.
**Actual behavior:**
(Describe actual behavior here)
However it gives the following error
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'tastydb.ti_allergens' doesn't exist (SQL: select * from `ti_allergens`)
**Reproduce steps:**
(Describe the steps to reproduce the problem here)

[2020-09-14 08:04] bingo-bonzai opened #477 "Mealtimes does not Location selection option"
**Expected behavior:**
Different Locations may have different Mealtimings. So user should be able to create Mealtimes specific to a location.
**Actual behavior:**
Currently it does not allow you to do so.
**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
(TastyIgniter v3.0.4-beta.22.2)

**Additional Information:**
(Additional information, if any)

[2020-09-14 09:33] ryanmitchell commented on #477
Yeah its on the roadmap for final v3:
https://github.com/tastyigniter/TastyIgniter/issues/442
If you have time to work on it and open a PR please do.

[2020-09-14 11:06] ryanmitchell commented on #476
Sounds like you've managed to pull in some code from the next beta - did you update in the last few days?

[2020-09-14 11:15] bingo-bonzai commented on #476
Well i i did try the Update feature under System->Updates to update from 2.22.to 2.24 few days back, however it failed with some errors, so not sure if it did a part update. MenuItems were working fine before that.

So what would you advice me?
1) manually revert to back to 2.22 with a raw source copy or
2) manually overwrite 2.22 to 2.24 version as it seems to have a "Fix for Update feature"

If

[2020-09-14 11:16] ryanmitchell commented on #476
It looks like some of the update has applied.
I would go for option 1 for now.

Either that or wait for the next beta, which should be out in the next week.

[2020-09-14 11:44] bingo-bonzai commented on #476
Ok thanks for the advise. A quick check, is 2.22 update feature intact or broken? bcos i saw comment "Fix update issues" for 2.24 release. If broken then i may have to manually update to 2.25

[2020-09-14 11:45] ryanmitchell commented on #476
Any version of v3 is still in beta with regular improvements and updates being applied.

[2020-09-14 11:48] bingo-bonzai commented on #476
Ok can you pls point me to the specific php files responsible for this error? so that i can try a roll back of only those files to 2.22

[2020-09-14 12:32] ryanmitchell commented on #476
I cant' see the files from your error stack trace - you would need to just identify them from that. It may be that creating the database table is enough:
https://github.com/tastyigniter/TastyIgniter/blob/develop/app/admin/database/migrations/2020_08_18_000300_create_allergens_table.php

[2020-09-14 13:55] sampoyigi commented on #475
This error is more related to your host machine or composer than tastyigniter. Try `composer self-update`

[2020-09-15 08:15] #472 closed

[2020-09-15 14:03] #473 closed

[2020-09-16 08:07] ideohk opened #478 "Localisation - Languages: newly added language won't show"
**Expected behavior:**
show selected language

**Actual behavior:**
nothing change

**Reproduce steps:**
Localisation - Languages
- add new language: Chinese, zh_TW
- edit language with translation
System - Setting - General
Site - change default language to Chinese

**Version:**
v3.0.4-beta.23

**Additional Information**
Chinese characters are shown after I edit app/main/language/en/lang.php dire

[2020-09-16 08:23] ideohk opened #479 "Checkout shows error message"
**Expected behavior:**
Complete the order after payment is made and return to successful page.

**Actual behavior:**
Show the error page as attached. (But the order is received and email is received)

**Reproduce steps:**
select products - checkout via PayPal express

**Version:**
v3.0.4-beta.23

![Screenshot 2020-09-16 at 16 20 20](https://user-images.githubusercontent.com/26703886/93311756-fb86e

[2020-09-16 09:16] FlandreDaisuki commented on #478
You can ref https://tastyigniter.com/docs/master/advanced/localization

and follow the structure below:

[code]

[2020-09-16 09:55] ideohk commented on #478
Thanks for your comment. Is the attached file structure correct? It is inside app/main/language. I have also tried to put the language folder in app/ and web root but still the same.

![Screenshot 2020-09-16 at 17 49 03](https://user-images.githubusercontent.com/26703886/93322017-70601b80-f845-11ea-9493-0b76275464af.png)

[2020-09-16 10:08] FlandreDaisuki commented on #478
The folder right hand side is download and unzip from [crowdin](https://crowdin.com/project/tastyigniter/zh-TW)
Put 4 selected folder into `<project root>/language/zh_TW/`

<img width="1068" alt="截圖 2020-09-16 下午6 00 06" src="https://user-images.githubusercontent.com/5981459/93323362-17918280-f847-11ea-93ba-e6b798262b1d.png">

[2020-09-16 10:31] ideohk commented on #478
Have added the language/zh_TW at root. Type some Chinese text in translation but it still haven't shown. Please advise. Thanks.
![Screenshot 2020-09-16 at 18 29 35](https://user-images.githubusercontent.com/26703886/93325894-9936df80-f84a-11ea-96b1-0203300ba250.png)
![Screenshot 2020-09-16 at 18 29 09](https://user-images.githubusercontent.com/26703886/93325912-a0f68400-f84a-11ea-820a-aafbe8f4fb9e

[2020-09-16 16:00] sampoyigi commented on #478
Might need clearing your application cache using the Cache dashboard widget or `php artisan cache:clear`

[2020-09-16 16:29] sampoyigi commented on #479
Looks like the `redirectPage` and `successPage` component settings are not set.

https://imgur.com/SxAQnpu

[2020-09-16 18:34] roydeanjr commented on #472
Confirming this issue is definitely fixed in beta.23! Thank you, Sam!

[2020-09-16 18:35] roydeanjr commented on #473
Confirming this issue is definitely fixed in beta.23! Thank you, Sam!

[2020-09-17 04:23] ideohk commented on #479
The redirectPage and successPage were set as attached.
![Screenshot 2020-09-17 at 12 18 54](https://user-images.githubusercontent.com/26703886/93419817-60494a00-f8e0-11ea-8cb5-af914869ed6c.png)

[2020-09-17 20:32] bingo-bonzai commented on #476
@ryanmitchell a 2nd update from Admin panel successfully completed the update to 2.24 and resolved the missing table error. This issue may be closed pls.

[2020-09-18 05:34] ryanmitchell commented on #476
Good to hear. You should be able to close the issue (I can't on my side)

[2020-09-18 07:00] ryanmitchell opened #481 "Coupons_model extension"
I would like to extend Coupons_model in core to allow discounts on specific menu_items or categories of menu_items... e.g. 50% off starters, 50% off a specific main course.

Adding the UI to the admin panel would be easy enough to do, however calculating the CartCondition coupon value would require some changes to ext/cart and flame/CartCondition.

Looking through the code, processValue() in flame

[2020-09-18 07:45] ryanmitchell commented on #475
@roydeanjr would you mind closing this issue?

[2020-09-18 08:24] ryanmitchell commented on #477
@bingo-bonzai work in progres here: https://github.com/tastyigniter/TastyIgniter/pull/482

[2020-09-18 11:29] sampoyigi commented on #481
Man, you're killing it!!! I can't even keep up lol. Love the idea 👍

[2020-09-18 12:01] ryanmitchell commented on #481
Ha :)
Does the logic I proposed seem right to you?

[2020-09-18 14:46] #475 closed

[2020-09-18 14:49] roydeanjr commented on #475
I am unable to update my development virtual machine due to errors in the SHA1 signatures of the Linux updates, so, yes, closing this issue is done until I can actually attempt the composer install again. No telling when that will be.

[2020-09-19 16:43] bingo-bonzai opened #487 "It would be Apt to have a location specific Payment register"
**Expected behavior:**
Each location should have a separate payment register as quite a number of businesses maintain separate Merchant accounts due to franchisee or location specific partnership

**Actual behavior:**
Currently we have a global payment register at Site level

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
(TastyIgniter v3.0.4-beta.23

**Addit

[2020-09-20 09:45] sampoyigi commented on #478
This issue looks resolved. Closing, but please reopen if it still occurs.

[2020-09-20 09:45] #478 closed

[2020-09-20 10:11] sampoyigi commented on #479
Are you using the latest version of the Cart and Pay Register extensions?

[2020-09-20 10:18] sampoyigi commented on #476
This issue looks fixed. Closing, but please reopen if it still occurs.

[2020-09-20 10:18] #476 closed

[2020-09-20 10:41] sampoyigi commented on #422
This issue is fairly old and there hasn't been much activity on it. Closing, but please reopen if it still occurs.

[2020-09-20 10:41] #422 closed

[2020-09-20 16:38] ryanmitchell commented on #487
@sampoyigi This is what I mentioned a couple of months back - that you can have multiple of a payment provider on each install, as a chain might be using TI but want money to go into separate accounts.

[2020-09-20 16:40] ryanmitchell opened #490 "Autocomplete on addresses"
As requested here:
https://forum.tastyigniter.com/d/2055-tastyigniter-v304-beta23-released#7851

Autocomplete on user addresses using (Google?) address API.

[2020-09-21 04:59] ideohk commented on #479
I have enabled 'edge update' but got error for Pay Register update:
Download failed, File hash mismatch: ac006f17ac0540e93c661330d2bd2ed3ce82ac70 (expected) vs 5e03493ae83d0fa99b303d74d0a6f3a788173f89 (actual)
Cart module update successfully and seems the issue is resolved after this.

[2020-09-21 11:19] ryanmitchell commented on #481
Ok, I've opened proposed changes on cart and flame to handle this - let me know what you think.

[2020-09-21 19:20] roydeanjr opened #492 "Upgrade error 2.1.1 to beta.23"
**Expected behavior:**
Expected the Demo page to appear, but setup failed.

**Actual behavior:**
Setup ran ok except at the end this message displayed in the upper right corner of the page:

**This is from the end of the setup.log file:**
[2020/09/21 06:58:23] => Foundation setup: finishInstall
[2020/09/21 01:58:27] => Handler error (onInstall): Undefined property: stdClass::$status_for
[2020/09/2

[2020-09-22 07:49] ideohk opened #493 "Error on add item into cart"
**Expected behavior:**
Item add into cart

**Actual behavior:**
No item is added with error:
""Trying to get property 'mealtime_name' of non-object" on line 290"

**Reproduce steps:**
Add item into cart

**Version:**
v3.0.4-beta.23

[2020-09-22 09:02] ryanmitchell commented on #493
@ideokh can you provide a full stack trace and I will look into it

[2020-09-22 09:21] ryanmitchell commented on #479
@ideohk if this issue is resolved could you close off the issue?

[2020-09-22 09:22] ryanmitchell commented on #453
@BlueRayNL I've been working on a new reservation process, which is open as  PR here: https://github.com/tastyigniter/ti-ext-reservation/pull/4

Can you close this issue off?

[2020-09-22 09:23] #479 closed

[2020-09-22 09:26] ideohk commented on #493
2020-09-22 15:49:08	ErrorException: Trying to get property 'mealtime_name' of non-object
in /home/somedirectory/public_html/restaurant.somedomain.net/extensions/igniter/cart/classes/CartManager.php:290
Stack trace:
#0 /home/somedirectory/public_html/restaurant.somedomain.net/extensions/igniter/cart/classes/CartManager.php(290): Illuminate\Foundation\Bootstrap\HandleExceptions->handleError(8, 'Tryi

[2020-09-22 09:37] ryanmitchell commented on #493
Thanks, here's a PR with an initial fix:
https://github.com/tastyigniter/ti-ext-cart/pull/25

[2020-09-22 11:52] #493 closed

[2020-09-22 12:06] sampoyigi commented on #481
Great! I'll take a look at it as soon as possible!

[2020-09-22 12:50] sampoyigi opened #494 "Locationable scope should be applied on the relation form field types"
Discovered while testing #482, when staff is restricted to a specific location, they can see records/entities from locations they are not assigned to. For example, Category A attached to Location B should not be available as a dropdown option for Staff A assigned to Location A.

Just adding this here for reference.

[2020-09-24 05:41] ideohk opened #495 "":subject.customer_name" shows on notification"
**Expected behavior:**
Show reservation customer name on notification

**Actual behavior:**
:subject.customer_name is shown

**Reproduce steps:**
Reserve a table

**Version:**
latest beta version
![Screenshot 2020-09-24 at 13 38 14](https://user-images.githubusercontent.com/26703886/94105343-a451c700-fe6b-11ea-9daf-8b1abb60598a.png)

[2020-09-24 08:51] ryanmitchell commented on #495
I can confirm this bug... can you try applying the below to fix it?

in extensions/igniter/reservations/activitytypes/ReservationCreated change the getMessage function to be:
[code]

then in extensions/igniter/reservations/language/en/default.php change the string keyed by `activity_reservation_created` to be `<b>%s</b> created a reservation.`

let me know if this works for you

[2020-09-24 09:02] ideohk commented on #495
Changed the code and got these errors:

2020-09-24 16:59:32	Exception: Property [full_name] does not exist on this collection instance.
in /home/somedirectory/public_html/restaurant.somedomain.net/vendor/laravel/framework/src/Illuminate/Support/Traits/EnumeratesValues.php:815
Stack trace:
#0 /home/somedirectory/public_html/restaurant.somedomain.net/extensions/igniter/reservation/activitytypes/Rese

[2020-09-24 09:41] ryanmitchell commented on #495
Sorry, getMessage should be

[code]

[2020-09-24 09:53] ideohk commented on #495
It fixes the issue. Thanks.

[2020-09-24 09:53] #495 closed

[2020-09-24 10:19] ryanmitchell commented on #495
Great, glad to help

[2020-09-24 11:07] bachini22 opened #497 "Product lead times"
**Expected behavior**
System should consider product lead times and schedule earliest delivery at the longest product(longest lead time) - some products make take 24 hours to make and some faster.

**Actual behavior:**
No lead times for products currently

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
Latest stable version

**Additional Information:**
(Addit

[2020-09-24 19:35] #494 closed

[2020-09-27 12:20] sampoyigi commented on #497
This issue has no reproducible steps. Please reopen this issue if it still occurs, with a set of reproducible steps.

[2020-09-27 12:20] #497 closed

[2020-09-28 15:59] bingo-bonzai commented on #487
@sampoyigi request your thoughts on this...
@ryanmitchell

[2020-09-29 01:36] sampoyigi commented on #487
It defintiely would be nice to have but am not convinced its a common-enough use case to add to the core or payregister extension. It could be better left to a third-party extension.

[2020-09-29 07:44] ryanmitchell commented on #442
`Improve opening hours: suspend ordering for the current day, special hours, block dates and time (tableagent)`

I don't know if you've seen how Facebook ads handles scheduling, but its pretty intuitive. You can drag and highlight hours in the day, and you can have multiple and seperate blocks in a day, which is pretty nice. See attached screenshot.
![Screenshot 2020-09-29 at 08 41 08](https://use

[2020-09-29 08:31] bingo-bonzai commented on #487
@sampoyigi believe me its not un-common. I have come across at least 3-4 franchise Brand owners who franchised their brand to  other businessmen each of whom have their own separate receivable accounts (i.e. Merchant accounts). The Franchise Brand owners keep a separation of these accounts to decentralize Tax liabilities to respective business owners.

Hence a location specific payment register wh

[2020-09-29 12:57] sampoyigi commented on #487
@bingo-bonzai that's my point exactly, its a common case for franchise owners, but not the case for restaurant chains or single location restaurants.

You could see TastyIgniter more as a framework offering the basic features for restaurant management, online ordering and booking, with the option to extend/customise through extensions/themes rather than a complete platform since how people decide

[2020-09-30 15:05] sampoyigi opened #498 "Missing MapView marked area in New Develivery Area modal"
**Expected behavior:**
Should be able to edit the marked areas when adding a new delivery area.

**Actual behavior:**
Map centering issue and missing marked area for both shape and circle area type

**Reproduce steps:**
* Go to Restaurant > Location > Delivery > Add new area
* Select Shape or Circle Area type

**Version:**
beta3

**Additional Information:**
(Additional information, if any)

[2020-09-30 15:45] sampoyigi commented on #442
This definitely solves a lot of design issue with the current controls, I love it! People looking for split opening hours would love this!

I actually started working on this a few days ago but got stuck rending the controls, created a new `ScheduleEditor` form widget which we can work with. I'll update you here once I've pushed my local branch so we can base the PRs off it.

[2020-09-30 16:04] sampoyigi commented on #442
Branch pushed: [feature/schedule-editor-widget](https://github.com/tastyigniter/TastyIgniter/tree/feature/schedule-editor-widget)

I'll leave the milestone to you to complete ;) We should also implement working schedule overrides.

[2020-09-30 16:22] ryanmitchell commented on #442
Ha thanks :)  I should get some time on it this week and we can see what still needs done after that.

[2020-10-01 10:14] ryanmitchell commented on #498
Good spot - sorry for missing that.

Its due to there not being an areaId, so some defaults are required. I've pushed a PR.

[2020-10-01 12:29] sampoyigi opened #501 "Add new util command to delete duplicate view files created after update to v3.beta23+"
After an update from beta23 to beta23.1 we are left with both old views and new blade files, no errors from this so far but we should add a util command in the next update to remove old view files.

[2020-10-01 12:32] sampoyigi commented on #498
No problem at all! I'll review that soon 👍

[2020-10-01 14:40] tirolel opened #502 "SiteKey (Carte) cant be changed, re-entered"
**Expected behavior:**
Should be able to change site-key (carte), or re-enter it with a success msg.

**Actual behavior:**
Nothing happens on admin dashboard.
Error logs filled with: An account ID and license key are required to use this service.
When I enter Carte Key, Nothing happens, no message nor error.
This issue preventing me with using printer service, since its paid service.

**Reproduce

[2020-10-01 16:37] ryanmitchell opened #503 "Logged in user received message to login when checking out"
As described here:
https://forum.tastyigniter.com/d/2082-logged-in-user-receives-message-to-log-in-when-checking-out

Running v3.0.4-beta.23.1 on Ubuntu 20

Created ‘test’ user account by registering (rather than in Admin panel). User appears in admin panel as customer and is active.

Sign in as customer, add items from menu and click checkout. Receive the following yellow message: “Almost There,

[2020-10-02 07:14] ryanmitchell commented on #503
I've been able to replicate the issue, and tie down the issue to the is_activated field in the customers table. When it is set to 0 you can't proceed, but when set to 1 you can.

Does something need amended around here:
https://github.com/tastyigniter/ti-ext-user/blob/191d10005e5b0514b881e5733fef896991d321ee/components/Account.php#L218
To pass is_activated and activated_date when autoactivation is

[2020-10-02 11:02] salamaahm opened #504 "All mail template are not working after upgrade to V3.0.4 Beta 23.1"
**Expected behavior:**
Expected that customers and admin receive e-mails

**Actual behavior:**
No emails received

**Reproduce steps:**
Tried test to test the mail templates and when I click send test message, I get the below error.

"Call to a member function getFilePath() on null" on line 128 of /home/lebanesebakery/public_html/vendor/tastyigniter/flame/src/Pagic/Loader.php#0 /home/lebanesebaker

[2020-10-02 11:17] sampoyigi commented on #504
Yep, that's a bug but it doesn't seem to affect sending mails in other parts of the app. Thanks a lot for opening this issue! I'll get back to this later!

[2020-10-02 11:19] #498 closed

[2020-10-02 11:22] salamaahm commented on #504
For my side all mails are not working, the only thing is working that from settings I can test the SMTP, but I found a temp solution by restoring loader.php & Template.php under this path /public_html/vendor/tastyigniter/flame/src/Pagic from the previous version

[2020-10-02 12:21] sampoyigi commented on #481
Just had another look at the changes here, can you explain with example what you're trying to do here, there could be a different approach.

[2020-10-02 12:27] shelemiah opened #505 "Unable to edit/create Staff Roles"
**Expected behavior:**
In the Admin Panel clicking on **Users** -> **Staff** -> **Roles** -> **New Role** or **Edit Role** should give the user the ability to create a new staff role or modify existing roles.

**Actual behavior:**
Clicking on **New** or **Editing** an existing role generates the following error:

ErrorException
Undefined variable: permissions

**Reproduce steps:**
1. Upgrade to ve

[2020-10-02 12:35] ryanmitchell commented on #481
The most obvious use cases are a coupon with a discount of 50% off items in a specific category, or a discount off a certain item only. In order to achieve we need to be able to calculate what items in the cart the discount applies to.

[2020-10-02 13:48] sampoyigi commented on #481
Ah, I see then we probably need to rethink the implementation as the CartCondition applies on the whole cart contents, maybe a CartItemCondition to apply on each cart items? I have nothing in mind for the implementation 🤷‍♂️, I trust you'll come up with something.

[2020-10-02 14:39] #504 closed

[2020-10-02 14:46] sampoyigi commented on #505
Fixed! Thanks a lot for opening this issue!

[2020-10-02 14:46] #505 closed

[2020-10-02 15:54] sampoyigi commented on #503
The issue here might be the Approval option for customer groups, if activated then the admin will be required to manually activate the customer. And if you look at Customer::register the activation is handled as long as $autoActivation is true

[2020-10-02 16:12] sampoyigi commented on #503
Another culprit when debuging https://github.com/tastyigniter/TastyIgniter/blob/cfdc38cf3aaabf254326a4912b115a964de4cfb2/app/admin/models/Customers_model.php#L102, should be AND?

[2020-10-02 18:26] sampoyigi commented on #492
@roydeanjr I don't have a v2 sql dump to reproduce this or attempt a fix, so if you can submit a PR that would help.

[2020-10-02 18:27] sampoyigi commented on #502
That error is from the OnlineTracker extension. Can you share a screenshot of the Carte Key error?

[2020-10-02 19:43] ryanmitchell commented on #503
You are probably steps ahead of me on this, but the is_authorised check is here:
https://github.com/tastyigniter/ti-ext-cart/blob/b8c0459ea13978e8587f9aead068cc583e2219fb/classes/OrderManager.php#L128

Where does Auth::register defined? I've not been able to find it to see any further.
https://github.com/tastyigniter/ti-ext-user/blob/191d10005e5b0514b881e5733fef896991d321ee/components/Account.php#

[2020-10-02 19:53] ryanmitchell commented on #481
The simplest would be to add an extra field to CartCondition called limitedTo that says which items it applies to, and then somewhere around https://github.com/tastyigniter/flame/blob/9e64e20dcfc6255a185f0d42ed4fcf3de7a7049d/src/Cart/CartConditions.php#L16
it would amend the $total passed to any cart condition that has it.

then on the coupon side its a case of compiling the list of menu items the

[2020-10-02 20:01] sampoyigi commented on #503
The issue here is, the customer shouldn't be able to log in until their account is activated and line 102 in Customers_model fixes it. With that sorted, OrderManager.php#L128 becomes redundant and we can display an error message to the customer on login to activate their account. The initial idea was to allow customer login but display a warning message to activate their account and stop them from

[2020-10-02 20:09] ryanmitchell commented on #503
Thanks for the explanations.

So oddly I just registered an account and it marked as activated, the only difference being this account had no orders associated with it previously. I'll do some more digging as there is definitely something amiss.

[2020-10-02 20:10] sampoyigi commented on #490
Hmm, not something I want to maintain but happy to see what the community comes up with :)

[2020-10-02 23:14] roydeanjr commented on #492
Can do. And I can provide a dump if that helps.

RoyDean Leighton
At your service......

________________________________
From: Sam Poyigi <notifications@github.com>
Sent: Friday, October 2, 2020 12:26:26 PM
To: tastyigniter/TastyIgniter <TastyIgniter@noreply.github.com>
Cc: RoyDean Leighton Jr <roydean@ardee.com>; Mention <mention@noreply.github.com>
Subject: Re: [tastyigniter/TastyIgniter] Upgra

[2020-10-03 01:12] bachini22 opened #507 "Feature request: Lead times for each product"
Can we have a feature implemented where we can input lead times for specific products? thanks

[2020-10-03 10:53] sampoyigi commented on #507
Please make all feature requests in [Miscellaneous > Feature Requests](https://forum.tastyigniter.com/t/feature-requests) 😉

[2020-10-03 10:53] #507 closed

[2020-10-03 10:55] sampoyigi commented on #492
Yea that would help.

[2020-10-03 14:46] sampoyigi opened #508 "Currency symbol disappears when item option is selected in item modal"
**Expected behavior:**
(Describe expected behavior here)

**Actual behavior:**
(Describe actual behavior here)

**Reproduce steps:**
* From the menu item modal, select any option and the currency symbol disappears

**Version:**
(TastyIgniter version number)

**Additional Information:**
(Additional information, if any)

[2020-10-04 05:57] bachini22 opened #509 "When a preorder date has been chosen, delivery options should show date not the delivery lead time below"
when a preorder date has been chosen, delivery options should show date, not the delivery lead time below the "delivery" and "pickup" options

[2020-10-04 06:17] bachini22 opened #510 "can't add menu options, getting error"
i am trying to add menu options that are required, which are small and large size. after saving i get the ff error

"Undefined offset: 0" on line 170 of /Applications/MAMP/htdocs/app/admin/formwidgets/Repeater.php#0 /Applications/MAMP/htdocs/app/admin/formwidgets/Repeater.php(170): Illuminate\Foundation\Bootstrap\HandleExceptions-&gt;handleError(8, 'Undefined offse...', '/Applications/M...', 170,

[2020-10-04 07:26] ryanmitchell commented on #510
Try applying this fix

[2020-10-04 08:19] #510 closed

[2020-10-04 08:22] bachini22 opened #511 "When choosing menu option, add to order price (button) should update based on chosen menu option"
I have menu options for size selections for some products and the price in the add to order button is not changing regardless of which radio button i choose

[2020-10-04 17:22] roydeanjr commented on #492
How do I get the dump to you?

RoyDean Leighton
At your service......

________________________________
From: Sam Poyigi <notifications@github.com>
Sent: Saturday, October 3, 2020 4:56:01 AM
To: tastyigniter/TastyIgniter <TastyIgniter@noreply.github.com>
Cc: RoyDean Leighton Jr <roydean@ardee.com>; Mention <mention@noreply.github.com>
Subject: Re: [tastyigniter/TastyIgniter] Upgrade error 2.1.1 to

[2020-10-04 17:32] sampoyigi commented on #511
This issue has no reproducible steps. Please reopen this issue with a set of reproducible steps.

[2020-10-04 17:32] #511 closed

[2020-10-04 17:34] sampoyigi commented on #509
Please use the ISSUE TEMPLATE when creating a new issue. Also, some screenshots/reproducible steps would help.

[2020-10-04 17:34] #509 closed

[2020-10-04 17:46] sampoyigi commented on #492
Slack?

[2020-10-04 18:13] #490 closed

[2020-10-05 14:11] sampoyigi commented on #503
Any update on this?

[2020-10-05 14:14] ryanmitchell commented on #503
Nope - havent had a chance to recreate it again - will try and get some time tonight :)

[2020-10-05 16:33] ryanmitchell commented on #503
Couldn't recreate it - so going to close it.

[2020-10-05 16:33] #503 closed

[2020-10-07 22:37] BreakSecurity opened #512 "Role edit rise error"
**Expected behavior:**
Being able to access role customization

**Actual behavior:**
Get the seguent error:
` 	ErrorException: Undefined property: stdClass::$group
in /home/user/domains/infoat.info/public_html/setup-master/storage/framework/views/4e083e352a0ae2dafde460ea033bc007b38df268.php:15
Stack trace:
#0 /home/user/domains/infoat.info/public_html/setup-master/storage/framework/views/4e083e352

[2020-10-07 22:40] BreakSecurity opened #513 "Unable to delete Delivery Areas"
**Expected behavior:**
I should be able to delete Delivery Areas by clicking on red bin.

**Actual behavior:**
If I click the red bin nothing happens

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
v3.0.4-beta.23.2

**Additional Information:**
(Additional information, if any)

[2020-10-07 22:41] BreakSecurity commented on #502
Actually I can confirm that there is no possibility to edit the site Carte Key.

[2020-10-08 11:00] tirolel commented on #502
@sampoyigi sorry I thought I have answered your question.
there is no error on admin dashboard.
Also I found out that, I cant generate new key from tastyigniter user dashboard.

[2020-10-08 12:40] BreakSecurity opened #514 "On mobile devices menu do not opens correctly"
**Expected behavior:**
Being able to open option and user menu when the sidebar is open, on mobile devices. When a menu is opened it should be on the top (first layer) of everything else (in this case the sidebar).

**Actual behavior:**
The sidebar just cover all the others menu.

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
v3.0.4-beta.23.2

**Additional I

[2020-10-08 12:44] BreakSecurity opened #515 "Buttons overlap on mobile devices"
**Expected behavior:**
Buttons should be separated

**Actual behavior:**
(Describe actual behavior here)

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
v3.0.4-beta.23.2

**Additional Information:**
![Screenshot_20201008-144224_Firefox](https://user-images.githubusercontent.com/38836022/95459999-ab50fd00-0974-11eb-962a-9fc9082174b6.png)

[2020-10-08 12:49] BreakSecurity opened #516 "On position tab lat & long do not updates automatically"
**Expected behavior:**
If option is enabled lat & long should update automatically after address change.

**Actual behavior:**
The coordinates do not updates

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
v3.0.4-beta.23.2

**Additional Information:**
![Screenshot_20201008-144610_crDroid_Home](https://user-images.githubusercontent.com/38836022/95460406-36ca8e

[2020-10-08 16:28] roydeanjr commented on #492
Uploaded directly to you on slack.

[2020-10-09 00:25] sampoyigi commented on #515
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-10-09 00:25] #515 closed

[2020-10-09 00:30] sampoyigi commented on #502
Thank you! I'll triage and take a look at it as soon as possible!

[2020-10-09 00:37] sampoyigi commented on #512
I'm unable to reproduce

[2020-10-09 01:14] #508 closed

[2020-10-10 12:28] sampoyigi commented on #513
Thanks, fixed!

[2020-10-10 12:28] #513 closed

[2020-10-10 12:28] sampoyigi commented on #516
Thanks, fixed!

[2020-10-10 12:28] #516 closed

[2020-10-11 12:24] BreakSecurity commented on #512
After some trials, I found that the incompatibility is with busy extension.

[2020-10-11 12:33] BreakSecurity commented on #512
Maybe you can close or tag the author of the extension. If no response we can try to fix it or to remove it from the marketplace (Or put a disclaimer)

[2020-10-11 13:43] sampoyigi commented on #492
Thank you for the dump, fixed!

[2020-10-11 14:26] sampoyigi commented on #512
You can check the author name from the item page and start a discussion on the community forum with the issue, then tag them so they see it.

[2020-10-11 16:06] BreakSecurity commented on #512
Done!

[2020-10-11 16:07] #512 closed

[2020-10-12 14:10] ryanmitchell commented on #514
Thanks for reporting. Would you be prepared to work on a fix and open a PR?

[2020-10-12 18:31] BreakSecurity commented on #514
I do not know the code base and the framework if you can guide me I will put some efforts on the project ;)

[2020-10-12 21:40] BreakSecurity opened #520 "Negative price for options in menu items misleading visual feedback"
**Expected behavior:**
I expect to see only a minus (-) in front of the negative option price.

**Actual behavior:**
I see a plus/minus (+-) in front of the negative option price.

**Reproduce steps:**
Create an option with negative price. (-1.50)

**Version:**
 v3.0.4-beta.23.2

**Additional Information:**
(Additional information, if any)
![immagine](https://user-images.githubusercontent.com/3883

[2020-10-12 21:46] BreakSecurity opened #521 "Negative price for options in menu items makes items total cost under 0.00"
**Expected behavior:**
If an options as a negative price bigger than the items cost itself the price of the item with the selected option should be zero

**Actual behavior:**
The price become negative

**Reproduce steps:**
Create an option with -6.00 and apply it to an item that cost only 5.00

**Version:**
v3.0.4-beta.23.2

**Additional Information:**
![immagine](https://user-images.githubusercon

[2020-10-12 23:07] BreakSecurity opened #522 "Setup window in menu items not closing with cancel or cross pressing"
**Expected behavior:**
The opened window should close on cancel or cross selection

**Actual behavior:**
The windows can not be closed

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
v3.0.4-beta.23.2

**Additional Information:**
(Additional information, if any)
![immagine](https://user-images.githubusercontent.com/38836022/95797422-ca8eb800-0cef-11eb-80b3-076

[2020-10-12 23:12] BreakSecurity commented on #522
Sometimes work other do not work...

[2020-10-13 10:45] ryanmitchell commented on #522
This is a duplicate of https://github.com/tastyigniter/TastyIgniter/issues/428

If you are able to replicate the issue consistently (browser/window size etc) then we can certainly find a fix, but we haven't been able to replicate it yet.

Please close this issue and make any updates on #428

[2020-10-13 10:51] ryanmitchell commented on #521
@sampoyigi I think this raises the question of whether options should be allowed to have negative prices.

[2020-10-13 10:51] ryanmitchell commented on #520
Related to my response in: https://github.com/tastyigniter/TastyIgniter/issues/521

[2020-10-13 10:54] ryanmitchell commented on #514
This fix would be in javascript and CSS which you will find in /app/admin/assets
At a high level, clicking on any element in #menu-mainmenu should remove the "show" class from <div class="sidebar">

[2020-10-13 11:02] ryanmitchell commented on #501
Do you mean create an artisan command? I can take a look at it.

[2020-10-13 11:03] BreakSecurity commented on #521
For me it totally makes sense. As an example I want to sell hamurgers and the default option is regular size (+0.00), but I also have the small size (-1.50)...

[2020-10-13 11:03] #522 closed

[2020-10-13 11:04] BreakSecurity commented on #522
Sorry I only searched on closed ugs efore opening

[2020-10-13 11:06] ryanmitchell commented on #521
You can still set the default option as regular (with a +1.50 surcharge) in the menu options as things stand. lets see what @sampoyigi thinks

[2020-10-13 11:08] ryanmitchell commented on #477
This was implemented as part of the last update. @bingo-bonzai if you are satisfied it is working could you close off this issue?

[2020-10-13 11:08] #481 closed

[2020-10-13 12:15] BreakSecurity commented on #521
The suggestion you gave me is not so elegant. Because the default option (+1.50)  means that the price on the menu will always be surcharged of 1.50 (a bit misleading). It would be etter to have the minus (-) price option to handle this cases where you wanna have a "kid version" of the meal without affecting the price on the menu. Let me know if you agree

[2020-10-13 12:47] roydeanjr commented on #492
Thank you! I will test it today.

[2020-10-13 19:33] sampoyigi commented on #521
Yea I'm not sure about allowing negative prices, which could lead to unexpected behaviours (similar to the one reported here).

Maybe you can work around @ryanmitchell's suggestion?

[2020-10-13 20:06] roydeanjr commented on #492
I attempted a new install just now; the error remains. What is the process for getting the code that is fixed?

[2020-10-13 20:08] ryanmitchell commented on #521
@sampoyigi should we look to prevent negative prices in the next release?

[2020-10-13 20:14] sampoyigi commented on #521
@ryanmitchell yea

[2020-10-14 12:48] sampoyigi commented on #501
Yea but under the existing IgniterUtil command so we can do `php artisan igniter:util blabla`

[2020-10-14 12:50] RobHowdle opened #523 "Min/ Max Selected giving Error"
**Expected behavior:**
I expect this function to allow the user only to select a certain amount of that item IE max select is 2, user should only be able to get 2 etc.

**Actual behavior:**
Upon saving, I get an error saying "Undefined offset: 0" on line 170 of /home/nt3vgab2/public_html/tasty.4thewkend.com/app/admin/formwidgets/Repeater.php#0 - Screenshot of error and system logs attached.

**Rep

[2020-10-14 12:54] ryanmitchell commented on #501
Got you now.
I’ll have a go at it later on today all going well - something to start from at least.

[2020-10-14 18:41] sampoyigi commented on #442
Simplified this to focus only on split hours, we'll implement schedule overrides part maybe in v4...

[2020-10-15 07:16] Gulfalpha opened #526 "Issue with adding allergens to sub menu items"
I**Expected behavior:**
(I have created main category of Baguettes and Sandwiches where you can then go and choose a type of baguette, wrap, panini or sandwich.  Under the selected baguette, wrap, panini or sandwich type selected, I have added baguette & sandwich fillings list & also an extras list and I would expect to be able to add a comprehensives list of allergens that are contained within th

[2020-10-15 08:25] ryanmitchell commented on #526
@sampoyigi this carried over from a slack conversation, the main question is whether we allow multiple allergens on a menu item open - currently its 1:1

[2020-10-15 09:27] RobHowdle commented on #523
Update: I have just attempted to use the Edi Menu Option to update the price of some options and got the exact same error. I'm thinking this could be an error in the edit menu instead of the min/ max selected option.

[2020-10-15 11:32] sampoyigi commented on #523
This issue was fixed in **3.0.4-beta23.2** (d4f776cb76fd1c7d6cf4f563e55731364d1396da). Since you're running the latest version and you already applied the patch, have you cleared your app cache? You can use the Cache dashboard widget.

Are you getting the same error with other menu item options?

[2020-10-15 11:58] BreakSecurity opened #527 "The slider "counter" is not equal to images number"
**Expected behavior:**
The slider "counter" is not equal to images number.

**Actual behavior:**
The slider "counter" is not equal to images number. One "indicator" is missing, see attached images.

**Reproduce steps:**
Create a slider with 4 images.

**Version:**
v3.0.4-beta.23.2

**Additional Information:**
![immagine](https://user-images.githubusercontent.com/38836022/96119968-11e29780-0eee-11e

[2020-10-15 12:00] BreakSecurity commented on #520
Should I close this issue and add a comment/note on #521 regarding the sign visual feedback (+-)?

[2020-10-15 12:02] BreakSecurity commented on #512
Everything fixed in busy extension now.

[2020-10-15 12:06] sampoyigi commented on #526
Hmm, I'd let you decide on this one.

[2020-10-15 12:17] BreakSecurity commented on #527
Also when cliking on the "indicator" the next images is displayed and NOT the clicked one.

[2020-10-15 12:31] ryanmitchell commented on #520
Yep please

[2020-10-15 13:25] ryanmitchell commented on #526
@babelattke what are your thoughts - any issues from the front end side with making allergens on menu_item_options more than 1:1 relationship?

[2020-10-15 14:07] #520 closed

[2020-10-15 14:17] BreakSecurity commented on #521
Also take note of the visual issue (+-) when using negative prices as explained in #520
@sampoyigi

The user should see only the minus sign

[2020-10-15 15:51] sampoyigi commented on #521
@BreakSecurity the plan is to prevent negative prices on menu items, options and special prices in the next release so share what you're trying to accomplish (with screenshots) maybe we can suggest a different approach that works.

[2020-10-15 16:36] BreakSecurity commented on #521
@sampoyigi Sure! I want to sell an hamburger in two variant small and large size. the regular size is the most popular so it should be the default option. But some kids want the small size that should cost less (ex. -1.50). Now the cost of the product reported in the menu view should be the regular one, because is the variant that normally everyone takes.

Regarding the workaround proposed by @rya

[2020-10-15 17:18] BlueRayNL opened #528 "Order status is being overided to payed continously"
**Expected behavior:**
Orders is being overided to payed after status is changed to process / complete / or whatever other status then payed.
Payment terminal Mollie payments.
payment method ideal.

**Actual behavior:**
orders should only be updated once. and nog continuously.

**Reproduce steps:**
please an order on the webshop. with payment method mollie payments -> ideal / creditcard whatever.

[2020-10-15 22:26] sampoyigi commented on #521
Very clear!

As we plan to remove support for negative prices, your best option still is what Ryan suggested.

Say your menu price is $5, regular is $5+2 and small is $5+4 OR menu is $3, regular is $3+2 and small is $0 either way, the smaller size costs less and you get to set the default selected option for your customers. If it's about making the price looking _attractive_ then the first example

[2020-10-15 23:08] hrzpos commented on #521
Hi Sam,
As a POS installer of many systems, definitely stay away from -ve prices. Even "No" options should be zero priced not -ve.
KISS is always best :)

[2020-10-16 01:33] sampoyigi commented on #521
@hrzpos thank you for the advice! I had no idea. 👍

[2020-10-16 09:06] BreakSecurity opened #529 "HTML tag is NOT properly rendered (See extension name)"
**Expected behavior:**
HTML tag properly rendered

**Actual behavior:**
HTML tag is NOT properly rendered (See extension name).

**Reproduce steps:**
Try to eliminate an extension.

**Version:**
 v3.0.4-beta.23.2

**Additional Information:**
![immagine](https://user-images.githubusercontent.com/38836022/96238424-bde3bb80-0f9e-11eb-9fb3-78ba4ab197cd.png)

[2020-10-16 09:51] RobHowdle commented on #523
@sampoyigi Yes this is happening with multiple menu items.

Using the desktop cache widget fixed the problem. Thank you.

[2020-10-16 09:51] #523 closed

[2020-10-16 10:28] BreakSecurity commented on #514
I should add this in admin.js on any navlink clicked...

`$('.sidebar').removeClass('show')`

[2020-10-16 10:28] ryanmitchell commented on #528
@sampoyigi sounds like processNotifyUrl() is being called multiple times?

@BlueRayNL - I've attempted a fix, can you let me know if it works?
https://github.com/tastyigniter/ti-ext-payregister/pull/13

[2020-10-16 10:29] ryanmitchell commented on #514
I think that should work!

[2020-10-16 10:34] ryanmitchell commented on #527
@sampoyigi i can't see where the JS from this comes from. Is it a bug in the JS plugin?

[2020-10-16 12:31] BreakSecurity commented on #514
To fix replace MainMenu.prototype.onDropdownShow in ../app/admin/widgets/menu/assets/js/mainmenu.js with:

`MainMenu.prototype.onDropdownShow = function (event) {
        var $toggle = $(event.relatedTarget),
            $dropdown = $toggle.closest('.dropdown'),
            $itemMenu = $dropdown.find('[data-request-options]')

            //Fix overlapping of sidebar on nav-link menus

[2020-10-16 12:38] BreakSecurity commented on #527
Maybe is there... https://github.com/tastyigniter/ti-ext-frontend/blob/8681dac148c2103781c1af3406875af09df28a78/components/slider/default.php#L9

[2020-10-16 12:39] ryanmitchell commented on #527
Yep play around with it and open a PR if you get it fixed

[2020-10-16 12:40] ryanmitchell commented on #514
Can you open a PR with the code please?

[2020-10-16 12:43] BreakSecurity commented on #527
This a temp weird fix: <?php $countThumbs = count($__SELF__->slides()) + 1; ?>

[2020-10-16 12:44] BreakSecurity commented on #514
I will read the doc and open them ;)

[2020-10-16 12:44] ryanmitchell commented on #527
This line

`<?php for ($index = 1; $index <= $countThumbs; $index++) { ?>`

should be

`<?php for ($index = 1; $index < $countThumbs; $index++) { ?>`

[2020-10-16 14:44] BreakSecurity commented on #514
The fix should work only on mobile. Any hints on how to achieve that?

[2020-10-16 17:29] ryanmitchell commented on #514
Use match media?

https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia

[2020-10-16 22:46] sampoyigi commented on #492
Noted! Thanks for the suggestion, I'll have it sorted.

[2020-10-16 22:47] #529 closed

[2020-10-17 12:30] BreakSecurity commented on #514
Updated!

[2020-10-18 20:19] ryanmitchell commented on #514
Can you open it as a Pull request so the code can be reviewed and merged?

[2020-10-19 10:35] ryanmitchell commented on #527
Again, if you are able to open a PR it would be helpful

[2020-10-21 11:36] BreakSecurity opened #533 "Geocoding with Google Maps API restriction malfunction"
**Expected behavior:**
I should be able to restrict per domain or ip and it should work on admin and customer side

**Actual behavior:**
If I restrict API use to domain (http://example.ex/*) admin panel works but check on customer address fail with error:

If I restrict API use to server IP (1.1.1.1/24) admin panel do NOT works but check on customer address succeed. The log error:

https://develop

[2020-10-21 13:36] BreakSecurity opened #534 "Visitor Tracker Ipstack not working"
**Expected behavior:**
After API key insertion should work.

**Actual behavior:**
After API key insertion I obtain this error:

**Reproduce steps:**
Install the extension and set API key from Ipstack, try to visit any page, and see the log

**Version:**
v3.0.4-beta.23.2

[2020-10-21 13:37] BreakSecurity commented on #533
API with no restriction works.

P.S. Leaving API with no restriction is a risky policy discouraged by google itself

[2020-10-21 23:10] BreakSecurity opened #535 "Reviews enable/disable switch do not work"
**Expected behavior:**
The switch should hide/show the reviews

**Actual behavior:**
The switch as no effect

**Reproduce steps:**
Make a review and set the switch to disable (under SALES -> REVIEWS)

**Version:**
v3.0.4-beta.23.2

**Additional Information:**
(Additional information, if any)
![immagine](https://user-images.githubusercontent.com/38836022/96799348-3b765400-1403-11eb-97c6-80fecb73a1f

[2020-10-22 01:07] #521 closed

[2020-10-23 08:47] BreakSecurity opened #536 "Price computed wrongly in the UI for priced default options"
**Expected behavior:**
I have the default option that surcharge +1.50 to the base price that is 5. The price displayed when the item is opened should be from the beginning 6.50 (base price + default selected option price).

Suggestions:

- If the default option has a price the price option should be added to the base price in menu view and item view. This will avoid misleading the customer with a

[2020-10-23 10:39] sampoyigi commented on #533
Thanks a lot for opening this issue! I'll triage and take a look at it as soon as possible!

[2020-10-23 13:39] Gulfalpha opened #537 "Order confirmation email not being sent to customer when they place an order"
**Expected behavior:**
(When a customer places an order, they normally get a confirmation email)

**Actual behavior:**
(Customer places an order and no longer receives a confirmation email)

**Reproduce steps:**
(placed order to check and no email received - emails are still being received to say that order is being prepared and also when it is ready to collect)

**Version:**
(TastyIgniter version

[2020-10-23 13:49] Gulfalpha opened #538 "Error code received when trying to book time slot"
**Expected behavior:**
(Customer books a date and time for food order)

**Actual behavior:**
(Customers picks date and time and hits confirm, then receives a list of error code)

**Reproduce steps:**
(We are using two computers - on one you can book a date and time without issue but on the other one you just receive list of error code)

**Version:**
(TastyIgniter version 3.0.4-beta23.2)

**Additio

[2020-10-24 14:49] iTzMeRafa opened #539 "Customer can order outside of opening hours"
**Expected behavior:**
Ordering should not be possible, it should say that our restaurant is closed at the moment

**Actual behavior:**
Ordering is possible, when a customer orders outside of opening hours the order is placed the for next opening time

**Reproduce steps:**
 - Restaurant is open between 9 am and 10 pm
 - Customer orders at 11 pm
 - There is a preorder for 9 am next day

**Version:*

[2020-10-24 20:15] iTzMeRafa opened #540 "Automatic apply coupon code"
**Expected behavior:**
After adding something to the cart, the system should also check if the customer is eligable for a coupon (by condition).

**Actual behavior:**
The only way is to manually apply codes

**Reproduce steps:**
Well, there is currently not the option for this

**Version:**
3.0.4-beta.23.2

**Additional Information:**
I think a simple solution would be to apply all coupon codes av

[2020-10-25 11:09] sampoyigi commented on #540
Thanks a lot for opening this issue!

Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2020-10-25 11:13] sampoyigi commented on #534
Do you have the full error message?

[2020-10-25 11:50] BreakSecurity commented on #534
How can I obtain it?

[2020-10-25 21:58] ryanmitchell commented on #538
This is not an issue with TI core but with the mealtimes extension. So could you open the issue there and close this one.

https://github.com/ryanmitchell/ti-ext-mealtimes

[2020-10-25 22:02] ryanmitchell commented on #536
There is a price calculation in the local extension JavaScript that runs on input change. It needs changed to run in modal load as well. It should be easy to write a patch for this - can you work on it and open a Pull request?

[2020-10-25 22:18] BreakSecurity opened #541 "Maximum orders per interval NOT working"
**Expected behavior:**
If I set limit orders per timeslot to 2, I expected to receive max 2 order for the same timeslot.
![immagine](https://user-images.githubusercontent.com/38836022/97120019-771b6180-1714-11eb-8036-6de6a136260c.png)

**Actual behavior:**
I'm able to make more than 2 orders for the same timeslot, as shown in the image below:
![immagine](https://user-images.githubusercontent.com/3

[2020-10-25 22:56] BreakSecurity commented on #541
If as a restaurant I receive 5 orders for the first interval and my limit is 2 what i should do? accept only 2 and call the others and change interval for the others?

[2020-10-26 08:18] Gulfalpha commented on #538
Thanks Ryan for your guidance with this issue.

[2020-10-26 08:18] #538 closed

[2020-10-26 09:20] ryanmitchell commented on #541
Yeah I noticed this when working on the max orders extension. @sampoyigi can you remember a reason for not including 'received' orders in the count?

[2020-10-26 15:49] BreakSecurity commented on #535
Also in the widget review should NOT be displayed if disabled.

![immagine](https://user-images.githubusercontent.com/38836022/97195044-2440b900-17ab-11eb-94f3-83a8ba56ec3e.png)

[2020-10-26 19:47] ryanmitchell commented on #535
Yep this can be confusing, but if you want to disable it on the front end you need to remove the reviews component from pages or layouts using the theme editor.

There are a few toggles like this that could do with better labelling or clarification as to what they actually achieve.

[2020-10-26 19:48] ryanmitchell commented on #528
@BlueRayNL can you confirm if this fix works for you?

[2020-10-26 19:48] ryanmitchell commented on #527
Any luck opening a PR @BreakSecurity ?

[2020-10-26 22:17] BreakSecurity opened #542 "Edit the size of category images NOT possible"
**Expected behavior:**
I can edit the size of menu item pictures and category images.

**Actual behavior:**
I can edit the size of menu item pictures, but NOT of category images.

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
v.3.0.4-beta.23.2

**Additional Information:**
![immagine](https://user-images.githubusercontent.com/38836022/97234552-50772c80-17e1-1

[2020-10-26 22:25] MatandoYT opened #543 "Localization unavailable for menu items and catagories"
More or less a feature request than a bug report. I might try and hack it in myself and submit a pull request, but I'll have to learn my way around the code of tastyigniter....... which is going to be a while since I haven't touched PHP in over 15 years.

**Expected behavior:**
Language selection in menu/category add/edit pages.

**Actual behavior:**
Only allows one language. Doesn't change when c

[2020-10-26 22:28] BreakSecurity opened #544 "Housekeeping feature"
**Expected behavior:**
Have the possibility to empty some history (orders, status, notification, activities, coupon, etc...) on the DB trough UX

**Actual behavior:**
There is no such feature

[2020-10-27 11:27] BreakSecurity commented on #542
[code]

Quick workaround

[2020-10-27 16:08] BlueRayNL commented on #541
i get an error on the frontend aswel.

[2020-10-27 16:10] BlueRayNL commented on #528
fiks does not work, now mollie does not change the status at all anymore into paid or not paid

[2020-10-27 16:13] ryanmitchell commented on #541
@BlueRayNL check the latest commits on the local extension for a fix on that - it was fixed last week I believe.

[2020-10-27 17:04] BlueRayNL opened #546 "Order time is incorrect"
**Expected behavior:**
order time should be correct.

**Actual behavior:**
the time when an order is placed is 30minutes later then the extcual time.

**Reproduce steps:**
place an order on the webshop. look in the backend. time is arround 30 minutes of each time.

**Version:**
V3.0.4.-beta-23.2

**Additional Information:**
server time is set correctly.

[2020-10-27 17:27] BlueRayNL opened #547 "modifications on all orders view"
**Expected behavior:**
(Describe expected behavior here)
Hi,
I tryed modifing a couple of things on the all orders page so I managed to the following ->
-> display customer adres if order is delivery
however I run into 2 issue's,

1. I want to make the customeradress clickable so it opens a google maps to the location in a new window (I created the following code for it, but the adress is not prop

[2020-10-27 17:31] BlueRayNL commented on #528
Hi,

I resolved the issue by deleting the payment extentions true ftp and reinstalling.
maby an older version corrupted it somehow.

this is can be closed :)

[2020-10-27 17:31] #528 closed

[2020-10-27 17:45] ryanmitchell commented on #528
Great. Glad you got it working.

[2020-10-27 18:26] BreakSecurity commented on #546
It is normal it is the preparation time. You can adjust in settings

[2020-10-27 18:32] BreakSecurity commented on #527
@ryanmitchell I am having some trouble setting up a developer friendly ambient under windows with xampp giving random errors...

[code]

And so on, but then I try to run tasty and it would not found flame or other extension...

`composer create-project tastyigniter/tastyigniter . --stability=beta`

This command is better but is not the dev branch so...

[2020-10-27 18:34] BreakSecurity commented on #527
I am trying to find a good way to setup an ambient where I can work on last dev with php Storm trying live on xampp and then trough git doing a pull request

[2020-10-27 18:39] BreakSecurity commented on #546
@BlueRayNL Go to dashboard restaurant->settings and you will find 30 minutes as default value adjust accordingly to your kitchen speed

[2020-10-28 01:22] roydeanjr opened #548 "New version of themes should update any child themes"
**Expected behavior:**
I expected that the updated Orange theme would be able to use the options I had set already in a child of the Orange theme.

**Actual behavior:**
1 - I observed that the Orange theme had been updated.
2 - I updated the Orange theme via the Update/Upgrade process available in TI
3 - After install I noticed that the child of the Orange theme did not update to the new version.

[2020-10-28 07:35] BlueRayNL commented on #546
ah oke, I tought this was the moment an customer buy's the order like a timestamp moment. but nevermind I got it :)

[2020-10-28 07:35] #546 closed

[2020-10-28 18:57] ryanmitchell commented on #547
1. there is a formatter attribute which expects a function that receives $record, $column and $value as params, so you can then amend the value... e.g.

[code]

2. Is more tricky as you would likely need a new widget for it. You could maybe use formatter and StatusEditor (app/admin/formwidgets). It would just take some trial and error.

[2020-10-28 18:59] ryanmitchell commented on #543
I believe @sampoyigi is working on a translation extension (its on the v3 stable roadmap).

[2020-10-28 19:06] ryanmitchell commented on #542
This would be a good first PR/contribution:

Steps:
Fork local extension and set up a branch on your git repo
Edit: https://github.com/tastyigniter/ti-ext-local/blob/master/components/Menu.php
Define new properties for menuCategoryWidth/Height (borrow from menuImageWidth/Height) in defineProperties
Commit and open a PR against the master branch
Thats it - the rest is already in place as onRun() an

[2020-10-28 19:26] ryanmitchell commented on #527
I haven’t used windows in years I’m afraid. I’m sure there are lots of articles out there describing how to set it up

[2020-10-28 19:55] ryanmitchell commented on #539
Can you screenshot your opening hours including pickup and delivery hours?

[2020-10-28 19:58] ryanmitchell commented on #537
Have you selected "to customer" under System -> Settings -> Order -> "Send Order Confirmation/Alert Email"

[2020-10-28 20:00] iTzMeRafa commented on #539
![image](https://user-images.githubusercontent.com/36051055/97489988-8db5f880-1960-11eb-9cbb-f093601dc67e.png)

[2020-10-28 20:03] iTzMeRafa commented on #539
I fixed it myself for now. Not the best workaround, but it works.

in `cartBox/button`:
[code]

[2020-10-28 20:04] ryanmitchell commented on #539
So because you close at 23:15,  and have a lead time of 15mins, any orders from 23:00 onwards would be pre-orders for the next day with the logic thats currently in place.

[2020-10-28 20:20] iTzMeRafa opened #549 "Some delivery areas are not available"
**Expected behavior:**
Every city listed in delivery areas should be available and has the correct delivery cost.

**Actual behavior:**
On some cities following error message displays: "We do not have any local restaurant near you.", even though they are listed.

**Reproduce steps:**
These are some delivery areas in the system:
![image](https://user-images.githubusercontent.com/36051055/97491652-b

[2020-10-28 21:06] iTzMeRafa commented on #549
![image](https://user-images.githubusercontent.com/36051055/97496666-93fca280-1969-11eb-803e-a6ac7caa10f7.png)
Our restaurant address

[2020-10-29 05:35] #534 closed

[2020-10-29 07:14] ryanmitchell commented on #549
Cappel comes through as a sublocality with Marburg as the City of locality for me. When I change Cappel to Match by town or sub-locality, it works ok.

You can see the result by var_dump ing $userLocation around line 23 of extensions/local/traits/SearchesNearby

[2020-10-29 07:34] Gulfalpha commented on #537
I think that this is correct?
![image](https://user-images.githubusercontent.com/72857980/97538940-1ceefa80-19b9-11eb-8898-7a83096769b8.png)

[2020-10-29 08:11] ryanmitchell commented on #537
Yep thats right.
Is email notification enabled on your default status (Sales -> Statuses)

[2020-10-29 08:13] Gulfalpha commented on #537
This is what we have:
![image](https://user-images.githubusercontent.com/72857980/97542400-950bef00-19be-11eb-9723-9a56465dee5d.png)

[2020-10-29 08:14] ryanmitchell commented on #537
Yeah that all looks correct. Are you seeing any errors in the logs? What SMTP service are you using?

[2020-10-29 08:17] Gulfalpha commented on #537
System Logs - Mainly issues with booking time slot (not managed to add your latest update yet (V1.10)
![image](https://user-images.githubusercontent.com/72857980/97542764-35faaa00-19bf-11eb-95b8-fe14ab5a6938.png)

[2020-10-29 08:18] Gulfalpha commented on #537
Trying to find what SMTP service we are using now??

[2020-10-29 08:20] ryanmitchell commented on #536
Created a PR here, can you verify if this change works for your use case?
https://github.com/tastyigniter/ti-ext-cart/pull/28

[2020-10-29 08:20] ryanmitchell commented on #537
Settings -> Mail

Thanks,
Ryan Mitchell

Thought Collective

B1.10 Portview
310 Newtownards Road
Belfast BT4 1HE
Northern Ireland

+44 (0)28 9045 9444
thoughtcollective.com <http://www.thoughtcollective.com/>
@thoughtco <http://www.twitter.com/thoughtco>

[2020-10-29 08:23] Gulfalpha commented on #537
![image](https://user-images.githubusercontent.com/72857980/97543268-e5d01780-19bf-11eb-8184-c6ad824844d1.png)

All it says is this, as its an internal setup I think.  It was working until recently and I don't remember changing anything??

[2020-10-29 08:25] ryanmitchell commented on #537
Ok. Im sure its working, the problem is it gives you no tracing to know whether an email send has been attempted or not.
There could be an issue when sending is attempted.
Or there could be an issue with the formatting of the email.
Or there could be an issue in the code.

Ideally you’d need to rule out 1 adn 2 before 3 is investigated.

[2020-10-29 08:26] ryanmitchell commented on #527
I think this has already been fixed during the migration to blade. Can you pull down the latest version from GitHub and verify?

[2020-10-29 08:27] Gulfalpha commented on #537
Ok, will work through the above and hopefully will manage to sort it out.

Thanks again for your help and advice - really appreciated.

Regards, Gary

[2020-10-29 08:54] ryanmitchell commented on #540
Would this be worth adding to to the new coupons extension?
'Apply automatically' as a switch option, and if yes, then when an item is added to the cart apply any codes that are enabled and automatic?

[2020-10-29 08:56] ryanmitchell commented on #544
This sounds like an extension to me rather than something for core?
Give the option to choose a date to delete before and tickboxes/switches for what you want to remove.

[2020-10-29 09:12] BlueRayNL opened #551 "Missing API documentation"
Hi,

can you please create an api documentation.
planning to make an integration with a view POS systems. (Lightspeed, Untill)

https://tastyigniter.com/marketplace/item/igniter-api
(this link is currently empty)

thanks !

[2020-10-29 10:00] ryanmitchell commented on #551
There are docs linked here:
https://github.com/tastyigniter/ti-ext-api
(scroll to the bottom of readme)

[2020-10-29 10:25] iTzMeRafa commented on #549
I will have a look at this, what I also found is this:
![image](https://user-images.githubusercontent.com/36051055/97556175-60f1f780-19d9-11eb-9056-56111b4c1653.png)

Can this be related to the problem?

[2020-10-29 10:26] ryanmitchell commented on #549
Yes, Google geocode lookups are no longer free, so you need to follow their guidance on enabling billing on your account.

[2020-10-29 18:57] wakey18 commented on #541
when I enable this feature it closes the store.

[2020-10-29 19:00] ryanmitchell commented on #541
@wakey18 can you provide more information as to what that means?

[2020-10-29 19:04] wakey18 commented on #541
@ryanmitchell
Before I enable Limit Order Count
![](https://i.imgur.com/GOpSp7e.png)

After
![](https://i.imgur.com/nDlGkzI.png)

Does the same no matter what the limit is set to.

[2020-10-29 19:07] wakey18 commented on #541
Also not sure if it is related but cannot schedule an order for later even though the lead time is 60 mins and the interval is 15 mins.
The last order time states 20:30 but can only order for asap.

[2020-10-29 19:11] ryanmitchell commented on #541
@wakey18 the fix was this one: https://github.com/tastyigniter/ti-ext-local/commit/5ca6dea56c5ff6abdfb9bae52e509c21b4a898d4 - just making sure we're talking about the same thing. Other than that I'm at a loss to explain this one.

[2020-10-29 19:24] wakey18 commented on #541
Yes sorry copied the wrong URL

[2020-10-30 09:20] ryanmitchell opened #552 "Adding/editing orders from admin"
Is there any reason from your side not to allow orders to be added or edited through the admin?

It’s a frequent request from our customers:
Eg customer phones order through
Or
Customer wants to change part of their order

Would this be something you would consider adding if I worked on it?

[2020-10-30 09:57] BreakSecurity commented on #552
Is a plus for sure. But it should allow to edit\delete\adding on permission basis.

Is not good that all use are allowed to edit price or delete orders

[2020-10-30 10:02] ryanmitchell commented on #552
@BreakSecurity tracking is on the roadmap for v3 stable. User permissions is a separate issue, please open as a different issue if its a feature you want to see.

[2020-10-30 14:37] ryanmitchell commented on #549
Did the help I gave resolve the issue?

[2020-10-30 23:04] BreakSecurity opened #553 "generate timeslot BUG?"
**Expected behavior:**
Open: 18
Close: 23
Lead time: 40m
Timeslot interval: 30m

I'm expecting the first available timeslot to be opening+lead= 18:40, and the last timeslot to be 22:40.

18:40 19:10 19:40 20:10 20:40 21:10 21:40 22:10 22:40

**Actual behavior:**
The system do closing time - lead time and always omit last time slot. Also I have the feeling sometimes the system extends lead time...

[2020-10-30 23:20] sampoyigi commented on #548
The version number on the child theme can be misleading. The child theme is simply a proxy for the parent theme, it contains your modified copies of the parent theme files so updating the child theme will overwrite your changes.

Also, all the update process does for themes is download/overwrite files and nothing to do with the theme's data

[2020-10-30 23:20] #548 closed

[2020-10-30 23:32] #542 closed

[2020-10-31 01:34] iTzMeRafa commented on #549
No. Most cities still dont work (at least with only entering the city name; city + postcode works better).
Also some cities get the wrong delivery cost?

![image](https://user-images.githubusercontent.com/36051055/97768086-e502c700-1b20-11eb-8246-143af0527757.png)
Delivery cost for "Betziesdorf" should be 2€ and the minimum order value 15€, but it is 25€ and 3€ (wrong delivery area values)

![imag

[2020-10-31 08:55] BreakSecurity commented on #553
After removing *2 and ` $end = $end->sub($leadTime);` everything seems to work properly.

[2020-10-31 09:01] BreakSecurity commented on #541
Check #553

[2020-10-31 09:24] ryanmitchell commented on #553
Yep this is one I raised with @sampoyigi previously but lost the argument :)

The logic of the end time is that your last slot shouldn’t be the closing time as you need to prep the food therefore closing time as a last slot makes no sense. However it is what I expected when I first got involved in the project

As for the 2 time lead time - I don’t understand the logic of why its there but Sam does

[2020-10-31 09:43] BreakSecurity commented on #553
@ryanmitchell you should tell me what else you commented out 🤣 probably I'll save a lot of time.

I agree with you on the *2. Regarding the first point if we have a lead time of x minutes it make no sense to say that the food needs time to be prepared. The lead time purpose is to have the food prepared and delivered to the customer at choosen timeslot. Correct me if wrong

[2020-10-31 09:47] BreakSecurity commented on #553
From my understanding, if the customer select 21:00 as timeslot the idea is to be at the "client door" at 21:00. So it make no sense to taking in account lead time after that. We should only consider that the last valid time to select 21:00 is `21-lead time`

[2020-10-31 10:28] ryanmitchell commented on #549
The wrong delivery cost is because its matching on the locality Kirchhain rather than sublocality Betziesdorf - which is in your Lieferzone 5 area.

As for the matching - they are working for me when I change them to sublocality rather than locality - you seem to have most set to locality which isnt returning the name you want.

Would you not be better using the circle/rectangle approach for these

[2020-10-31 11:11] sampoyigi commented on #553
@ryanmitchell yea i guess at the time it made sense logically to use the close time as the last slot. Can you open a PR, lets take another look at it ;)

[2020-10-31 11:20] ryanmitchell commented on #553
Will do :)
What about the 2 * lead time for the first time slot - what’s the reason for doubling it?

[2020-10-31 12:48] BreakSecurity opened #554 "Statistic widgets today range error"
https://github.com/tastyigniter/TastyIgniter/blob/5d526f5de27ed0bb92d4e46049c1ba2e9c105b4d/app/admin/dashboardwidgets/Statistics.php#L165

Should be `$start = Carbon::today();`

Otherwise it took in computation part of yesterday's orders too.

[2020-10-31 15:27] roydeanjr commented on #548
I understand. So, to be clear in my understanding, the updated code is executed from the parent theme and only my modifications are pulled from the child?

[2020-10-31 17:12] iTzMeRafa commented on #549
I dont get it to work sorry. Seems like the further the delivery location is from the restaurant, the less the areas work.
Can you try my current `location_areas` [ti_location_areas-new.zip](https://github.com/tastyigniter/TastyIgniter/files/5469474/ti_location_areas-new.zip)

"Lieferzone 1" works fine now for me, but "Lieferzone 2" almost doesnt work at all.
`Goßfelden, Moischt, Neuhöfe, Niederwe

[2020-10-31 17:24] ryanmitchell commented on #549
I tested the following:

Bauerbach is a sublocality not a locality
Ronhausen is a sublocality not a locality

When I changed to sublocality they work for me.

As I said previously, you need to do a search and see the response given for $userLocation around line 23 of igniter/local/traits/searchesNearby - Google is treating areas as sublocality when you have them labelled as locality.

Alternativel

[2020-10-31 17:30] iTzMeRafa commented on #549
The problem is not about locality/sublocality, I tested everything with every combination for serveral hours now.

Here I changed "Ronhausen" to sublocality which works for you:
![image](https://user-images.githubusercontent.com/36051055/97785659-bf200580-1ba6-11eb-8797-4cb2e86aa17a.png)

[2020-10-31 17:44] ryanmitchell commented on #549
Yes, Ronhausen works fine for me when I set it to town or sublocality.
Are you definitely using the latest version of the core and all plugins? I also have my Default Geocoder set to be “Google Geocoding” in Settings -> General. I assume you have a valid Google API key there too.

[2020-10-31 17:54] iTzMeRafa commented on #549
`I also have my Default Geocoder set to be “Google Geocoding” ` oh I think that helped. When I switch from "Chain" to "Google", I get this error message after refreshing the page:

![image](https://user-images.githubusercontent.com/36051055/97786193-46bb4380-1baa-11eb-92e2-ca746bdd6278.png)

any idea?

[2020-10-31 18:35] sampoyigi commented on #553
Same reason, to give the restaurant time to open before they start taking orders 🤷‍♂️

[2020-10-31 18:43] BreakSecurity commented on #553
At least shouldn't it be configurable?

[2020-10-31 18:45] sampoyigi commented on #548
Exactly, that's a better way to put it!

[2020-10-31 18:51] sampoyigi commented on #553
Well, I think it would make sense to use the open/close time for the timeslot start/end time to keep things simple, we already have separate hours for opening and delivery.

[2020-10-31 18:55] BreakSecurity commented on #553
Yes but if restaurant open at 12 and start delivery at 18 the *2 computed from 18 makes no sense because the kitchen are arledy "on fire"

[2020-10-31 18:56] ryanmitchell commented on #549
Nope sorry - you could try to pull down the latest version of tastyigniter/flame and update your vendor/tastyigniter/flame with it

[2020-10-31 18:58] BreakSecurity commented on #553
Also If in the site is displayed delivery from 18 but than you skip the first timeslot it's king of misleading, isn't it?

[2020-10-31 19:09] sampoyigi commented on #553
Oh yea, that can be removed as well.

Appreciate the suggestions ;) I'll wait for Ryan to submit the PR.

[2020-10-31 20:45] sampoyigi commented on #540
Sure if that's something you can take on.

Makes sense

[2020-10-31 20:52] sampoyigi commented on #544
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-10-31 20:52] #544 closed

[2020-10-31 21:34] sampoyigi commented on #552
Wasn't convinced it's a common-enough use-case to warrant the extra complexity in the core. I also feel accepting orders should be separated from the admin dashboard and it is already available through the front end.

I actually have plans for an order taking app but haven't found the time to work on it, we can work on it together if you're interested

Managing orders through the admin is not some

[2020-10-31 21:42] ryanmitchell commented on #552
Yeah I’m happy to help out on the app side of things. Understand where you are coming from with adding orders - as long as there is a solution for it it doesn’t matter if it’s app or admin to me.

It would be good to do some basic order editing in the admin panel. Even just order time and customer info would be useful for when data is incorrect. What do you think?

[2020-10-31 22:27] sampoyigi commented on #552
Cool, I'll get in touch for the app when I'm ready.

Yea, I'm fine with some basic order editing.

[2020-11-01 02:24] iTzMeRafa opened #555 "Update delivery area "manually""
Not really a software issue, but more of a question I have:

In `ext/igniter/local/traits/SearchesNearby.php - onSearchNearby()` the users query gets parsed to geo coordinates and than if there is a matching delivery area it gets updated.

How would I do it with string comparision and manually apply the delivery area or even hardcode the minimum order value and delivery cost, which would be perfec

[2020-11-01 07:10] ryanmitchell commented on #553
I've opened a PR in flame for this, see link above

[2020-11-01 12:42] wakey18 commented on #552
This is almost something I was looking for when I created the thread in the forum for the [ePOS](https://forum.tastyigniter.com/d/2132-epos/15)

[2020-11-01 12:59] wakey18 commented on #554
Thanks, saved me searching for this

[2020-11-01 13:03] ryanmitchell commented on #552
Great. Should it be as simple as making some fields NOT disabled?

For me order date, time and comment would be enough I think. Order items would be a dream but much more complicated.

[2020-11-01 14:36] ryanmitchell commented on #555
[code]

[2020-11-01 14:38] ryanmitchell commented on #554
Thanks for this.
Can you open a PR so it can be committed, rather than adding code in comments?

[2020-11-01 14:38] ryanmitchell commented on #551
If this helped can you close the issue please?

[2020-11-01 14:39] ryanmitchell commented on #547
If this helped can you close off the issue?

[2020-11-01 14:39] ryanmitchell commented on #537
Any progress figuring out the cause of this issue?

[2020-11-01 14:40] ryanmitchell commented on #539
Did this resolve the issue or you feel it needs more work?

[2020-11-01 14:41] ryanmitchell commented on #536
@BreakSecurity can you verify if the fix works as you expect?

[2020-11-01 14:41] ryanmitchell commented on #527
@BreakSecurity can you check the latest version so the issue can be closed?

[2020-11-01 14:42] ryanmitchell commented on #477
@bingo-bonzai can you please close the issue if you feel it is resolved?

[2020-11-01 14:43] ryanmitchell commented on #492
@roydeanjr can we close this?

[2020-11-01 14:47] ryanmitchell commented on #541
@sampoyigi just a bump in case you missed  my comment:

[2020-11-01 15:46] sampoyigi commented on #541
I hardly use the received status in any of my setup, orders are updated to a processing status after sucessful payment rather than the default status. You're right it should be included.

[2020-11-01 15:49] ryanmitchell commented on #541
👍 I’ll open a PR

[2020-11-01 15:56] BlueRayNL commented on #547
Hi Ryan,
thanks for the update I haven't been able to check it yet.
maby i create something like a dropdown widget not sure.

I will be in touch.

[2020-11-02 00:01] Matando commented on #543
Ah. I wasn't *exactly* sure what that intended whey I saw it on the roadmap. Interestingly enough, the localization feature already supports most of this. Unless, of course, the localization settings I'm referring to are themselves a part of the translation feature being implemented. It's hard for me to catch up on the development timeline of things since I've only recently discovered the project.

[2020-11-02 08:12] Gulfalpha commented on #537
Hi Ryan, still waiting for our I.T. Department to come back to me to see if there is a block being put on the email going to customers for some reason - will let you know the outcome once they have investigated this end.

[2020-11-02 09:22] ryanmitchell commented on #543
I'm not sure what Sam has planned, but I'd expect it will cover multiple languages on the front end of the same install.

[2020-11-02 09:56] justrollgit opened #557 "Cookie isssue related to search"
**Expected behavior:**
perform search and return all matching items

**Actual behavior:**
search is impaired, doesn't result the same items

**Reproduce steps:**
on the main screen provide a city, result returns 1 item, then click on "locations" and enter the same city, no results are returned.
clear cookies and perform the location search again on the "locations" page, this will now result ALL th

[2020-11-02 12:13] sampoyigi commented on #553
Fixed!

[2020-11-02 12:13] #553 closed

[2020-11-02 12:22] #541 closed

[2020-11-02 16:43] iTzMeRafa commented on #555
Hi thanks for the answer.
This is changing the location, I need to change the location_area if thats possible.

[code]

Something like this, but it does not work, any idea?

[2020-11-02 18:25] ryanmitchell commented on #555
$area = \Igniter\Flame\Location\Models\AbstractArea::find($areaId);

[2020-11-02 20:07] iTzMeRafa commented on #555
I got it to work, thank you so much.
Apparently you cant instantiate abstract classes, so you have to use a model which extends `AbstractArea`.

Heres my code for anyone who needs it too:

[code]

[2020-11-02 21:17] ryanmitchell commented on #555
Great :) can you close off the issue?

[2020-11-02 21:49] #555 closed

[2020-11-03 17:07] roydeanjr commented on #492
I would love to, however, I am running the setup.php installation process and when I select
1 - "no extensions or themes" I get a message after the extracting that says "Missing vendor files". Tried twice and twice got the same message.
2 - "choose a pre-built theme" I get the option to Install Theme. That downloads the TI Core, Extensions and Theme, but still the message, "Missing vendor files".

[2020-11-04 12:32] ryanmitchell opened #558 "When stock level reaches zero locations are cleared"
Came across a bug where when stock levels are tracked and purchased then the locations are being cleared on the stock update and so it disappears from the admin for users that are location restricted.

Does:
https://github.com/tastyigniter/TastyIgniter/blob/a53def5edfc2da5982181e72673dcb9f8ecd3a2c/app/admin/traits/ManagesOrderItems.php#L33

need a with('locations') or anything to stop them being p

[2020-11-06 00:02] roydeanjr commented on #492
I am not sure why the browser based easy setup is not able to complete, however, the command line version does successfully execute and convert the database without error. So I am closing this issue as it appears to be fixed.

[2020-11-06 00:02] #492 closed

[2020-11-06 07:43] Gulfalpha opened #559 "System Not Loading Following Updates - Errors Displayed"
**Expected behavior:**
(Website should load ok)

**Actual behavior:**
(After updating error messages appeared)

**Reproduce steps:**
(Tried re-updating without luck.  Six updates still showing and don't disappear when going through the update process, despite saying that the update has been successful!  )

**Version:**
(V3.04-beta.24)

**Additional Information:**
![image](https://user-images.githu

[2020-11-06 15:14] roydeanjr opened #560 "Need to group items on order"
Feature request:
Current system allows for selling menu items and each menu item is set up differently from one user to another. I created a menu item that represents a plate of food: meat options, side options, condiment options and sauce options. Others create menu items for each option and somehow know what items go on what plate or in what container, etc.

What we cannot do is place those item

[2020-11-08 03:18] yoursantu opened #561 "Item Count on cart"
**Expected behavior:**
Hi,
I want to show total item count on cart. and it should be change when update the cart items. how can i approach this with javascript!? ($cart->count() I know this will returns to total item count in PHP but it is not asynchronous need to refresh on every time when update item on cart  )
Please help.

Thank you.

[2020-11-08 15:44] BreakSecurity commented on #536
I will do

[2020-11-08 15:45] BreakSecurity commented on #527
I will do

[2020-11-08 15:46] BreakSecurity commented on #514
I will do

[2020-11-08 15:46] BreakSecurity commented on #533
Any news on this issue?

[2020-11-08 15:47] sampoyigi commented on #561
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-11-08 15:47] #561 closed

[2020-11-09 17:39] BreakSecurity opened #562 "Delete item option do NOT work properly"
**Expected behavior:**
If I try to delete the last options I expect that the last one is deleted.

**Actual behavior:**
Instead, the first option gets deleted.

**Reproduce steps:**
Try to have more than one option and delete the last one.

**Version:**
v3.0.4-beta.23.2

**Additional Information:**
![immagine](https://user-images.githubusercontent.com/38836022/98576443-d2278980-22ba-11eb-9249-d91c

[2020-11-09 17:46] BreakSecurity opened #563 "Multiple categories for the same item "sort" related problems"
**Expected behavior:**
If I assign 2 categories to the same item I expect to be able to choose in which one they should be grouped in the menu.

**Actual behavior:**
This situation causes several problems; items see as the first category to which they belong (i.e. the one in which they will appear in the menu) the category that was created first in time. If you want to reverse this priority, you n

[2020-11-09 17:53] sampoyigi commented on #562
Good spot! Thanks a lot for opening this issue! I'll triage and take a look at it as soon as possible!

[2020-11-09 17:55] sampoyigi commented on #560
Use issues to report bugs, please start a discussion on the forums under [**Miscellaneous > Feature Requests**](https://forum.tastyigniter.com/t/feature-requests) to submit feature requests.

[2020-11-09 17:55] #560 closed

[2020-11-09 17:55] BreakSecurity opened #564 "Misleding “Delivering to..” box & improvements for checkout page"
**Expected behavior:**
During the checkout phase, the “Delivering to..” box should appear only to registered users that saved at least one address.

**Actual behavior:**
The box shown in the image appears to all customers, both those registered (without saved address) and those who are not. This is misleading for users new to the platform.

**Reproduce steps:**
Try to complete an order even if you

[2020-11-09 17:56] sampoyigi commented on #477
Fixed

[2020-11-09 17:56] #477 closed

[2020-11-09 17:57] #487 closed

[2020-11-09 17:58] #501 closed

[2020-11-09 17:59] sampoyigi commented on #514
Fixed

[2020-11-09 17:59] #514 closed

[2020-11-09 18:01] sampoyigi commented on #527
Fixed!

[2020-11-09 18:01] #527 closed

[2020-11-09 18:36] #536 closed

[2020-11-09 19:03] BreakSecurity opened #565 "Cheking customer address even for pick-up orders makes no sense (at least to me)"
**Expected behavior:**
The box checking if customer postcode is covered for delivery should not appear when pickup at the venue is selected.

**Actual behavior:**
The box checking if customer postcode is covered for delivery appears even if the local pick-up mode is selected; this affects the smoothness of the order process making it way more complex than it should be. Also is misleading for user

[2020-11-09 19:31] sampoyigi commented on #547
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-11-09 19:31] #547 closed

[2020-11-09 19:33] sampoyigi commented on #549
Not reproducible in the latest release. Please reopen this issue if it still occurs, with a set of reproducible steps.

[2020-11-09 19:33] #549 closed

[2020-11-09 19:34] sampoyigi commented on #551
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-11-09 19:34] #551 closed

[2020-11-09 20:05] sampoyigi commented on #554
Fixed

[2020-11-09 20:05] #554 closed

[2020-11-09 20:19] yashodhank opened #566 "Column not found: 1054 Unknown column 'tables_in_tastyigniterdb' in 'where clause'"
**Expected behavior:**
(Describe expected behavior here)

**Actual behavior:**
(Describe actual behavior here)
[code]
**Reproduce steps:**
(Describe the steps to reproduce the problem here)
[code]
**Version:**
(TastyIgniter version number)
v3.0.4-beta.24

**Additional Information:**
(Additional information, if any)
![image](https://user-images.githubusercontent.com/1083792/98591946-028d1900-22f7-1

[2020-11-09 20:49] BreakSecurity opened #567 "Option to select between ASAP and timeslot. (Not properly a "bug")"
**Expected behavior:**
The owner should have the faculty to select default options for delivery (ASAP or timeslot) that should be displayed to customer. Also if you modify:
https://github.com/tastyigniter/ti-ext-local/blob/6c3f997aefd83b2a99d6ec35f5293ae0ca2edb87/components/localbox/timeslot.blade.php#L21
in
`@if (false) `
you obtain the timeslot as default option.

**Actual behavior:**
With the p

[2020-11-09 22:40] roydeanjr commented on #560
I did create a feature request on tastyigniter.com: https://forum.tastyigniter.com/d/2146-group-items-on-order-whats-on-a-plate

[2020-11-09 22:47] sampoyigi commented on #558
I doubt not eager loading the relation is the issue, maybe something else?

[2020-11-09 22:48] sampoyigi commented on #559
Fixed!

[2020-11-09 22:48] #559 closed

[2020-11-09 22:53] sampoyigi commented on #566
What is your MySQL version?

[2020-11-09 23:00] BreakSecurity opened #568 "Mobile switching between delivery and pick-up"
**Expected behavior:**
In the mobile version, the two buttons to select between delivery and pickup should be present on the first page with menu.

**Actual behavior:**
In the mobile version it is necessary to display the buttons to select between delivery and pickup on the first page. Actually, is possible to select the shipping method only during checkout phase on mobile. This result in several

[2020-11-09 23:13] BreakSecurity opened #569 "Side menu of category overlapping with footeer on desktop"
**Expected behavior:**
Side menu of categories should always be usable...

**Actual behavior:**
If the list of categories is very long, going down to the bottom of the page from the PC cause overlapping with the footer (in very small screens it happens even without scrolling the page to the bottom).

**Reproduce steps:**
Set up a large number of categories and observe the described behaviour.

**V

[2020-11-09 23:17] BreakSecurity opened #570 "Ensure at least one language option is enabled"
**Expected behavior:**
There should be always a fallback language to ensure site will work.

**Actual behavior:**
If all the languages are disabled, the site crashes.

**Reproduce steps:**
Disable all languages save... refresh...

**Version:**
v.3.0.4-beta.23.2

**Additional Information:**
![immagine](https://user-images.githubusercontent.com/38836022/98607532-acfe3f80-22e9-11eb-923b-407214eaee3b.

[2020-11-09 23:20] BreakSecurity opened #571 "Restrict order delete action to specific user"
**Expected behavior:**
Only authorised user should be able to delete orders.

**Actual behavior:**
Everyone is capable of deleting an order.

**Reproduce steps:**
Try to delete an order.

**Version:**
 v.3.0.4-beta.23.2

[2020-11-09 23:28] BreakSecurity opened #572 "Error after last update to v.3.0.4-beta.24.2 (Undefined variable: children)"
**Expected behavior:**
Everything working (I know, I am a dreamer...)

**Actual behavior:**
 I obtain the following error related to categories. Is for sure related to categories because if I disable them everything work. The error happen when I try to load menu page or info page...

**Reproduce steps:**
Update to last version and visit menu page.

**Version:**
 v.3.0.4-beta.23.2 ->  v.3.0.4-beta.

[2020-11-10 00:24] BreakSecurity commented on #569
Also checkout button go "behind" footer if you add many products on desktop.

[2020-11-10 06:46] ryanmitchell commented on #558
I was clutching at straws a bit :)

Just seeing it a lot - menu items losing their locations which then means users restricted to locations aren't able to see them in their list. Leave the issue open and I'll investigate more, eventually I'll find the reason!

[2020-11-10 08:22] ryanmitchell commented on #569
@BreakSecurity are these ones you could work on CSS/JS fixes for?

[2020-11-10 08:24] ryanmitchell commented on #565
I agree with this - the location box should only appear for delivery, and also when switching between delivery/collection type the page should reload. If you agree @sampoyigi I can work on a PR

[2020-11-10 08:27] ryanmitchell commented on #571
A better approach would be to split out the permissions to be more specific, i.e. instead of

Admin.Orders it would be
Admin.Orders.*
Admin.Orders.Delete
Admin.Orders.Edit
etc

However this is quite a large change.

[2020-11-10 08:29] sitsegypt opened #573 "Error after last update to v.3.0.4-beta.24.2 (Undefined variable: location )"
Actual behavior:
Undefined variable: location (View: /home/lebanesebakery/public_html/themes/tastyigniter-orange/_partials/localSearch/default.php) (View: /home/lebanesebakery/public_html/themes/tastyigniter-orange/_pages/home.blade.php)

Reproduce steps:
Update to last version and visit menu page.

Version:
v.3.0.4-beta.23.2 -> v.3.0.4-beta.24.2

[2020-11-10 08:36] BreakSecurity commented on #571
Yes totally agree with you

[2020-11-10 08:47] ryanmitchell commented on #563
My understanding is that it currently appears in both categories, is that incorrect?

[2020-11-10 08:48] BreakSecurity commented on #572
Fixed!

[2020-11-10 08:48] #572 closed

[2020-11-10 08:51] ryanmitchell commented on #573
Can you remove /themes/tastyigniter-orange/_partials/localSearch/default.php - there should be a default.blade.php file there?

[2020-11-10 10:24] ryanmitchell commented on #557
@sampoyigi the isEnabled() here seems to be causing issues, when I remove it the query works fine.
https://github.com/tastyigniter/ti-ext-local/blob/0f6b23cca00a30052655fdbc9bb6785f9518a6d3/components/LocalList.php#L87
Is something clashing between it and the distance selection in scopeListFrontEnd()

[2020-11-10 10:49] Gulfalpha commented on #537
Just been speaking with our I.T Department, who have confirmed that the email is not reaching the exchange server, although the test email for order confirmation is working without issue??  The other email messages for the different stages of food ordering are being sent and received without issue.

[2020-11-10 11:28] sm2x opened #574 "Filter Location > Rating Crash"
TastyIgniter version v3.0.4-beta.24.2

Clicking on Filter Location > Rating, results to:

![image](https://user-images.githubusercontent.com/6595333/98668292-a4117a80-238a-11eb-9267-d078f6387704.png)

[2020-11-10 11:34] ryanmitchell commented on #537
Thanks for confirming. @sampoyigi any thoughts on why this might be?

[2020-11-10 11:40] ryanmitchell commented on #574
I think this is related to https://github.com/tastyigniter/TastyIgniter/issues/557

[2020-11-10 11:44] ryanmitchell commented on #557
Actually, its the select('*') in Locations_model scopeIsEnabled()
I added that here (https://github.com/tastyigniter/TastyIgniter/pull/373/commits/29974267ecb42992fa4e771a62cc04b2a7248d94) as we had issues on the API without it, but it seems to be throwing off these pages?

[2020-11-10 12:46] BreakSecurity commented on #564
@ryanmitchell Did you evaluated the possibility to set a default value for country and city?

[2020-11-10 13:10] ryanmitchell commented on #564
No. That would be something for Sam to make a call on.

[2020-11-10 13:14] BreakSecurity commented on #564
So we will wait for his opinion, perfect

[2020-11-10 13:15] BreakSecurity commented on #563
@ryanmitchell

If I have products assigned to more than one category (for Internal kitchen purpose i.e. printers, kitchen display & co) products appear on the menu in only one of these categories (AS IT SHOULD BE). The problem is that what decides in which category they should appear in the menu is the creation date of that category; if I assign the "chicken" product to both the "starters" categor

[2020-11-10 13:18] ryanmitchell commented on #563
I would expect that the item be listed in all categories it’s added under. That’s what I thought currently happened.

[2020-11-10 13:33] sampoyigi commented on #573
`themes/tastyigniter-orange/_partials/localSearch/default.php` has moved to `extensions/igniter/local/components/search/default.blade.php`

So yea removing `themes/tastyigniter-orange/_partials/localSearch/default.php` should fix the issue.

[2020-11-10 13:38] BreakSecurity commented on #563
Think about category_A and category_B and item_C, that is assigned to both.

B is an older category than A (created before) so item_C appear only in B

There is no way to decide, for me, in which category C should appear. It is decided automatically by the system based on which category is older.

[2020-11-10 13:39] sampoyigi commented on #573
See my reply here https://forum.tastyigniter.com/d/2143-error-after-updating

[2020-11-10 16:24] sampoyigi commented on #567
I see your point and appreciate the time in explaining, but like you said its not a bug and hence should be posted on the forum so it can be discussed.

[2020-11-10 16:24] #567 closed

[2020-11-10 16:39] BreakSecurity commented on #567
I will open a discussion on the forum ;)

[2020-11-10 17:41] sm2x opened #575 "Newletter Subscription Error"
**Version 3.0.4-beta.24.2**

Entering a valid email on "Subscribe to our newsletter" throws:

![newsletter-box-click-error](https://user-images.githubusercontent.com/6595333/98710220-557dd380-23be-11eb-86c0-1cc1d1c5e5b6.png)

If you leave it blank and just click the send icon:

![newsletter-blankbox-click-error](https://user-images.githubusercontent.com/6595333/98710406-91189d80-23be-11eb-80be-b7e

[2020-11-10 22:17] sampoyigi commented on #564
You will have to make changes to `extensions/igniter/cart/components/checkout/address_fields.blade.php` partial to set default values for country and city.

[2020-11-10 22:36] sampoyigi commented on #571
Yup should be more specific. `Admin.Orders` to `Admin.ManageOrders` and a new `Admin.DeleteOrders` permission.

Leave this with me 😉

[2020-11-10 22:50] sampoyigi commented on #557
Had a similar issue but I just removed the withCount constraints as a quick fix, thank you for investigating this one! Using `->select('*')` in scopes does have crazy side effects.

What was the issue with the API?

[2020-11-10 22:56] sampoyigi commented on #537
Hmm, your guess is as good as mine. Either there's an error in the mail template code stopping the email or the formatting is wrong.

[2020-11-11 07:20] ryanmitchell commented on #557
So its needed in the API as if you don't have it and pass a latitude & longitude then you ONLY get the distance returned as there is no other select() on the query.

Do we need to do something API side instead, like check for lat/long params and if they are there add the select('*')? Seems like a bit of a hack.

[2020-11-11 16:54] ryanmitchell commented on #573
@sampoyigi should the pagic delete util I made be extended to run on the themes and extensions dirs?

[2020-11-11 19:06] BreakSecurity commented on #563
@ryanmitchell did you get my point?

[2020-11-11 19:14] ryanmitchell commented on #563
As I said - to me the item should appear in all categories it’s assigned to.

[2020-11-11 21:25] BreakSecurity opened #576 "BIG BUG in leadtime & timeslot generation"
**Expected Behaviour**
Having set a certain lead time, I expect the first available timeslot to be, at least, the current time plus the lead time.

**Actual behaviour**
it is possible to select all the timeslot  generated by ignoring the lead time.

**Reproduce steps**
1) Set a lead time of 60 minutes.
2) Set the distance between timeslots in 10 minutes.
3) See the available slots.

**Version**
v.

[2020-11-12 04:30] sampoyigi commented on #568
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-11-12 04:30] #568 closed

[2020-11-12 04:32] sampoyigi commented on #573
I took care of that already 👍

[2020-11-12 10:11] ryanmitchell commented on #576
Yep so this is caused by the change here - https://github.com/tastyigniter/TastyIgniter/issues/553 to get the timeslots to start at the opening time.

Changing line 321 of WorkingSchedule.php to `$checkDateTime = $dateTime->copy()->addMinutes($leadTime);` fixes this specific issue, but we probably need to check whether we are inside the opening hours and if so add the lead-time, otherwise we don't

[2020-11-12 11:13] BreakSecurity opened #577 "Toast notification on minimum order get spammed at every addded items"
**Expected Behaviour**
When trying to complete an order whose total is less than the accepted minimum, an error message should appear

**Actual behaviour**
The error message appears 3 times in a row every time you add a product (or reload the page) until the minimum necessary is reached (as you can see in the image below)

**Reproduce steps**
1) By going to the restaurant settings, set a delivery

[2020-11-12 11:20] BreakSecurity opened #578 "Fields validation performed even on disabled functionality (and related fields...)"
**Expected Behaviour**
Default values should be used for all options. Field validation on disabled option should NOT be performed.

**Actual behaviour**
When you try to save the system ask for all fields to be fulfilled even if those fields are not used because the function switch is OFF.

**Reproduce steps**
1) Try on a new site to save cart settings. Without touching tip related options.
2) The

[2020-11-12 11:24] ryanmitchell commented on #573
So I see - great 👍

[2020-11-12 11:25] BreakSecurity commented on #578
**Possible solution:**
To dynamically enable fields validation based on main functionality switch.

i.e. Tip OFF validation of field_tip_percentage OFF
Tip ON validation of field_tip_percentage ON

And so on...

**Tmp solution:**
Make sure all fields have default values

[2020-11-12 11:27] ryanmitchell commented on #563
I see in the 'grouped' view on the front end this isn't the case. What do you think @sampoyigi ?

[2020-11-12 11:29] BreakSecurity commented on #576
Thz @ryanmitchell.

I think we should  always add lead_time even if closed, because the kitchen preparation time do not change. i.e. Restaurant is closed and will open at 19 if the customer place the order at 18:59 and we are still closed? We need anyway lead_time. Did I get your point or not?

[2020-11-12 11:39] ryanmitchell commented on #576
Yeah, the issue at the moment is it will add lead time to the start time, so at 18:30 the earliest would be 19:15 (with a 15 minute lead time), whereas to me it should be 19:00.

[2020-11-12 11:42] BreakSecurity commented on #576
What you say make sense if you start delivery after 19 but are open before 19. Otherwise you open at 19 and you immediately have orders to be already delivered...

[2020-11-12 11:43] ryanmitchell commented on #576
You have the ability to have different opening hours from delivery and collection hours. The first timeslot available for collection and delivery should be the opening time for each.

[2020-11-12 11:48] BreakSecurity commented on #576
So maybe the logic should be:

[code]

[2020-11-12 12:37] sampoyigi commented on #576
The delivery start time is not to indicate when you open your kitchen, you should use the opening hours for that. The delivery/collection hours indicates when delivery/collection starts and ends.

Now I remember what the `*2` that was removed did. By adding the lead time * 2 to the start time we are able to add some lead time to the first available slot.

I think the delivery open time should rema

[2020-11-12 12:47] ryanmitchell commented on #576
Yep I agree, PR opened

[2020-11-12 14:27] BreakSecurity commented on #576
Tested & Fixed!

[2020-11-12 14:27] #576 closed

[2020-11-12 14:28] ryanmitchell commented on #570
PR here: https://github.com/tastyigniter/TastyIgniter/pull/580

[2020-11-12 14:55] BreakSecurity commented on #571
@sampoyigi If I understand how to do this I will do it for a lot of stuff

Who can modify prod but not delete or create new ones and stuff like that

[2020-11-12 14:59] BreakSecurity commented on #577
@sampoyigi is this the guilty file? https://github.com/tastyigniter/ti-ext-local/blob/master/cartconditions/Delivery.php

[2020-11-12 15:01] BreakSecurity commented on #577
Maybe the warning should be called only on checkout click event? And not after every action performed on cart?

[2020-11-12 16:01] sampoyigi opened #581 "Implement handling of validation exception in AJAX framework"
Reported here https://github.com/tastyigniter/ti-ext-frontend/issues/5#issue-740262114

Display clean validation message when errors (X_IGNITER_ERROR_FIELDS) exist in headers

While we're here, connector form modal should stay open when validation fails.

[2020-11-12 16:15] sampoyigi commented on #565
I understand it can be misleading but it's more of a design decision to display the box in both delivery/pickup mode so I'll leave it that way until it makes sense for me to hide the box. You are free to do whatever in your child theme, you can easily customize the default template if you want.

I'm ok with a page reload to keep the same behaviour as on the checkout page.

[2020-11-12 16:22] sampoyigi commented on #557
Yup on the API side is the way to go and sometimes a hack is what we need ;)

[2020-11-12 16:26] ryanmitchell commented on #557
👍leave it with me

[2020-11-12 16:27] BreakSecurity commented on #565
Can you point me to some guide to read on how to override markup or to distinguish between mobile and desktop? Thanks

[2020-11-13 00:48] elmarra90 commented on #537
I also had the same problem, the system did not send the new order email to the customer and the restaurant.
I have done several tests as I have two installations on two different sites. on one it worked and on another it didn't. So I tried to figure out what was different and I saw that the difference was in the additional extensions.
On one site I had installed the "broadcast Events" extension a

[2020-11-13 01:54] sampoyigi commented on #570
Fixed

[2020-11-13 01:54] #570 closed

[2020-11-13 01:57] sampoyigi commented on #573
Closing this as fixed

[2020-11-13 01:57] #573 closed

[2020-11-13 01:59] #566 closed

[2020-11-13 02:00] sampoyigi commented on #577
Fixed here tastyigniter/flame@b79423d1ba7c93535773a294f0a985b45c39bd71

[2020-11-13 02:00] #577 closed

[2020-11-13 07:54] Gulfalpha commented on #537
Thanks for the above - That will probably help find the cause

[2020-11-13 08:23] BreakSecurity opened #583 ""Edit template files" missing button on last vers"
**Expected Behaviour**
In the old version, it was possible to switch from the "customize" section to the "edit template files" section by means of a button on the top left.

**Actual behaviour**
Once inside the "customize" section, the button to quickly return to the "edit template files" section has disappeared.

**Reproduce steps**
1) Go to Design section
2) Open the customize section of the act

[2020-11-13 09:55] ryanmitchell commented on #557
@justrollgit can you confirm that the fix works, and if so close the issue?
https://github.com/tastyigniter/TastyIgniter/pull/582

[2020-11-13 09:56] ryanmitchell commented on #574
Should be fixed, can you confirm?
https://github.com/tastyigniter/TastyIgniter/pull/582

[2020-11-13 12:21] sm2x commented on #574
yes confirm, ok now

[2020-11-13 12:50] ryanmitchell commented on #574
Great - if you are happy could you close the issue

[2020-11-13 14:17] #574 closed

[2020-11-13 14:38] sampoyigi commented on #583
Hmm, strange one! However, stuff like this should go on the forum first, it is not code related!

[2020-11-13 14:38] #583 closed

[2020-11-13 15:00] sampoyigi commented on #535
@ryanmitchell on trimming down the core codebase what are your thoughts on splitting reviews out of the core to make it part of the local extension? And is it something you can take on?

[2020-11-13 15:27] BreakSecurity commented on #535
Agree on making reviews an extension as it was done for coupons

[2020-11-13 15:44] ryanmitchell commented on #535
Yep I’m sure I can work on it over the next couple of weeks.

I Also need to start work on making date formats universal settings (short date - long date) to avoid the repetition in components.

[2020-11-13 23:17] LaunchedBerry07 opened #584 "SQLSTATE[42000] error during setup"
Syntax error or access violation: 1067 invalid default value for 'start_date'(SQL: ALTER TABLE ti_menus_specials CHANGE start_date start_date DATETIME DEFAULT CURRENT_TIMESTAMP, CHANGE end_date end_date DATETIME DEFAULT CURRENT_TIMESTAMP)

What does that mean?

[2020-11-14 22:04] ryanmitchell commented on #584
It means one of the mysql commands didn't run correctly on your server configuration.
What version of MySQL are you installing on?

[2020-11-14 22:59] paranoiasystem opened #585 "Component "newsletter" is not registered."
Today I have upgrade my installation of tastyigniter and I receive the following error, I have already retry to install from zero tastyigniter but the result is the same. How I can fix it?

[code]

[2020-11-15 00:50] sampoyigi commented on #535
Thank you 👍

[2020-11-15 01:04] sampoyigi commented on #543
Here's what it looks like on the admin dashboard. Yet to start work on the frontend side.

![Screen-Recording-2020-11-15-at-1](https://user-images.githubusercontent.com/6567634/99160333-3a70d380-26de-11eb-9e8d-eb9e4ae4e397.gif)

[2020-11-15 01:08] Matando commented on #585
I can confirm that I also have this issue. I haven't gotten around to trying a fresh install though. It doesn't happen with the demo theme.

[code]

[2020-11-15 01:10] sampoyigi commented on #585
Ensure the frontend extension is installed.

Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2020-11-15 01:10] #585 closed

[2020-11-15 01:12] Matando commented on #543
Looking very nice Sam!

It's going to be an important feature to have, especially for me.

日本語難しいですね

[2020-11-15 01:20] Matando commented on #585
The cart extension now requires that the new coupons extension be installed. Because the dependency was not installed on update the frontend extension failed to load. The frontend extension required the cart extension.

Installing the coupon extension solves the issue. Ideally updates should handle this automatically or at lease notify users.

[2020-11-15 08:38] LaunchedBerry07 commented on #584
MariaDB 5.5.68

[2020-11-15 08:57] LaunchedBerry07 commented on #584
I successfully installed it with the same configuration (Plesk Obsidian and MariaDB) on another server (DigitalOcean), but I don't know why, I'm unable now on my new server (Ionos).

[2020-11-15 11:15] LaunchedBerry07 commented on #584
I just noticed that on my previous server the version of MariaDB is 10, and not 5. Do you think the issue could be that?

[2020-11-15 11:31] ryanmitchell commented on #584
It definitely seems to be a database issue. If you can upgrade you should try that.

[2020-11-15 12:35] LaunchedBerry07 commented on #584
I upgraded the database server and it worked! Thanks a lot!

[2020-11-15 12:35] #584 closed

[2020-11-15 12:38] LaunchedBerry07 opened #586 "*QUESTION* Theme customization"
Is there a place to post an offer for a web developer who would be willing to create a TastyIgniter theme based on a HTML template?

[2020-11-15 13:14] LaunchedBerry07 opened #587 "*HELP* Nginx configuration"
Hi!

I'm not sure to understand the following sentence from your installation docs:

'Add the following lines to your server's configuration block...'

Am I supposed to add the specified code (big paragraph) into a file located in "default" (small paragraph)?

Or am I supposed to add the small paragraph (/etc/nginx/sites-available/default) in a certain file? If so, which file?

Thank you in advanc

[2020-11-15 14:47] ryanmitchell commented on #587
You edit the file /etc/nginx/sites-available/default
In it you'll find a server {} block, and you should modify the 'big paragraph' code to be inserted there.
You'll find answers to this question on the forum.

Can you close the issue, as we like to use Github issues for bug reports only.

[2020-11-15 14:48] ryanmitchell commented on #586
Yes, the forums or slack:
https://forum.tastyigniter.com
https://app.slack.com/client/T115HEDFS

Again, please close of this issue as it does not relate to a bug

[2020-11-15 15:21] sampoyigi commented on #571
Added a new `Admin.DeleteOrders` permission last night c6e40136ec0f33d56286c177160a91229827e498

I kept the old `Admin.Orders` permission to avoid confusion. Let me know your thoughts.

[2020-11-15 16:02] #586 closed

[2020-11-15 16:02] #587 closed

[2020-11-15 17:38] ryanmitchell commented on #558
Its happened again for my client this weekend - its definitely related to the stock tracking as the locations get lost at that point. Any directions you can point me to?

[2020-11-16 07:28] ryanmitchell opened #588 "Implement short and long date and time settings as a system setting"
To prevent the need to modify date settings in multiple components it would make sense to have universal settings in the admin panel for:

Short date format
Long date format
Time format
Short date and time format
Long date and time format

The component can then use the most appropriate one of these.

Initially I had thought it should be a setting in the settings area, but recently I've been wonde

[2020-11-16 13:37] BreakSecurity commented on #588
Yes would be less confusing across updates and, especially for new users, more convenient

[2020-11-16 13:41] BreakSecurity opened #590 "Option modification do NOT get applied correctly"
**Expected Behaviour:**
Once one of the options assigned to elements is changed, the update is propagated to all products.

**Actual behaviour:**
After modifying an option (adding or removing option values) it does not update. The removed option values are still present but invisible, you can click them, and the new additions do not appear. You have to remove and add the option set for each indivi

[2020-11-16 14:05] sampoyigi commented on #558
Yea did some digging and the culprit seems to be the Locationable trait. I'll tweak the base Model so we can set relations directly without using model event observers.

[2020-11-16 14:39] ryanmitchell commented on #558
Thanks! 👍

[2020-11-16 22:30] sampoyigi commented on #588
Aligns more with country than language (the date library supports locales) and since we have existing Date format settings under Settings > General shouldn't it be grouped together to avoid confusion? Or maybe move all date format settings to Localisation > Country?

[2020-11-16 22:38] sampoyigi commented on #563
Yep as Ryan stated item should appear in all categories it is assigned to. And changing the priority can be done using the Priority field.

[2020-11-16 22:46] BreakSecurity commented on #552
With Order time you mean the timeslot?

[2020-11-17 08:09] ryanmitchell commented on #588
Yeah it should add to those admin settings and then they should be used in the components in my opinion - makes things a lot simpler for new users.

The reason I suggested aligning to languages is that if we support multiple on the front end its possible the date formats required are different - so we should give a way of allowing them to be changed?

[2020-11-17 09:04] ryanmitchell commented on #535
@BreakSecurity back to your original issue - when you switch reviews off it does seem to affect the components on the front end (my mistake indicating it didnt).

Asides from the dashboard, what other areas are you seeing not affected by reviews being disabled?

[2020-11-17 09:18] BreakSecurity commented on #535
@ryanmitchell NP ;)

Across orange theme for example in the menu page. I will go around pages and see if there are some more.

[2020-11-17 09:36] BreakSecurity commented on #535
1) Is there anyway of adding to dashboard reviews only if the extension is installed and activated? Is not a big deal anyway just to know.

2) Also should we allow to let non registered users to leave reviews in order status page (like for registered ones)? Maybe instead of user name we can put order id or "non-registered users"? Just an idea

[2020-11-17 09:41] BreakSecurity opened #591 "Lead time is added to the first slot after midnight even if the restaurent stays open 24/24"
**Expected Behaviour:**
If a restaurant is open 24 hours a day (or otherwise closes after midnight), the first timeslots of the "next" day should not be affected by lead time.

**Actual behaviour:**
If a restaurant is open 24 hours a day (or in any case closes after midnight), the first available timeslots are those at a given time from midnight plus the lead time. For example, if my restaurant ha

[2020-11-17 16:57] LaunchedBerry07 opened #593 ""Agree" field on the User Registration page missing"
**Expected behavior:**
User should be able to create an account by clicking on "Register" button.

**Actual behavior:**
When clicking on the "Register" button, a message appears saying that the "Agree" field is required, but there is no such field on the page.

**Reproduce steps:**
Filling all the fields for user registration, then clicking on "Register".

**Version:**
v3.0.4-beta.24.2

**Addition

[2020-11-17 17:23] paranoiasystem opened #594 "User Registration"
When a user tries to register to the application he receives the following error, how I can fix it? and why am I getting this error?

[code]

[2020-11-17 17:41] LaunchedBerry07 opened #595 "Impossible checkout with payment fees"
**Expected behavior:**
When clicking on "Confirm" at checkout, it should redirect to the payment gateway.

**Actual behavior:**
When clicking on "Confirm" at checkout, a very long error message appears saying too much stuff to be read in the short allowed time, but it is about an issue with the payment fees.

**Reproduce steps:**
At checkout, clicking on "Confirm" when there is payment fees applie

[2020-11-17 23:03] davehuynh-canada opened #596 ""Add To Order" button does not update price"
**Expected behavior:**
When trying to add a new order item into the cart, the amount to be added to the cart on the "Add To Order" button should be updated correctly to indicate the total amount for the item.

**Actual behavior:**
The amount to be added always stay at $0 and not updated, no matter what option is selected.

**Reproduce steps:**
Installed the latest software. I used the command line

[2020-11-17 23:10] BreakSecurity commented on #590
@sampoyigi can you evaluate the possibility of making possible to the user to disavlean option with a switch? Because if you finish one option for that day to remove it from everywhere and the next day adding again is really tedious

[2020-11-18 08:20] ryanmitchell commented on #593
You need to edit the "Account component" on the register page, and specify which page contains your terms & conditions. Once you do that the agree field appears.

[2020-11-18 08:23] ryanmitchell commented on #596
Are you able to provide a link to to your site so I can investigate this? I'm not seeing the issue on my environment.

[2020-11-18 08:27] ryanmitchell commented on #595
This bug has been fixed here: https://github.com/tastyigniter/flame/commit/e072a2b90e7aa40a87bf18898db27cb618671651 you can manually add the function back to the appropriate file until the next beta is released.

[2020-11-18 14:41] sampoyigi commented on #594
Not reproducible in the latest release, make sure your extensions are up-to-date. Please reopen this issue if it still occurs, with a set of reproducible steps.

[2020-11-18 14:41] #594 closed

[2020-11-18 23:05] #593 closed

[2020-11-18 23:07] LaunchedBerry07 opened #597 "Error after trying to update"
![Screenshot 2020-11-18 180243](https://user-images.githubusercontent.com/72032061/99599160-c7f74080-29c8-11eb-82b7-50df47371d89.png)

Updating from beta2.22 to beta2.24

[2020-11-19 00:42] sampoyigi commented on #597
If you have access to the command prompt, run this command `php artisan clear-compiled`. If not delete all PHP files (classes, packages, services) under `storage/framework`.

[2020-11-19 12:46] wakey18 commented on #597
@sampoyigi  `php artisan clear-compiled` didn't make a difference.

[2020-11-19 12:51] wakey18 commented on #597
@sampoyigi After deleting the PHP files from `storage/framework` (classes.php, packages.php, services.php) and that worked!

[2020-11-20 14:10] roydeanjr commented on #597
Now, THAT is great! I may revert back to a backup just to save some time! Thank you @sampoyigi and @wakey18 !

[2020-11-21 16:08] babelattke commented on #526
@ryanmitchell Sorry I never replied this thread. Please let me know if this issue still happening so I can work on it immediately.

[2020-11-21 16:32] ryanmitchell commented on #526
Yeah it hasn’t moved on so let me know if you think it’s possible on the front end.

[2020-11-21 16:50] babelattke commented on #526
@ryanmitchell I'm kinda lost. So basically what you want it's to display all the menu item allergens in the menu item modal?

[2020-11-21 16:57] ryanmitchell commented on #526
Don’t worry it’s been a while!

At the moment you can only have 1 allergen on a menu item option. If we made it possible to have more than 1 would that affect things on the front end theme? I haven’t used allergens much so not sure if it will!

[2020-11-22 22:52] Zelig880 opened #598 "Allow Split hours"
As an administrator of the site, I would like to be able to easily configure my site so that it shows my actual opening hours. This should have the form of "split hours" for restaurant that offer different lunch and dinner slots (eg: 12:00 - 15:00 and 17:00 - 21:00).

**Actual behavior:**
Currently the website just allows for "continuous hours" to be set 12:00 - 21:00).
**Version:**
v3.0.3-beta24-

[2020-11-22 22:57] Zelig880 opened #599 "Reservation navigation is not removed when reservation are not offered"
**Expected behavior:**
I would like the reservation button to be removed from the main site when I disable the reservation feature.

**Actual behavior:**
The user is NOT able to set the reservation, but the button is still showing on the main meny

**Reproduce steps:**
- Install a new application
- Disable the reservation Extension
- Disable reservation in "restaurant-s>settings"
- Remove all the

[2020-11-23 03:12] bingo-bonzai opened #600 "Admin page Error "Class 'Jenssegers\Date\DateServiceProvider' not found""
**Expected behavior:**
Admin panel should load successfully.

**Actual behavior:**
Today after a recent update, the Admin panel started to fail with following error

"Class 'Jenssegers\Date\DateServiceProvider' not found"

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
v2.7.0

**Additional Information:**
(Additional information, if any)

[2020-11-23 03:59] bingo-bonzai commented on #585
Getting same error here as well.

**Observation:** Most of my last updates have not been without some exceptions which required some form of manual intervention.
This one as @Matando has pointed out seems to be a dependency issue. Not sure if the current TI's extension framework supports Dependency Management.

**Suggestion:**
1. The extension loading routine in the Core framework may need to hand

[2020-11-23 06:25] ryanmitchell commented on #599
You can remove it from the menu by going to design > static pages > static menus and then removing that node.

[2020-11-23 06:26] ryanmitchell commented on #598
This is in progress and will be in the final version 3.

[2020-11-23 06:26] ryanmitchell commented on #600
Duplicate of https://github.com/tastyigniter/TastyIgniter/issues/597

[2020-11-23 15:26] daddeffe opened #601 "Possibility to inject manual time slot into the select during the order"
Trying to stress the program I fond out is possible to inject a 'not valid' timeslot in the menu page.
I tried to add a check in the CartManager->validateOrderTime but I'm not able to do it..

[2020-11-23 16:47] daddeffe opened #602 "Make the lead time influential in the valorisation of timeslots."
Considering a lead time of an hour and the time be 17.50

**Expected behavior:**
First aviable time slot 19.00

**Actual behavior:**
First aviable time slot 18.00

**Version:**
 v3.0.4-beta.24.2

**Possible solution:**

[code]
In the MaxOrdersPerTimeslotReached.php Listener.
I didn't make a fork because i didn't know how to add a check in the location for enable or disable the functionality that,

[2020-11-23 16:51] ryanmitchell commented on #602
I think this is fixed here: https://github.com/tastyigniter/flame/commit/fee1ea2ee485e6ec065e7f092ac4566a4507b909

[2020-11-23 19:18] ryanmitchell commented on #601
Can you provide steps to reproduce please?

[2020-11-23 19:19] ryanmitchell commented on #600
If this fix worked can you close the issue?

[2020-11-23 19:19] ryanmitchell commented on #599
If this worked can you close the issue?

[2020-11-23 19:43] Zelig880 commented on #599
Amazing it worked!

Maybe it would be nice to show that this kind of meny are editable from the UI.

I looked at the static pages, but did not notice the little "static menu"

[2020-11-23 19:43] #599 closed

[2020-11-24 09:21] Zelig880 commented on #598
Amazing thanks.

do you know if there are any timeline? (i have been developing 3 production ready application and want to give the customers timelines)

[2020-11-24 09:22] ryanmitchell commented on #598
You can see the pull request here: https://github.com/tastyigniter/TastyIgniter/pull/556
There are no firm timelines - we're just releasing as and when we have time.

[2020-11-24 09:25] ryanmitchell commented on #588
@sampoyigi just bumping this - let me know what you think is best and I'll work to that.

[2020-11-24 10:10] Zelig880 commented on #598
That is amazing thanks..

just to let you know, I am going to provide you some support (either personally or by paying people to work on the project). So if there is any help you need just give me a shout (I will also donate for every live production version I release)

duplicate #556

[2020-11-24 10:10] #598 closed

[2020-11-24 10:11] ryanmitchell commented on #598
Thats great - contributions are always welcome. Thanks.

[2020-11-24 12:49] #600 closed

[2020-11-24 18:38] roydeanjr commented on #597
Following up: I did revert to a backup I had, followed the delete PHP files instruction and was able to successfully update to 24.4!

[2020-11-24 20:04] ryanmitchell opened #603 "Should status update mail send be handled in Status model?"
I've been debugging an issue on Kitchen Display where status updates don't fire the mail send unless I call the mailSend() function and think I've found the cause. This issue is to determine whether its a bug or by design.

See:
https://github.com/tastyigniter/TastyIgniter/blob/937f778bdd47e13fbec2c0d250590c004ad18272/app/admin/formwidgets/StatusEditor.php#L360

The mailSend() happens in the mailS

[2020-11-24 20:10] roydeanjr commented on #603
I pray this information helps resolve this issue we are having with the Kitchen Display extension.

[2020-11-24 21:26] sampoyigi commented on #603
You make a very good point. mailSend() was previously called in createHistory until https://github.com/tastyigniter/TastyIgniter/commit/a2296d4ebe885036d395a4a4dd476e10881dd032. I just have to go back in time and figure out why I made those changes so I can revert without breaking something else... the life of a code maintainer 😅

[2020-11-24 23:01] sampoyigi commented on #588
Ah, I see what you mean. How about we store date formats as language strings instead?

[2020-11-24 23:02] sampoyigi commented on #601
This issue has no reproducible steps. Please reopen this issue if it still occurs, with a set of reproducible steps.

[2020-11-24 23:02] #601 closed

[2020-11-25 06:37] bingo-bonzai commented on #600
yup, it did work. Sorry missed to close this

[2020-11-25 06:45] ryanmitchell commented on #588
Yep that could work system::date maybe?

[2020-11-25 06:50] bingo-bonzai commented on #585
@Matando  @sampoyigi , even after installing the missing Coupon extension, the front end store is still not opening up for me.

Now am getting a new error
"(3/3) ErrorException
Undefined variable: location (View: /var/www/html/themes/tastyigniter-orange/_partials/localSearch/default.php) (View: /var/www/html/themes/tastyigniter-orange/_pages/home.blade.php)"

[2020-11-25 06:51] ryanmitchell commented on #585
See the fix here: https://forum.tastyigniter.com/d/2143-error-after-updating

[2020-11-25 07:01] bingo-bonzai opened #604 "Kitchen Display View does not show any order"
**Expected behavior:**
Kitchen Display View should show a list of orders as per the selected status filter.

**Actual behavior:**
Kitchen Display View show's blank in spite of setting a valid order status filter. I have tried for all Statuses and as well as each specific status. It still does not list any orders.

**Reproduce steps:**
1. Create a new Kitchen Display view
2. Under view creation for

[2020-11-25 07:03] ryanmitchell commented on #604
Please report here: https://github.com/ryanmitchell/ti-ext-kitchendisplay/issues as its related to the extension

[2020-11-25 07:03] #604 closed

[2020-11-25 12:11] bingo-bonzai commented on #585
Am a bit confused with the proposed solution in this comment
https://forum.tastyigniter.com/d/2143-error-after-updating/11

In my case i can see default file in both locations
_partials/localSearch/default.php
&
local/components/search/default.blade.php

So do i need to delete the file under _partials path?

[2020-11-25 13:24] ryanmitchell commented on #603
No problem - if I should be calling a different function or doing it a different way just let me know!

[2020-11-25 18:26] sampoyigi commented on #585
Yes delete the file under partials. All theme/component files should end up with .blade.php extension.

[2020-11-26 10:44] bingo-bonzai commented on #585
So @sampoyigi is it ok to just cleanup the entire _partials folder or is the folder structure still in use...?

[2020-11-26 16:46] sampoyigi commented on #588
Yea, system::lang.date_format_short, date_format_long, time_format....

[2020-11-26 16:48] sampoyigi commented on #603
Calling updateOrderStatus should be enough to update the status and send notification. Leave this with me to fix, I just want to make sure nothing else breaks.

[2020-11-27 09:26] ryanmitchell commented on #588
PR here: https://github.com/tastyigniter/TastyIgniter/pull/605

[2020-11-27 12:05] ryanmitchell commented on #602
@daddeffe can you check the commit and let me know if this resolves your issue?

[2020-11-27 22:37] sampoyigi commented on #558
This should have been fixed in v3.04-beta.24.4, please confirm.

See d81bed80c3b7c97f4da1681f9805c7274c29067e and tastyigniter/flame@d197dd951a67ddbaa1a9e1c79a410d6d0aff50b3

[2020-11-27 23:57] sampoyigi commented on #537
This issue looks fixed. Closing, but please reopen if it still occurs.

[2020-11-27 23:57] #537 closed

[2020-11-27 23:58] sampoyigi commented on #539
This issue looks fixed. Closing, but please reopen if it still occurs.

[2020-11-27 23:58] #539 closed

[2020-11-27 23:58] sampoyigi commented on #562
This issue looks fixed. Closing, but please reopen if it still occurs.

[2020-11-27 23:58] #562 closed

[2020-11-28 00:00] sampoyigi commented on #563
This issue looks fixed. Closing, but please reopen if it still occurs.

[2020-11-28 00:00] #563 closed

[2020-11-28 00:02] sampoyigi commented on #571
This issue looks fixed. Closing, but please reopen if it still occurs.

[2020-11-28 00:02] #571 closed

[2020-11-28 00:03] #565 closed

[2020-11-28 01:41] sampoyigi commented on #603
Sorted! 🤞  😅

[2020-11-28 02:25] roydeanjr commented on #603
Looking forward to the fix! Will you be releasing soon or will this fix be some time in coming along with additional changes?

[2020-11-28 02:29] roydeanjr commented on #603
Question: will status history also send an SMS Notification?

[2020-11-28 03:25] sampoyigi commented on #603
No, you'll need an automation rule to send SMS notifications and yes the fix will be available in the next update since its already merged into the develop branch.

[2020-11-28 03:30] roydeanjr commented on #603
When will the next update be released? So, the automation rule that is added by the SMS Notify extension should do the trick?

[2020-11-28 08:51] ryanmitchell commented on #558
It will be after Christmas before I can upgrade the install that was having issues. So let’s mark as closed for now and I can reopen if it crops up again.

Thank you.

[2020-11-28 08:52] #558 closed

[2020-11-28 14:18] ryanmitchell commented on #442
Some things that have been asked of us in the last couple of weeks which would be worth thinking about adding:

1. Ability to be open on 'special days' or different times on certain days (eg not usually open on Wednesdays but its Christmas Eve so we are open, or usually open 3-7 but on Christmas Eve is 3-10)
2. Ability to only offer pickup/delivery on certain specific days, ie offering delivery on

[2020-11-28 16:09] Zelig880 opened #607 "Unable to drag and drop email variables"
**Expected behavior:**
As an admin of the application, I would like to have the ability to drag and drop variables within my email template as suggested by the UI.

**Actual behavior:**
- The variables cannot be dragged, and they do not show nicely in the UI

**Reproduce steps:**
- Access the admin side
- Click on Mail templates
- Try to drag any variables from the side bar

Video of issue: https:

[2020-11-30 09:09] ryanmitchell commented on #607
Its on the roadmap for final v3 - https://github.com/tastyigniter/TastyIgniter/issues/442

It would be a great one to contribute to if you wanted to take it on.

[2020-11-30 11:57] BreakSecurity opened #608 "Option BUG v2"
**Expected Behaviour:**
After changing one of the options assigned to products, it should update correctly in all products where it is assigned

**Actual behaviour:**
This does not happen correctly, as after modifying the option (for example by adding or removing an option value or modifying it’s price), it is not correctly updated on the product page

**Reproduce steps:**
I create an option calle

[2020-11-30 14:01] sampoyigi commented on #607
You can drag and drop the variables by first selecting them, see the gif

![Screen Recording 2020-11-30 at 1 56 25 PM](https://user-images.githubusercontent.com/6567634/100618903-56968680-3314-11eb-8739-5fd26d897acc.gif)

`{email}` is the old email syntax which still works, but we've moved to blade syntax for email templates, so `{{ $email }}` would work fine.