[2020-11-30 17:10] Zelig880 commented on #607
Using the actual blade values did not work when I tried to use then, but I
will give it another try.

For the drag and drop, you would really want to implement a proper drag and
drop functionality.

I will try to work on it this week if I manage too..

On Mon, 30 Nov 2020, 2:01 pm Sam Poyigi, <notifications@github.com> wrote:

[2020-11-30 23:26] BreakSecurity opened #609 "When creating a new table ti_location_tables is NOT updated accordingly"
**Expected behavior:**
I should be able when creating a table to select location and the ti_location_tables should be updated accordingly.

**Actual behavior:**
When for a new table is created is NOT possible to select the location.

**Version:**
v.3.0.4-beta.24.4

[2020-12-01 02:10] sampoyigi commented on #609
Not reproducible in the latest release, make sure the flame package is up-to-date. Please reopen this issue if it still occurs, with a set of reproducible steps.

[2020-12-01 02:10] #609 closed

[2020-12-01 02:13] sampoyigi commented on #608
Duplicate tastyigniter/ti-ext-cart#33

[2020-12-01 02:18] sampoyigi commented on #607
Agreed but I decided to stop there with hope to get help from the community so I'd definitely accept a PR.

[2020-12-01 02:32] sampoyigi commented on #603
Erm, no exact release date for the next update but should be in coming weeks.

[2020-12-01 09:02] BreakSecurity commented on #608
This one has more details. I do not see that you transferred the old one. Should I close the old one?

[2020-12-01 09:06] BreakSecurity commented on #609
On last version of flame too (timeslot work with last fix that is in flame). I will add steps and reopen

[2020-12-01 10:42] sampoyigi commented on #608
You can leave both issues open for reference 👍

[2020-12-01 10:50] BreakSecurity commented on #609
@sampoyigi please let me know if now you are able to reproduce. Thanks for your time

[2020-12-01 12:41] sampoyigi commented on #609
Nothing has changed since your reply. I even had to update flame to be sure but it works fine, I see the record in locations_tables

[2020-12-01 12:44] BreakSecurity commented on #609
Do not want you to make you lose time on this I'll do a fresh install and try again. Thanks for the effort

[2020-12-01 12:51] ryanmitchell commented on #603
Closing as this is now complete. Thanks @sampoyigi

[2020-12-01 12:51] #603 closed

[2020-12-02 21:00] ryanmitchell commented on #535
1 is being handled as part of this.

2 would be a good option to allow. Do you want to work on it?

[2020-12-02 21:01] ryanmitchell commented on #526
@babelattke just bumping this. Let me know as the backend change is pretty simple.

[2020-12-02 21:03] ryanmitchell commented on #602
Closing due to lack of response. Looks fixed to me.

[2020-12-02 21:03] #602 closed

[2020-12-02 21:05] ryanmitchell commented on #597
Closing due to lack of response. Raise a new issue if you think it’s still unresolved.

[2020-12-02 21:05] #597 closed

[2020-12-03 09:10] BreakSecurity commented on #609
Update: No problems on a fresh install

[2020-12-03 19:51] BreakSecurity opened #612 "Multiple categories for the same item "sort" related problems V2"
I am opening this since the bug is still present.

**Expected behavior:**
For reference:  #563

**Actual behavior:**

For reference: #563

**Reproduce steps:**
I create a category named “Test Category 1” with priority 1; Item 1, Item 2 and Item 3 are assigned to this category
![immagine](https://user-images.githubusercontent.com/38836022/101058338-51903c00-358d-11eb-9f65-ec5c66c3684b.png)

I creat

[2020-12-04 13:50] babelattke commented on #526
@ryanmitchell is not supported at the moment. I'll work on it today and send a PR to the orange-theme.

[2020-12-07 14:19] #588 closed

[2020-12-08 04:07] roydeanjr opened #613 "Payload is invalid Encrypter.php"
Not sure if this is an issue that can be resolved.

While debugging I have to click continue a 4-6 times because and exception is thrown at line 195 of Encrypter.php. The error is DecryptException: The payload is invalid.

Is this an issue that causes load on the server unnecessarily? Or is this an anomaly while debugging? Or can this be resolved by passing a valid payload?

[2020-12-08 05:10] sampoyigi commented on #613
A stack trace error would help.

[2020-12-09 03:35] sampoyigi commented on #442
Somehow missed this. I plan on adding 1 and 2 as an extension and I'll accept a PR to add 3

[2020-12-09 07:37] ryanmitchell commented on #442
3 Is probably an extension rather than core - ability to provide urls that then set the right session variables. I'll work on it at some point.

[2020-12-09 08:30] artgocode commented on #613
Have the same message when trying to debug with xdebug on a homestead

[code]

[2020-12-09 13:40] sampoyigi commented on #613
I've always used xdebug for debugging and never seen this error before. Have you tried clearing your app cache and browser cookie?

[2020-12-10 06:04] roydeanjr commented on #613
I think I understand the issue: if you have more than one instance of TI that you are testing, for whatever reason, when you debug one of the installations, the other installation gets called or referenced in the debug process and when that happens, the payload is invalid for the install you are not testing and the install you are not testing gets called for some reason.

I noticed that when I exa

[2020-12-10 14:21] ryanmitchell commented on #591
Can you check if this is still an issue for you in beta25, and if so I'll work on a fix

[2020-12-10 14:22] #557 closed

[2020-12-10 14:22] ryanmitchell commented on #557
Closed due to lack of response.

[2020-12-10 14:23] ryanmitchell commented on #552
I mean this: https://github.com/ryanmitchell/ti-ext-ordereditor

[2020-12-10 14:24] #535 closed

[2020-12-10 14:25] ryanmitchell commented on #596
Closing due to lack of response, feel free to reopen with more detail.

[2020-12-10 14:25] #596 closed

[2020-12-10 14:26] #453 closed

[2020-12-11 14:06] artgocode opened #614 "Creating pagination templates inside `_partials/pagination` theme folder has no effect."
**Expected behavior:**
The default pagination `/system/views/_partials/pagination/default.blade.php` and `system/views/_partials/pagination/simple_default.blade.php` templates can be overwritten with a theme pagination templates by creating files `simple_default.blade.php` and `default.blade.php` inside a custom theme `_partials/pagination/` folder.

**Actual behavior:**
Creating pagination templa

[2020-12-11 15:01] BreakSecurity opened #615 "Super admin users are affected by location restrictions OR Single location store location select BUG"
**Expected behavior:**
As a super admin user I should NOT being affected by restrictions of any type.

**Actual behavior:**
Super admin users are affected by restrictions at least on location select process and related actions.

**Reproduce steps:**
In single store mode I am NOT able as a super admin to select location on Table creation:
![immagine](https://user-images.githubusercontent.com/388360

[2020-12-11 15:24] BreakSecurity commented on #615
**Suggestions:**
Also location should be mandatory in table creation process and so on. Which is the point of a table without location?

In single store mode the location should be automatically set and ideally not displayed at all or selected and greyed out.

[2020-12-12 08:34] BreakSecurity opened #616 "No notice time for reservations"
**Expected behavior:**
You should be able to set advance notice in order to make a reservation

**Actual behavior:**
It is not possible to set advance notice for reservations; at this moment it is possible to make a reservation up to one minute before the reservation time. For example, you can make a reservation at 11:59 am by selecting the 12 pm timeslot

**Version:**
v3.0.4-beta.25.2

[2020-12-12 08:35] BreakSecurity opened #617 "Reservation: All timeslots of the day are displayed"
**Expected behavior:**
As already happens for the timeslots generated on the main page of the site, only timeslots not yet passed should be shown to select the time of a table reservation

**Actual behavior:**
When selecting the time for a table reservation, all the timeslots of the day, both past and future, are currently displayed; similarly the same problem occurs in the second step of the book

[2020-12-12 08:38] BreakSecurity opened #618 "Reservation: Missing message error"
**Expected behavior:**
During the booking, it may happen that the selected number of guests cannot be accepted by the restaurant for any time (for example when the selected number is too low to be able to use a table, or on the contrary it is too high and there are not enough tables large). In this case, a clear error message should appear letting the customer understand why it is not possible to

[2020-12-12 08:40] BreakSecurity opened #619 "Multiple reservations accidentally created by one customer"
**Expected behavior:**
The site should not generate more bookings (or orders) if the customer clicks two or more times due to the slowness of the operation

**Actual behavior:**
I noticed that after finishing the reservation by clicking the "complete reservations" button, several seconds pass before the confirmation page appers. So, I tried to quickly click the button and this happened:
![immagine

[2020-12-12 23:02] #612 closed

[2020-12-14 08:24] ryanmitchell commented on #617
Opened a PR here: https://github.com/tastyigniter/ti-ext-reservation/pull/7

[2020-12-14 08:24] ryanmitchell commented on #616
Should be fixed as part of https://github.com/tastyigniter/ti-ext-reservation/pull/7

[2020-12-14 08:25] ryanmitchell commented on #618
@sampoyigi how do you want me to handle this issue? Do we hide the time selector and add a message in its place, or ... ?

[2020-12-14 08:26] ryanmitchell commented on #619
@sampoyigi let me know how you want this one handled

[2020-12-14 08:27] ryanmitchell commented on #614
Are you trying to use pagination on the front end or the backend? Currently the theme does not affect the backend styling.

[2020-12-14 08:27] ryanmitchell commented on #613
@roydeanjr are you happy this is resolved?

[2020-12-14 08:28] ryanmitchell commented on #591
@BreakSecurity Does this still exist in the latest beta?

[2020-12-14 09:18] artgocode commented on #614
Trying to use pagination on the frontend.

[2020-12-14 13:09] santcomputerkey opened #620 "Locations Review Error"
**Expected behavior:**
Rendering the reviews of the location

**Actual behavior:**

ErrorExceptionUndefined variable: controller
--
in reviews.blade.php line 10

and

in FileParser.php(199) : eval()'d code line 10
vendor/tastyigniter/flame/src/Pagic/Parsers/FileParser.php(199) : eval()\'d code', 10, array())
in FileParser.php(199) : eval()'d code line 10

**Reproduce steps:**
After clean installat

[2020-12-14 17:14] roydeanjr commented on #613
Yes, I thought I closed this issue already.

[2020-12-14 17:14] #613 closed

[2020-12-14 18:50] ryanmitchell commented on #620
Can we get the full stack trace please?

[2020-12-14 22:27] sampoyigi commented on #620
Fixed tastyigniter/ti-theme-orange@398310bab0f5c01abfb1ab5ed3ce29b9663b9f0c

[2020-12-14 22:27] #620 closed

[2020-12-14 23:08] sampoyigi commented on #618
I'd say we revert back to the previous behaviour.. We display the time slots regardless and then do the fully booked check on the next step when selecting the reduced timeslots.

As for when there's no tables available, we should throw a validation error..

[2020-12-14 23:12] sampoyigi commented on #619
Adding `data-attach-loading="disabled"` attribute to the button would disable on submit..

[2020-12-15 00:04] sampoyigi commented on #614
To customise the pagination partials for the frontend, you'll have to render the pagination partial manually.

So to customize the menus list pagination partials, create a copy of the partials and then change line 15 to

[code]

[2020-12-15 06:42] ryanmitchell commented on #619
Thanks, added to the PR here: https://github.com/tastyigniter/ti-ext-reservation/pull/7

[2020-12-15 06:51] ryanmitchell commented on #618
@sampoyigi I think this is already what we do on both counts. @BreakSecurity was looking for some indication at the first step.

[2020-12-15 15:35] artgocode commented on #614
Now It works! Thank you @sampoyigi

[2020-12-15 15:35] #614 closed

[2020-12-15 23:51] sampoyigi commented on #618
Yea that's what I'm saying, at the first step we don't need to disable the time options but instead throw a validation error when there are no tables to accommodate the guests, then at the next step (reduced timeslots) check if there are available tables for the selected time

[2020-12-16 08:25] ryanmitchell commented on #581
This seems to be done - happy for me to close it?

[2020-12-16 08:26] ryanmitchell commented on #591
Closing due to lack of response

[2020-12-16 08:35] ryanmitchell commented on #526
Any progress @babelattke ? I've noticed that menu item options in the admin can already have more than 1 allergen associated with them due to the relation type in the code.

Currently we don't output any allergens associated with menu item options (handled by cartbox/item_modal.blade.php in cart extension). Unless I'm missing how/where we output them?

[2020-12-16 08:52] ryanmitchell commented on #618
Cool - I've updated here:
https://github.com/tastyigniter/ti-ext-reservation/pull/7

[2020-12-16 10:34] BreakSecurity commented on #591
Sorry for the late answer @ryanmitchell still occurring in the last beta

[2020-12-16 10:53] ryanmitchell commented on #591
Opened a PR here: https://github.com/tastyigniter/TastyIgniter/issues/591

[2020-12-16 12:28] BreakSecurity commented on #612
Thanks tested now and now I have items in both categories.

[2020-12-16 12:31] BreakSecurity commented on #617
Thanks I tested everything and I love the new handling of all scenarios. Just want to have some clarifications on those fields on partial:

![immagine](https://user-images.githubusercontent.com/38836022/102348900-cf4b4300-3fa2-11eb-83a8-b69985bb5094.png)

This component still works: if I change '' minimum guest size '' or '' maximum guest size '' it works. Instead the number of days to show no lon

[2020-12-16 12:34] ryanmitchell commented on #617
They are still relevant when not in calendar view - maybe its possible to use triggers to hide them when calendar is enabled… Sam would be best placed to answer that.

Calendar view doesnt set an end date currently, but thats a good idea, what do you think Sam - use the same day value or a new one?

[2020-12-16 13:27] babelattke commented on #526
@ryanmitchell I just sent the PR.

[2020-12-16 13:33] BreakSecurity commented on #617
How can I switch to the other view?

[2020-12-16 13:40] ryanmitchell commented on #617
Disable calendar view option

[2020-12-16 17:07] BreakSecurity opened #621 "Delivery zones are NOT "sorted" properly. Less expensive one should be used."
**Expected Behaviour**
If an address is contained in two or more delivery zones, the cheapest one should be selected
**Actual behaviour**
If an address is contained in two or more delivery zones, the zone to be selected is the one created first
**Reproduce steps**
I have created 3 different delivery areas; all 3 concentric and centered on the same point of the city of Milan.
The first to be create

[2020-12-16 17:08] BreakSecurity commented on #621
@sampoyigi @ryanmitchell to me it looks similar to #612

[2020-12-16 18:48] ryanmitchell commented on #621
From memory, and @sampoyigi will know better than me, they are ordered according to how close you are to the centre. We could likely add a secondary sort on the price when the centre is the same.

[2020-12-16 19:27] sampoyigi commented on #581
😉

[2020-12-16 19:27] #581 closed

[2020-12-17 02:56] sampoyigi commented on #617
For the end date, use `datePickerNoOfDays` property

[2020-12-17 08:16] ryanmitchell commented on #617
Fix added to https://github.com/tastyigniter/ti-ext-reservation/pull/7

[2020-12-17 08:17] ryanmitchell commented on #616
Closing, see #617

[2020-12-17 08:17] #616 closed

[2020-12-17 08:17] ryanmitchell commented on #618
Closing, see #617

[2020-12-17 08:17] #618 closed

[2020-12-17 08:17] ryanmitchell commented on #619
Closing, see #617

[2020-12-17 08:17] #619 closed

[2020-12-17 11:07] BreakSecurity commented on #617
Perfect all tested and working with calendar ;)

Without is a mess...
![immagine](https://user-images.githubusercontent.com/38836022/102480033-03d10480-4060-11eb-89c4-90dd028f6081.png)

And still the two red parameters
![immagine](https://user-images.githubusercontent.com/38836022/102480313-63c7ab00-4060-11eb-8b36-6ac182a4bf4f.png)

Has no effects for me in both mode calendar/old

[2020-12-18 21:29] BreakSecurity commented on #621
Tested and for me it is fixed 👍

[2020-12-20 14:54] BlueRayNL opened #623 "Missing dependencie in update"
**Expected behavior:**
update should run without issues

**Actual behavior:**
error raised on update from version :
V3.0.4-beta 23.2
to version :
V3.0.4-beta 25.2.

**Reproduce steps:**
klik on update in the backend.

**Version:**
(TastyIgniter version number)
V3.0.4-beta 23.2

**Additional Information:**
missing dependency ->  Class 'Jenssegers\\Date\\DateServiceProvider' not found".

if you manu

[2020-12-20 16:24] mr2017x opened #624 "Problem with Accessing Frontpage (Backend no problem) Trying to get property 'permalink' of non-object"
Hi,

sadly i face an error after running an update (as far as i know - but no errors there). Maybe someone has a helpful idea.

failure is here:
[code]

[2020-12-21 02:22] sampoyigi commented on #623
Duplicate #597

[2020-12-21 02:22] #623 closed

[2020-12-21 11:04] AhmedAlAhmed opened #625 "Invalid links [ account/*, reservation ]"
After install it via composer, and install all extensions.
front-end login,register,reset .... and account links does not work.
because the prefix /account/ is added to the link.

[2020-12-21 13:34] sampoyigi commented on #625
This issue has no reproducible steps. Please reopen this issue if it still occurs, with a set of reproducible steps.

Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.
https://forum.tastyigniter.com/

[2020-12-21 13:34] #625 closed

[2020-12-22 00:24] #607 closed

[2020-12-22 06:44] ryanmitchell commented on #624
Did you try clearing the cache? There is a dashboard widget to do that.

[2020-12-22 07:07] ryanmitchell opened #626 "Adding payment method gives Payments_model::getConfigRules error"
Go to: admin->sales->payments and click new
For gateway select: “Cash On Delivery”
The complete the remainder of the form as follows: Name: “Cash On Collection”; Priority: “999”; Unique Code" “coc”; Description: “Pay cash on collection of your order”; Is Default: “disabled selected”; and finally last field: Status: “enabled selected”.

[code]

[2020-12-22 11:31] ryanmitchell commented on #608
@sampoyigi I'm happy to have a stab at this one... if you haven't started it ?

My approach would be to hook into the afterSave() of Menu_options_model to check for products using this menu_option type, and loop over it and remove any that no longer exist. I could also add ones that dont exist, but I feel that might not always be what people would want - manual adding might be better?

I also thin

[2020-12-22 11:34] ryanmitchell commented on #615
When you select a location it defaults to that location - thats why the location field does not work

[2020-12-22 11:38] BreakSecurity commented on #615
Can you explain what you mean by select a location? In single store mode I shouldn't take care of that, am I right?

[2020-12-22 11:40] ryanmitchell commented on #615
In single store mode there is only one location so it defaults to that.

In multi store mode you need to select all locations from the drop down for it to be selectable, otherwise it defaults to the location you are on.

[2020-12-22 11:49] BreakSecurity commented on #615
In single store mode there is only one location so it defaults to that.

This do not happen to me. I have none selected and the field blocked

[2020-12-22 11:49] BreakSecurity commented on #615
Enabling multi location was a workaround to this behaviour

[2020-12-22 11:51] ryanmitchell commented on #615
When you save do you get an error?

[2020-12-22 11:53] BreakSecurity commented on #615
Nope it create let's say the table without location assigned to it

[2020-12-22 11:58] ryanmitchell commented on #615
I'll try and get some time to investigate single location mode - never really used it

[2020-12-22 22:01] sampoyigi commented on #608
Happy with the approach. Create the PR :)

[2020-12-22 22:35] BreakSecurity commented on #608
@ryanmitchell @sampoyigi
Shouldn't be more convenient to simplify the logic syncing all edits on the option set? So we always propagate the modifies to all menu items with the selected option set?

[2020-12-23 03:48] sampoyigi commented on #615
Might be related: https://github.com/tastyigniter/TastyIgniter/commit/bfc652262292751a1a0e487e8b7289e819193e5e

[2020-12-23 07:33] ryanmitchell commented on #608
@BreakSecurity I wouldn't want this, as we have situations where you only want a subset of options available on certain items, it would be annoying if every time you changed the option it got reset. I'm not sure there is an ideal solution to this as both sides of the argument have merit.

[2020-12-23 22:48] #626 closed

[2020-12-23 23:30] sampoyigi commented on #608
Yup would be great to somehow sync changes from the parent option values into the menu item option values so that the option value price can always default to the parent value price when a new price hasn't been set.

We should be able to make it work for both cases. Together with removing the deleted values, say we add a button 'Update Menu Option Values' (or something that makes more sense) in th

[2020-12-24 01:12] BreakSecurity commented on #615
Still having this bug in single location mode

[2020-12-24 07:25] ryanmitchell commented on #608
That’s a good idea - a sync button that lets you force all changes through to items it’s attached to. I like that solution.

I can work on that - Sam how do I do it without making a refundant field in the model?

[2020-12-24 09:06] #621 closed

[2020-12-24 14:16] lukewhitingdev opened #631 "Hide locations that are not accessible in current role when creating new users"
**Expected behavior:**
Role that is assigned to a specific location can only create users inside that location and in the location drop-down inside the create user form, only the specific locations that are assigned to the user are there.

**Actual behavior:**
Roles cannot assign new users to locations outside of their assigned location however they still get the option to resulting in a error whe

[2020-12-26 20:31] djtimca opened #632 "Dashboard Widgets Not Location Specific"
**Expected behavior:**
For a user who only has access to one location they should only see the sales/information reporting on the dashboard widgets for the location they have access to.

**Actual behavior:**
The dashboard widgets are showing the total sales for all locations on the platform.

**Reproduce steps:**
I set up two locations in the system and one user in the owner role for each location

[2020-12-27 11:48] ryanmitchell commented on #632
@sampoyigi If you agree these should be location limited then I can work on amending the statistics and charts widgets to do that.

[2020-12-27 13:10] djtimca commented on #632
One thing with the location limits I did notice is that it is a hard limit to what is selected in the user drop down. If there was an ability to have All as an option there for a user with multiple locations they access and then have the charts aligned to the selected location or all that would be best.

[2020-12-28 08:40] Tanbir17 opened #634 "Alphabetical (or ID) options."
**Expected behavior:**
Expected that options would that are added to the menu options in admin panel would be ordered by the option values as they were added in when you create a new option.

**Actual behavior:**
The options are displayed randomly in the given option for both admin and frontend menu.

**Reproduce steps:**
1. Create a menu item
2. Create a new option with multiple option values (1,

[2020-12-28 10:54] ryanmitchell commented on #624
Can you let me know if this helped? I’m going to close the issue off if I don’t hear back

[2020-12-29 11:09] BreakSecurity opened #637 "[BUG] QueryException SQLSTATE[42S02]: Base table or view not found in Connection.php line 669"
**Version:**
On edge...

**Additional Information:**

[code]

[2020-12-29 11:31] ryanmitchell commented on #637
Where in the system was this generated?

[2020-12-29 11:41] BreakSecurity commented on #637
admin/login
admin/extensions
everything went down after upgrade

[2020-12-29 11:43] BreakSecurity commented on #637
[code]

[2020-12-29 11:54] ryanmitchell commented on #637
Looks like a migration failed somehow. One for Sam :)

[2020-12-29 12:12] BreakSecurity commented on #637
app/admin/database/migrations/2020_12_13_000300_merge_staffs_locations_into_locationables_table.php

Maybe the problem is there

[2020-12-29 12:51] sampoyigi commented on #608
Can you be more specific?

[2020-12-29 13:14] #631 closed

[2020-12-29 13:27] sampoyigi commented on #632
@ryanmitchell yup widgets should be location limited. Also, make the (All option) visible for a user with multiple locations as @djtimca suggested. I don't think we have the logic in place for limiting multiple locations, so you'll have to add that too.

[2020-12-29 14:01] ryanmitchell opened #638 "Handle empty currency thousand seperator"
See detail here:
https://forum.tastyigniter.com/d/2283-currency-is-displayed-in-wrong-format/3

Do we need to handle this better?

[2020-12-29 14:30] sampoyigi commented on #638
Yup looks like something we should resolve.

[2020-12-29 16:11] ryanmitchell commented on #608
Got it working - forgot about purgeable :)

[2020-12-29 16:27] ryanmitchell commented on #638
Is it as simple as adding ?? '!' to this line?
https://github.com/tastyigniter/TastyIgniter/blob/55c1455675d439f419cf54c4a2d002d32c6d1cf5/app/system/models/Currencies_model.php#L155

[2020-12-30 23:13] BreakSecurity commented on #615
Unfortunately this did NOT fix the problem :(

[2021-01-01 13:15] sampoyigi commented on #615
That's the expected behaviour for single location mode. There's no point enabling the dropdown for super admin in a single location mode since only one location is expected in the system.

The dropdown remains blank until the locationable entity is created then the default location id is assigned to the entity.

[2021-01-02 22:05] Matando commented on #638
There are currencies that do not use fractions of units. For example the Japanese Yen does not. ie. 100 yen is roughly $1.00.
So with this in mind, it does need to stay possible for there to be no thousand seperator.

[2021-01-03 03:10] #617 closed

[2021-01-05 02:14] #638 closed

[2021-01-05 02:20] sampoyigi commented on #637
Unable to reproduce. The issue is probably related to your dev environment.

[2021-01-05 09:45] jcbolor opened #643 "PHP Fatal error: Access level to Admin\Models\Menus_model::$casts must be public (as in class Igniter\Flame\Database\Model)"
Upon installation

[2021-01-05 09:46] ryanmitchell commented on #643
How did you install?

[2021-01-05 10:32] BreakSecurity commented on #637
Closing. I will reopen if still occurs in new betas

[2021-01-05 10:32] #637 closed

[2021-01-05 14:13] #634 closed

[2021-01-05 14:13] djtimca opened #644 "Customer Default Address and Prefill of Default in 'locations' location bar"
**Expected behavior:**
Have the customer's address prefill in the locations page location bar at the top so they don't have to enter it every time when they go to place an order.

Preferred would be for a customer to be able to set a default address in their profile and use that address.

Second best would be to use the most recent order address for that customer.

**Actual behavior:**

location p

[2021-01-05 22:04] #591 closed

[2021-01-06 09:46] ryanmitchell commented on #643
This error only occurs when you were using a dev branch before the latest beta was released. Now that its released please upgrade. I'm closing this issue off.

[2021-01-06 09:46] #643 closed

[2021-01-06 12:50] ryanmitchell commented on #644
To set the default address you just set the address_id of the customer... @djtimca could you work on a PR for this? it should just be a case of adding a new button in the login area address form ("Set as default").

Adding the address to the location bar - you could pull the Customer info using \Auth::customer() and if it doesnt return false, you could add the address to the search component $page

[2021-01-06 14:00] djtimca commented on #644
I don't have any PHP experience, but will give it a shot!

[2021-01-07 01:58] #632 closed

[2021-01-07 20:41] BreakSecurity opened #646 "[BUG] Builtin order limit do NOT works"
**Expected Behaviour**
The order limiter placed on "settings" should allow you to limit orders for each time slot

**Actual behaviour**
After setting an order limit for each time slot, this doesn't work

**Reproduce steps**
From the settings menu, I set a limit of 1 order per interval
![immagine](https://user-images.githubusercontent.com/38836022/103942054-148d0b80-5130-11eb-8ff3-92cb4c3b0b09.png)

[2021-01-07 21:00] BreakSecurity opened #647 "[BUG] Special price do NOT works"
**Expected Behaviour**
As in previous versions, it should be possible to set a special status with a special price that overrides the price of the menu item
![immagine](https://user-images.githubusercontent.com/38836022/103943888-28863c80-5133-11eb-8a52-364966cedc3d.png)
![immagine](https://user-images.githubusercontent.com/38836022/103943908-3045e100-5133-11eb-9219-18031717dedf.png)

**Actual beh

[2021-01-07 21:50] BreakSecurity opened #648 "[BUG] Deactivate areas with -1 do NOT works anymore"
**Expected Behaviour**
It should be possible to disable delivery zones by setting the delivery price to -1
**Actual behaviour**
By setting the delivery price of a certain area to -1, the area is not deactivated but only made free
**Reproduce steps**
1) Create a delivery zone, and set the delivery cost to -1 £
![immagine](https://user-images.githubusercontent.com/38836022/103948307-d98fd580-5139-11

[2021-01-07 21:52] BreakSecurity opened #649 "[BUG] Ghost categories?"
**Expected Behaviour**
After the upgrade, pre-existing products and categories should not be changed

**Actual behaviour**
After the update, some categories are ghosted: they do not appear from the list of categories, but they still appear on the site and can be assigned to products
![immagine](https://user-images.githubusercontent.com/38836022/103948884-d517ec80-513a-11eb-8936-3501e46cee9f.png)

[2021-01-07 21:54] BreakSecurity opened #650 "[BUG] Categories can NOT be "disabled" anymore"
**Expected Behaviour**
After making a category unavailable, it should disappear from the site with all products linked to it
**Actual behaviour**
After making a category unavailable, it remains perfectly visible on the site, not hiding it from the site
**Reproduce steps**
1) Create a new category with several menu items assigned to it
![immagine](https://user-images.githubusercontent.com/38836022/

[2021-01-08 00:28] sampoyigi commented on #648
Fixed https://github.com/tastyigniter/ti-ext-local/commit/16b829d8dc96aee07e18ebb7ca2f883bb43ef741

[2021-01-08 08:32] ryanmitchell commented on #649
Looks like they arent tagged to a location - have you switched between single and multi location mode at some point?

[2021-01-08 11:07] jsongerber opened #651 "Get total sale sum widget not working"
Since `(int)` was added, the total sum widget is not working, I think because `getTotalSaleSum()` returns a currency format.
I have CHF currency, and the symbol is before the amount, so maybe it is working with $, where the symbol is after and the int casting is probably working.
https://github.com/tastyigniter/TastyIgniter/blob/f3c91e474ee6d5d5196a92f3a78787c424b54e90/app/admin/dashboardwidgets/S

[2021-01-08 11:36] djtimca opened #652 "[BUG] Non-admin users cannot access locations that are disabled"
**Expected behavior:**
For a user with access to a single location they should be able to access the restaurant settings page (with appropriate permissions).

For a user with multiple assigned locations they should be able to access settings for all their assigned locations.

**Actual behavior:**
Single location access users get the following error when they go to settings:

[code]
Users with mult

[2021-01-08 11:52] jsongerber opened #653 "Missing categories menus and options in single restaurant location after update"
I have a TastyIgniter installation with a single restaurant location, we added multiple menus/categories/menu options and it was working fine.

Since last update (v3.0.4-beta.26) the front end was still working, but in the admin a lot of content was missing: no more menus, no more categories, no more mealtimes.

After some digging I found out that this was because those menus and categories were n

[2021-01-08 12:03] BreakSecurity commented on #649
@ryanmitchell It was a previous test environment so it is possible that I have used that switch at some point.

We should have a migration table/routine that reassign all categories and item to the default location when you switch from single to multi?

And we should make mandatory to assign a location to menuitem and categories and so on?

Or maybe the best approach is to assign location even in

[2021-01-08 12:37] sampoyigi commented on #649
Right, its the missing location issue.

@BreakSecurity do you want to have a go at making locations selection required throughout the system to avoid issues like this one? Also the demo data on a fresh install, those should be assigned to the default location.

[2021-01-08 20:24] BreakSecurity commented on #647
Fixed!

[2021-01-08 20:24] #647 closed

[2021-01-08 20:33] BreakSecurity commented on #648
@sampoyigi It only blocks the checkout button right now... it would be better to exclude the area overall and do NOT even let the customer arrive to the checkout page if the area is disabled.

[2021-01-08 20:36] sampoyigi commented on #648
Did you check the tastyigniter/ti-ext-cart@a323f3b commit? This line here blocks the checkout page

https://github.com/tastyigniter/ti-ext-cart/commit/a323f3b9665869ef2d98a4232de7d458a35c563a#diff-e98a584c75b9ee1454f55e39bfdcb5aacbbda5ee956e0891448bd32d137269ecR266

[2021-01-08 20:36] BreakSecurity commented on #650
Actually they disappear only from the sidebar but NOT from the menu items list

[2021-01-08 20:38] BreakSecurity commented on #653
Same as #649

[2021-01-08 20:39] BreakSecurity commented on #615
Related to #649

[2021-01-08 20:44] BreakSecurity commented on #648
Yep same a323f3b commit. Let me try with optimize:clear

[2021-01-08 20:54] BreakSecurity commented on #648
@sampoyigi Ok it works. Best solution would be to trigger the pop-up message "we do not delivery to this address" like when you enter address not covered by any areas to have the same behaviour and, at the same time, being more informative with customers

[2021-01-08 21:23] sampoyigi commented on #648
Good it works..

Yea would be nice if we can do this, there are other places where we can use popup instead of the redirect/flash message

[2021-01-08 22:35] BreakSecurity commented on #648
Should I close this, or we keep this until we have a flash message or a popup

[2021-01-09 00:22] sampoyigi commented on #648
Yup close this, you can open another one for the popup message

[2021-01-09 01:06] sampoyigi commented on #653
Thanks for the video. Looks like these [commit](https://github.com/tastyigniter/TastyIgniter/commit/a7be127299c6c5132ba91980fc9e2a673d8acb20) is the culprit but then just reverting it would break something else, so I'll work on a new UI for the menu item option values in the next couple of days.

[2021-01-09 02:06] sampoyigi commented on #653
No new UI needed for menu option values, found a quick fix 🤞

https://github.com/tastyigniter/TastyIgniter/commit/5caa77fa8bdf7261ab09b63876ae853b739d8424#diff-ded22025e66c9234103679def15e545efd5515a6eb191b5c5a15ee3a582ebaa2

[2021-01-09 09:48] BreakSecurity commented on #648
Fixed!

[2021-01-09 09:50] BreakSecurity commented on #608
Great work with this!

[2021-01-09 09:50] #608 closed

[2021-01-09 09:52] BreakSecurity commented on #615
@sampoyigi now the location field is always displayed and it's not grayed out, right?

[2021-01-09 11:10] jsongerber commented on #653
Looks like it's working, thank you for this quick fix!

[2021-01-09 11:30] sampoyigi commented on #651
Sorry about this one, not sure what I was thinking when I added the `(int)`

[2021-01-09 11:36] sampoyigi commented on #615
Right

[2021-01-09 12:47] BreakSecurity commented on #615
Closing since will be "fixed" with #649

[2021-01-09 12:47] #615 closed

[2021-01-09 12:48] BreakSecurity commented on #653
@jsongerber Can you close since it is fixed?

[2021-01-09 12:52] #653 closed

[2021-01-09 16:00] djtimca commented on #652
The issue appears only to affect users who have restricted locations and where the location is disabled. If the location is enabled the error does not exist￼

[2021-01-09 18:34] BreakSecurity commented on #648
@sampoyigi Areas do NOT works well after last commits:

1. minimum order amounts of delivery areas is NOT displayed anymore with ALL/BELOW option (and took in consideration for the logic side)

[2021-01-09 18:37] BreakSecurity commented on #648
![immagine](https://user-images.githubusercontent.com/38836022/104105888-cd2e8880-52b1-11eb-98e6-f3ea4d41ea8b.png)
![immagine](https://user-images.githubusercontent.com/38836022/104105902-e6cfd000-52b1-11eb-9eaf-8a0fcd0fb137.png)
Should be 20?

[2021-01-09 23:10] ryanmitchell commented on #650
PR here.

https://github.com/tastyigniter/TastyIgniter/pull/654

[2021-01-09 23:56] sampoyigi commented on #648
Fixed tastyigniter/ti-ext-local@018550b05ef26778be6b2ecd8c942390ab314996

[2021-01-10 14:01] #651 closed

[2021-01-10 14:02] ryanmitchell commented on #650
@BreakSecurity if this is working for you now can you close off the issue?

[2021-01-10 18:59] BreakSecurity commented on #650
Still NOT working because if a product inside the DISABLED category is ACTIVE the category is still displayed on menu (and hide only in the sidebar) @ryanmitchell

[2021-01-10 19:00] BreakSecurity commented on #648
Tested fix works!

[2021-01-10 19:00] #648 closed

[2021-01-10 19:18] ryanmitchell commented on #650
Did you apply Sam's fix as well?

[2021-01-10 19:31] ryanmitchell commented on #650
Yep actually I can see how now, opened a new PR:
https://github.com/tastyigniter/TastyIgniter/pull/655

[2021-01-10 19:59] BreakSecurity opened #656 "[Enhancement] Avoid customer confusion with clear message in disabled delivery areas scenario"
**Expected Behaviour**
After a delivery zone has been disabled, it should be clearer for the user trying to order from it that delivery is not available
**Actual behaviour**
After disabling a delivery zone by setting its cost to -1, this is what a customer sees trying to order from the disabled zone
![immagine](https://user-images.githubusercontent.com/38836022/104133874-970f0880-5386-11eb-8333-a8

[2021-01-10 21:09] BreakSecurity opened #657 "[Enhancement] Apply to the whole category items options sets & mealtimes"
It would be very convenient if it were possible to assign certain values   to all the menu items of the same category that would overwrite all those of the individual menu items. I give some examples:
1) At the moment, if I want an entire category of my products not to be available for dinner, I have to individually modify all the menu items by assigning them the appropriate mealtimes (some catego

[2021-01-10 21:16] BreakSecurity commented on #650
@sampoyigi After checking with Ryan the issue is still there. Maybe you'll see what we miss. Thanks for the help

[2021-01-11 09:28] ryanmitchell commented on #657
Sounds like an extension to me, rather than something for core.
If we do decide its worth adding to core it definitely should be targeting v4+

[2021-01-11 10:17] BreakSecurity opened #658 "[BUG] Some date time format are NOT using the new translate strings & on (PHP) admin side weekdays are not translated"
Different things:

1.   %D, %M %j, %Y display weekdays in English even if the browser is in Italian and ti lang is Italian too (English is disabled in the system)
2.

not able to find those in the repos so maybe is some trash that survived in my DB due to manual translation

3.    ` system::lang.php.date_format_long` how to translate it to Italian? (l, jS F Y)
4.     Last login time and all those

[2021-01-11 10:20] BreakSecurity commented on #658
For 1.
![immagine](https://user-images.githubusercontent.com/38836022/104168894-06284380-53ff-11eb-9731-fdde4cefa5f9.png)

[2021-01-11 15:51] sampoyigi commented on #657
I agree with Ryan, the feature would fit better in an extension than the core... Just from the screenshot, I feel it will add unnecessary complication to menu items management.

This is also similar to the Bulk Update feature you suggested in the past.. I'm fine with a Bulk Update or Assign feature in the core.

[2021-01-11 15:54] BreakSecurity commented on #657
"I'm fine with a Bulk Update or Assign feature in the core" of what? I suggested a lot of stuff 😅

[2021-01-12 08:09] ryanmitchell opened #659 "Selectlist values are not blankable"
Raising as an issue instead of a PR as Im not sure how best to handle it.

The issue is that select lists cant be blanked once they have a value, even if they are not required. So to replicate, add a value, then save, then remove the value, and what you saved persists.

[2021-01-13 15:26] BreakSecurity commented on #659
Something similar to what have been done with KD? https://github.com/ryanmitchell/ti-ext-kitchendisplay/blob/4a8f1e49fc75fb1222d2e34ba0c6cedcbe0608fd/models/Views.php#L38

[2021-01-13 15:27] ryanmitchell commented on #659
Yep that’s my work around. Needs to be handled better in core.

[2021-01-14 17:39] sampoyigi commented on #659
Using the `placeholder` field property you can add an empty option.. See the language form field in `staff_model.php`

[2021-01-14 18:44] ryanmitchell commented on #659
Yeah I tried that, it doesnt seem to work with select list - because there is no form field value present it treats the field as missing so doesnt update the value.

[2021-01-16 16:31] BreakSecurity opened #665 "[BUG] Is ASAP is NOT working as expected"
**Expected Behaviour:**
If the customer selects the ASAP option, the order should contain a tick indicating this and order time should be placing time + lead time.

**Actual behaviour:**
If the customer selects the ASAP option, the order does not contain a tick indicating it. Furthermore the delivery time is the time when the order is placed.

**Reproduce steps:**
1) Create a new order selecting t

[2021-01-17 22:57] elmarra90 opened #666 "Missing translated strings in ADMIN localization language"
** Expected behavior: **
After adding the translation files in the backend in: admin> localization> language new translated the strings had to be translated

** Actual behavior: **
Currently after the last update to beta 26 the strings have disappeared (previously they were added)

** Replay the steps: **
After updating the strings of the translation disappeared, in the old version they were prese

[2021-01-18 14:52] #624 closed

[2021-01-19 12:26] #649 closed

[2021-01-19 13:04] sampoyigi commented on #659
Using the language field on the admin staff form as an example.. I'm able to create a staff with multiple languages and then update the same staff with no language selected, so somehow the form field is passing the right value? or am I missing something?

[2021-01-19 13:26] ryanmitchell commented on #659
Maybe the difference is that its a relation not a select list? I've tried quite a few ways of handling it (and have a work around), but a straight up standard select list cant be blanked.

[2021-01-19 14:29] sampoyigi commented on #659
Ok, share your field configuration

[2021-01-19 14:46] ryanmitchell commented on #659
From the loyalty extension I'm working on...

                'spending_categories' => [
                    'tab' => 'lang:igniter.coupons::default.text_tab_restrictions',
                    'label' => 'lang:igniter.coupons::default.label_categories',
                    'type' => 'selectlist',
                    'options' => \Admin\Models\Categories_model::getDropdownOptions(),

[2021-01-19 16:01] sampoyigi commented on #644
Fixed!

[2021-01-19 16:01] #644 closed

[2021-01-19 23:13] ohbks opened #667 "[BUG] Calendar in Admin's Reservation page broken in Agenda view"
Tested in a fresh installed instance.

1. Log in as admin
2. Go to Sales -> Reservations and create a reservation
3. Go to calendar view
4. Click either 'week' or 'day' to switch mode
5. Result: javascript error as in the second screenshot below

![image](https://user-images.githubusercontent.com/77703241/105105244-b4785c80-5a81-11eb-9886-8143180e682b.png)

![image](https://user-images.githubuserc

[2021-01-20 06:37] ryanmitchell commented on #646
@sampoyigi I think this has thrown off the max orders extension as well, so it looks like the event isnt being fired any more. Would the recent changes to working schedule have affected something?

[2021-01-20 06:48] ryanmitchell commented on #657
Closing. Feel free to reach out on Slack to scope out the bulk update.

[2021-01-20 06:48] #657 closed

[2021-01-20 07:16] ryanmitchell commented on #658
I've opened a PR for the listing dates.

the datepicker on add reservation can be localised  - see here:
https://bootstrap-datepicker.readthedocs.io/en/latest/i18n.html
We should pass the various elements needing translated as JSON in the date picker widget.
@BreakSecurity do you think you could work on this?

Calendar can be localised:
https://fullcalendar.io/docs/locale
@sampoyigi would it be wo

[2021-01-20 07:17] ryanmitchell commented on #666
Can you detail which strings have been changed?

[2021-01-20 07:21] ryanmitchell commented on #667
What OS and browser version are you on? It looks to be an issue with the calendar plugin so we may need to report it upstream.

[2021-01-20 07:24] elmarra90 commented on #666
all strings that prior to the update are now displayed in English.
however, the whole site is translated.
practically although the site is translated, only the strings are not displayed in admin translated while before the update they were displayed

[2021-01-20 07:37] ryanmitchell commented on #656
Opened a PR here: https://github.com/tastyigniter/ti-ext-local/pull/38

[2021-01-20 07:39] ryanmitchell commented on #666
So that i understand correctly:

1. You applied a language pack and everything was translated in both front end and admin
2. You updated the system (to beta 26.2?) and although the translations still work, they are not available in Localisation -> Languages ?

[2021-01-20 12:26] ohbks commented on #667
@ryanmitchell I am on Windows 7 + latest version of chrome

[2021-01-20 12:40] shyamjptpm opened #670 "CSRF Token is not validating"
**Expected behavior:**
Admin Login CSRF token should be validated from the server side.

**Actual behavior:**
Admin login submission is possible with the incorrect token

**Reproduce steps:**

1. Go to Tastyigniter Admin Login
2. Inspect element in the browser, change the "_token" named input value to any other value
3. submit the form.

**Version:**
v3.0.4-beta.26

**Additional Information:**
I c

[2021-01-20 13:01] sampoyigi commented on #659
I see what you mean with the form field value, apart from the workaround in the KD extension, how would you fix this within the `field_ selectlist` file?

[2021-01-20 13:11] sampoyigi commented on #652
Tracking back on this, do we really want to grant a restricted user access to a disabled location?

[2021-01-20 13:15] djtimca commented on #652
In my use case I have multiple restaurants with different owners being set up. When we set up their account we grant access to the location only. I want their location to remain disabled and not visible until they have completed setup of their menus etc and are ready to launch on the platform.

If I want to restrict their access to the platform I do it either through removing access to a specific

[2021-01-20 13:17] ryanmitchell commented on #659
The only thing I had thought of was adding something around here:
https://github.com/tastyigniter/TastyIgniter/blob/1b8315880937c9ba0e58fddd0f38321d438de64b/app/admin/widgets/Form.php#L753

if type is select list and multiple then add a blank value if not present in $data - feels hacky but was the best i could come up with

[2021-01-20 14:59] liffez commented on #552
A workaround could be done by making a version of the standard "menu ordering system" - only accessible from the admin panel - where the email verification is disabled so the admin can make a order on behalf of the costumer - with the costumers email. (or just adding the restaurant email)
This will would be very feasible to use when te costumer call in to place a order.

[2021-01-20 15:05] ryanmitchell commented on #552
Yep its an idea, but easier said that done.
We've settled on not adding it to the admin panel but post v3 working on an order taking app that interfaces through the API

[2021-01-20 15:19] liffez commented on #552
A dedicated order taking app would definitely be a better and more "right" solution.
I just thought it would be a easier workaround for a temporary solution to make a link to a "menu ordering system" within the admin.
thanks for your feedback :-)

[2021-01-20 16:08] sampoyigi commented on #646
@ryanmitchell you're spot on! Passed the currentTime instead of the timeslot to `igniter.workingSchedule.timeslotValid` event.. 😅

[2021-01-20 16:59] sampoyigi commented on #670
Some screenshots would help.. Did a quick test and CSRF seems to be working fine.

[2021-01-20 19:02] sampoyigi commented on #656
@ryanmitchell how about we disable adding items to cart when the checkout button is disabled and display a flash message instead? Then add a new rule to Delivery cart condition to make it invalid when the delivery charge is negative..

[2021-01-20 19:04] sampoyigi commented on #652
You make a good point! I'll merge the PR.

[2021-01-20 19:14] #652 closed

[2021-01-20 19:43] ibrahimsayedahmad commented on #670
same problem
![Untitled](https://user-images.githubusercontent.com/9349775/105226307-7dc94180-5b68-11eb-95f6-0fd744d331ae.png)

[2021-01-20 20:05] ryanmitchell commented on #656
Yeah there was quite a bit of code that didnt seem to be being used - I didnt want to touch it for fear of breaking something else.

I'll work on this over the next few days.

[2021-01-20 22:04] elmarra90 commented on #666
Correctly correct.
1) I added a language pack and everything has been translated.
In both demo sites I have.
I noticed this on site "1" after updating to beta 26, so I checked that it worked in the outdated version. Checked that the strings were displayed in admin I proceeded to update and I found the same problem there too.
2) That's right, after updating despite the translations working, both fr

[2021-01-20 22:36] sampoyigi commented on #656
Thank you!

[2021-01-21 02:45] shyamjptpm commented on #670
![Screenshot from 2021-01-21 08-13-16](https://user-images.githubusercontent.com/3592379/105273149-bd237c80-5bc0-11eb-97a6-fec1ffe49d59.png)
changed the token value to "novalue" form is still submitting

[2021-01-21 03:00] shyamjptpm commented on #670
`<html>
<body onload='document.CSRF.submit()'>

<form action='http://localhost/tastyigniter/admin/login' method='POST' name='CSRF'>
    <input type='hidden' name='user' value='admin'>
    <input type='hidden' name='password' value='demoadmin'>
</form>

</body>
</html>`
created an html file and open in browser. form worked. it should not work without csrf!

[2021-01-21 03:28] shyamjptpm commented on #670
it worked when I added the verifycsrftoken middleware to app/admin/routes.php

 'middleware' => ['web','verifycsrftoken'=>\Illuminate\Foundation\Http\Middleware\VerifyCsrfToken::class],

[2021-01-21 09:44] ryanmitchell commented on #666
This forum post seems to be related: https://forum.tastyigniter.com/d/44-how-to-setup-multi-language/15
@sampoyigi can you think of any changes between the betas that might be causing this?

[2021-01-21 10:19] ryanmitchell commented on #656
Ok, I've updated to use rules and show a warning

Not sure how to disable the checkout button - is that being done somewhere already when delivery isnt available? I cant see it.

[2021-01-21 13:36] ryanmitchell commented on #667
Is it stopping anything from functioning?

[2021-01-21 13:47] ryanmitchell commented on #533
@BreakSecurity can you try this and see if it works? https://github.com/tastyigniter/flame/pull/28
By using referrer it means the same restriction works front end and back end

[2021-01-21 15:20] ohbks commented on #667
@ryanmitchell Sorry I guess I wasnt clear. None of the calendar items show up in the weekly or daily view, presumably due to the javascript error.

Workaround is to use monthly view only.

[2021-01-21 22:05] sampoyigi commented on #670
I'm unable to reproduce the error on the latest version. Not sure what version you're on but on the latest version the login form looks like this:

[code]

and the `VerifyCsrfToken` middleware is already added to both admin and main routes

https://github.com/tastyigniter/TastyIgniter/blob/46bcdc834751c1dbe0c23c52904ae9e8d838727c/app/admin/routes.php#L17-L19

[2021-01-22 02:41] babelattke opened #671 "Saving settings from a non-active theme"
**Expected behavior:**
Saving theme settings of a non-active theme should update/generates its own CSS file based on assets.json settings.

**Actual behavior:**
Saving theme settings of a non-active theme updates/generates the CSS file but using active-theme color settings.

**Reproduce steps:**
Activate **Theme A** -> Open customisation theme options -> Change Primary Color -> Save or Save & Clos

[2021-01-22 04:46] #670 closed

[2021-01-22 04:47] shyamjptpm commented on #670
Thank you Sam, In my version I added in the admin route. Issue resolved.

[2021-01-22 11:17] ryanmitchell commented on #667
Yeah I can replicate that too in Chrome - seems to be a bug in fullCalendar.
@sampoyigi the current version is 5 and we're on 3.9 - should we look to upgrade before stable v3?

[2021-01-22 12:55] sampoyigi commented on #656
Great, the flash message works fine, it stops the delivery condition from being added to the cart. This [code](https://github.com/tastyigniter/ti-ext-cart/blob/a323f3b9665869ef2d98a4232de7d458a35c563a/components/CartBox.php#L282-L286) disables the checkout button when the cart total is below minimum or delivery charge is unavailable..

[2021-01-22 13:29] ryanmitchell commented on #656
Great, so I dont need to do anything?

[2021-01-22 14:22] sampoyigi commented on #667
@ryanmitchell yup lets do that!

[2021-01-22 15:49] sampoyigi commented on #656
No, we need to throw an exception somewhere in `CartManager::addOrUpdateCartItem` when `deliveryChargeIsUnavailable()` is true, that way we can display a flash message when adding an item to cart with delivery unavailable.

[2021-01-22 16:18] sampoyigi commented on #666
I could only find this [commit](https://github.com/tastyigniter/TastyIgniter/commit/177ce5da44e4ba2c1f5fbb8868cd2312e1885a82) since the last update. All that does is update the translated string progress calculation

@elmarra90 are the translated string not showing at all in the admin or is it that the translated progress numbers?

[2021-01-22 16:31] sampoyigi commented on #666
Another one tastyigniter/flame@65aff9746c9a3644c27780cb85005731754d7e82

[2021-01-22 17:01] elmarra90 commented on #666
@sampoyigi
neither the% nor the translated string is displayed (although the site is translated)

[2021-01-22 22:13] djtimca opened #675 "[BUG] If default payment method is turned off for a location, checkout button throws an invalid payment method error"
**Expected behavior:**
One of:

Location can not disable the payment method that is set as default in Sales->Payments

or

If the location has disabled the default payment method under Location->Settings->Payments the cart needs to auto-select another payment method as a fall-back.

**Actual behavior:**

The customer gets an error page when they attempt to check out that the payment method is inva

[2021-01-22 22:42] babelattke commented on #671
@sampoyigi That seems to have fixed the issue. Thank you!

[2021-01-22 23:11] elmarra90 commented on #666
@sampoyigi
I checked that commit, the files are already updated with the new fixes.
So I tried to do the reverse job. that is to bring the files to before those corrections and I have seen that the strings have returned to appear in admin.
Refreshing again the files disappear.
So there is something wrong with the new addition of lines to the file:
languages_model

[2021-01-23 10:11] ryanmitchell commented on #675
Should already be fixed here

https://github.com/tastyigniter/ti-ext-cart/commit/fe12702e0295565b069736fb4fcc2135126ebb66

Can you test and close if this works for you?

[2021-01-23 12:59] sampoyigi commented on #659
Ok, I see what you mean with the values but adding the placeholder option actually works, it sends an empty string array as the field value which in turn removes the value from the db
[code]

Another thing we can do is look into the bootstrap-multiselect js plugin to see if we can send an empty string/array when none is selected.

[2021-01-23 13:00] #671 closed

[2021-01-23 13:57] sampoyigi commented on #665
For the ones not working, did you clear your browser session after the update? The issue could be related to stale session data.

[2021-01-23 13:59] djtimca commented on #675
Perfect thanks!

[2021-01-23 13:59] #675 closed

[2021-01-23 14:06] sampoyigi commented on #666
Imagine, I somehow missed changes to the Languages_model from that commit... I'll work on this later and get back to you.

[2021-01-23 17:47] ryanmitchell commented on #533
Just bumping this @BreakSecurity - can you check if it's working for you now so we can close this off?

[2021-01-23 17:48] ryanmitchell commented on #646
@BreakSecurity can you confirm this is fixed for you and close it?

[2021-01-23 17:49] ryanmitchell commented on #656
Sorry meant to update this to say I opened a PR for this

[2021-01-23 19:38] ohbks opened #676 "Order time not delayed by lead time when selecting ASAP"
**Expected behavior:**
(Describe expected behavior here)
As discussed with @ryanmitchell, when placing a pick up order for ASAP, the order time should be lagged by the Lead Time set by the restaurant

**Actual behavior:**
(Describe actual behavior here)
When placing a pickup order at 2pm, the order time is recorded as 2pm.

**Reproduce steps:**
(Describe the steps to reproduce the problem here)
Se

[2021-01-23 21:41] ryanmitchell commented on #659
I see what you mean - you need to select the placeholder value thought? Doesnt seem intuitive to me. I'll look into the JS library and see if there is a way of always passing a value.

Another related issue is the styling - see how the label from the next field overlaps here:
<img width="659" alt="Screenshot 2021-01-23 at 21 40 27" src="https://user-images.githubusercontent.com/51899/105614803-a86

[2021-01-24 02:26] sampoyigi commented on #659
Yea the bootstrap-multiselect plugin is a bit messy, maybe we can find a replacement for it?

[2021-01-24 09:16] ryanmitchell commented on #659
Hmm that seems like a big change this late in the cycle? I think I can make it work by adding a “Select none” option similar to select all  - give me a couple of days.

[2021-01-24 13:54] BreakSecurity commented on #676
Duplicated of #665

[2021-01-24 14:00] BreakSecurity commented on #665
@sampoyigi I cleaned everything and still NOT working. Any ideas?

[2021-01-24 14:04] djtimca opened #678 "[BUG] If default order type is not available at a location, checkout fails."
**Expected behavior:**
If a location only offers Pickup, but the default order type is Delivery, the menu page should automatically fall back to select Pickup in the order type to avoid confusion.

**Actual behavior:**
If a location only offers Pickup, but the default order type is Delivery, when a customer goes to checkout they are redirected away from the menu page and never get to the checkout

[2021-01-24 14:06] djtimca opened #679 "[BUG] If you uninstall the Visitor Tracker extension you can't install it again."
**Expected behavior:**
Visitor tracker is uninstalled with data removed.
When Visitor Tracker is installed again, it creates everything new and works.

**Actual behavior:**
Visitor tracker is uninstalled with data removed.
When Visitor Tracker is installed again it throws several SQL Errors.

PDOException: SQLSTATE[42000]: Syntax error or access violation: 1068 Multiple primary key defined
in /hom

[2021-01-24 14:07] BreakSecurity commented on #650
Lost track of this. I will update after some test

[2021-01-24 14:07] ohbks commented on #676
Closing

[2021-01-24 14:07] #676 closed

[2021-01-24 14:10] ryanmitchell commented on #659
Both issues should be fixed with the PR here:
https://github.com/tastyigniter/TastyIgniter/pulls

[2021-01-24 17:14] nyousefzai opened #680 "Developer contribution"
Hey guys,

I want to contribute to this project, the document for a developer to get started with this project is pretty poor.
I have spent hours to setup the local development.

how you would activate a theme? I get Unable to load the active theme on the front end.

I propose to make better documents for a developer to get started with this project and remove the hurdle of monetizing:)

[2021-01-24 17:20] ryanmitchell commented on #680
That sounds great. We would love someone to work on documentation.

you activate a theme in the admin panel by selecting the star icon.

reach out on slack if you need anything. I’m going to close this issue as it’s not a bug :)

[2021-01-24 17:20] #680 closed

[2021-01-24 22:53] BreakSecurity commented on #646
So it works... but (there is always a but...) it make two timeslots unavailable and NOT one.

![immagine](https://user-images.githubusercontent.com/38836022/105646107-3e6b5f80-5e9e-11eb-8c42-f8103546211a.png)
![immagine](https://user-images.githubusercontent.com/38836022/105646120-5e9b1e80-5e9e-11eb-83f4-af44221bb6e5.png)
![immagine](https://user-images.githubusercontent.com/38836022/105646126-6bb

[2021-01-24 22:57] BreakSecurity commented on #646
@sampoyigi

[2021-01-24 23:11] BreakSecurity commented on #650
Ok ok it works but... (as always we have a but) if we have the current scenarios:

1. Category A -> items: PROD1A
2. Category B
3. Category C -> items: PROD1A
4. Category D

If I disable A & C, PROD1A disappear
If I disable ONLY A, PROD1A still appear in BOTH categories

To summarize an item disappear only if all categories to which the prod is assigned are disabled.

@ryanmitchell @sampoyigi

Als

[2021-01-24 23:23] BreakSecurity opened #682 "[BUG] After upgrade you loose Reject orders outside areas preferences"
After upgrade you loose the preferences regarding Reject orders outside switch

[2021-01-24 23:27] BreakSecurity commented on #656
Tested and I can confirm is FIXED!

[2021-01-24 23:27] #656 closed

[2021-01-25 11:05] ryanmitchell commented on #667
Opened a PR for the upgrade here:
https://github.com/tastyigniter/TastyIgniter/pull/683

[2021-01-25 12:33] ryanmitchell opened #684 "Issue with polygon delivery area"
I've got an issue with a polygon delivery area not returning an address that is inside it.

The area boundary is:
`a:4:{s:7:"polygon";s:60:"meflIvwwb@|oBqa@n{@vuDpJ`}Awj@puAewAoI_yAzGi[_hDy`AykDfpAelA";s:8:"vertices";s:433:"[{"lat":54.59559,"lng":-5.8612400000000004},{"lat":54.57752000000001,"lng":-5.85571},{"lat":54.567840000000004,"lng":-5.884950000000001},{"lat":54.565990000000006,"lng":-5.9},{

[2021-01-25 14:13] ryanmitchell commented on #682
Upgrading between which versions?

[2021-01-25 16:55] BreakSecurity commented on #684
Ok so I have the same for quite few address a quick solve by adding small circles on them too. I investigated a bit and I saw that is something happening when you have a lot of edge or narrow corridors to cover some parts of map. I have some reproducible cases too share if needed.

[2021-01-25 16:56] BreakSecurity commented on #682
24.4 to beta 26

[2021-01-25 17:38] sampoyigi commented on #665
Try this patch tastyigniter/ti-ext-local@0487ea16ab568e8cc6d7291b28e9c3699fc2d940

[2021-01-25 17:49] djtimca opened #685 "[BUG] Users with only one location access - new items are not defaulted to that location."
**Expected behavior:**
If a user has access to only one location, when they are creating menu items, option sets, categories etc the location should default to their location.

**Actual behavior:**
The location is set to None Set which results in the item/options/category to be created in the system with no location and then error thrown on screen since the user doesn't have access to it any more.

[2021-01-25 18:26] sampoyigi commented on #533
@BreakSecurity does your '👍'  on Ryan's comment mean its working for you?

[2021-01-25 18:40] djtimca commented on #685
This is fixed already by applying the changes in these two commits:

https://github.com/tastyigniter/TastyIgniter/commit/d0c227e260e8d75deadcebd96627fe897028529e
https://github.com/tastyigniter/ti-ext-coupons/pull/10/files

End result will throw a graceful flash error message if the user forgets to select the location.

[2021-01-25 18:40] #685 closed

[2021-01-25 18:55] BlueRayNL opened #686 "jenssegers / date set globale to country setting"
Hi,

where can i change the folllowing setting globaly ?

[code]

in the Netherlands we work with a 24H clock instead of AM and PM

[2021-01-25 19:15] ryanmitchell commented on #686
The date strings can be changed in the admin panel -> localisation -> languages
search for time_format and you'll see options starting with php. - they are backend/admin, and some that are moment. - they are front end.

Moment formatting:
https://momentjs.com/docs/#/displaying/

PHP date formats:
https://www.php.net/manual/en/datetime.format.php

[2021-01-25 19:16] ryanmitchell commented on #682
I wonder if they key name has changed in the options object. Cant see any other reason for it to be overwritten.

[2021-01-25 19:17] BlueRayNL commented on #686
Nice Ryan Thanks !

[2021-01-25 19:17] #686 closed

[2021-01-25 20:30] #678 closed

[2021-01-26 10:43] BreakSecurity commented on #533
Nope my 👍🏼 always means i am checking it

[2021-01-26 10:51] ryanmitchell commented on #533
Looks like this isnt working due to a change on googles side - so 2 options:
1. We leave as is and people have to leave their key without restrictions
2. We let them enter 2 keys, 1 for referrer and one for IP restriction

[2021-01-26 10:58] BreakSecurity commented on #533
So I vote up for option 2 to protect our quota (and wallet 🤣)

[2021-01-26 13:19] BreakSecurity commented on #650
Plus

What about items with NO categories assigned? In the last beta they simply disappeared...

[2021-01-26 18:30] sampoyigi commented on #533
@ryanmitchell what's the change on googles side? From my understanding of Google's API key restrictions, the PR should work? And I don't get the need for 2 keys.

[2021-01-26 18:49] ryanmitchell commented on #533
I think it’s ok as is - we don’t expose the key to the client side expect in the admin panel.

So having thought about it some more I actually think we close the issue and PR as a resolution isn’t needed.

[2021-01-26 19:39] BreakSecurity commented on #533
Agree with @ryanmitchell so I close

[2021-01-26 19:39] #533 closed

[2021-01-27 16:41] BlueRayNL opened #687 "Double tax calculation"
**Expected behavior:**
expected to calculated tax one time.

**Actual behavior:**
when prices are set including tax the system also recalculates tax over the already taxed prices.

**Reproduce steps:**
update to latest version.

**Version:**
version :V3.0.4-beta.26

[2021-01-27 19:17] djtimca opened #688 "Menu Item Options List is not Location Aware"
**Expected behavior:**
When editing a menu item, the list of available menu options lists should be restricted to the user's locations.

**Actual behavior:**
The drop down list of available option sets to add to a menu item includes all menu option sets for all locations.

**Reproduce steps:**
Create a new menu item under a user with restricted location scope.
Go to the options tab
The list will i

[2021-01-27 19:18] ryanmitchell commented on #688
Seems that getRecordEditorOptions() in menus_options_model needs to be location limited.

[2021-01-27 19:19] djtimca opened #689 "Menu Item Options Create Should Require a Location"
**Expected behavior:**
When adding or editing a menu option set, the Location should be required.

**Actual behavior:**
Options can be created with no location set.

**Reproduce steps:**
On the menu item options tab create a new option set.
Leave the location blank
Save

**Version:**
3.0.4-beta.26

**Additional Information:**

[2021-01-27 20:00] djtimca commented on #688
Can you point me to another example of where this has been done on a list? I can take a swing at it if I have an example.

[2021-01-27 21:32] nicolagheza opened #691 "Undefined property: stdClass::$mealtimes"
After update I got this weird error which I don't know how to solve

**Expected behavior:**
It should show the menu
**Actual behavior:**
(Describe actual behavior here)
Gives me an error:
`
Undefined property: stdClass::$mealtimes (View: /home/jeezatec/prenotazioni.viaprade8.it/themes/tastyigniter-orange/_partials/localMenu/item.php) (View: /home/jeezatec/prenotazioni.viaprade8.it/themes/tastyigni

[2021-01-27 21:49] ryanmitchell commented on #691
You need to remove the local menu partials folder from your theme. They are handled by the component now.

[2021-01-27 22:00] nicolagheza commented on #691
Thanks

[2021-01-27 22:00] #691 closed

[2021-01-28 12:11] ryanmitchell commented on #688
@sampoyigi record editor seems to be unintentionally bypassing locationable when using self:: in getRecordEditorOptions in menu_options... not sure how best to work around this.

[2021-01-28 15:54] nicolagheza opened #692 "Can't select order time after Update"
Normally in the Menu page I had a space where the user would select the time for the delivery / pickup.
Now it is gone. How do I put it back?

**Reproduce steps:**
https://prenotazioni.viaprade8.it/default/menus

**Version:**
3.0.4 beta26

[2021-01-29 10:38] ryanmitchell commented on #692
They have been updated to be on the right hand side since beta 26... alongside the delivery/pickup buttons.
https://github.com/tastyigniter/ti-ext-cart/blob/master/components/cartbox/container.blade.php

Your theme files probably need updated - it looks like you've customised them.

[2021-01-29 10:41] ryanmitchell commented on #687
@sampoyigi should actionIsInclusive() here not subtract the $calculatedValue ?

@BlueRayNL can you modify this line
https://github.com/tastyigniter/flame/blob/a5fd9a8cfe28680b8824e94f07cfef62b4a778f7/src/Cart/Helpers/CartConditionHelper.php#L69
to be `$result = ($total - $calculatedValue); `and see if works as you'd expect?

[2021-01-29 10:42] ryanmitchell commented on #658
@BreakSecurity see my comment above - can you work on adding the translatable strings to the date picker widget?

[2021-01-29 11:37] #692 closed

[2021-01-29 12:44] JestinGe0 opened #693 "getting Page Not Found Error while opening website's Reservation, login and register menu"
**Expected behavior:**
(Describe expected behavior here)

**Actual behavior:**
(Describe actual behavior here)

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
(TastyIgniter version number)

**Additional Information:**
(Additional information, if any)

[2021-01-29 12:49] JestinGe0 commented on #693
Expected behavior:
(Describe expected behavior here)

Actual behavior:
(Describe actual behavior here)

Reproduce steps:
when Reservation, login and register menu pressed  i am going into (http://localhost/TastyIgniter/reservation/reservation) there getting 'Page Not Found Error'

Version:
latest(last update)

Additional Information:
(Additional information, if any)

[2021-01-29 12:49] #693 closed

[2021-01-29 12:50] JestinGe0 commented on #693
Expected behavior:
(Describe expected behavior here)

Actual behavior:
(Describe actual behavior here)

Reproduce steps:
when Reservation, login and register menu pressed i am going into (http://localhost/TastyIgniter/reservation/reservation) there getting 'Page Not Found Error'

Version:
latest(last update)

Additional Information:
(Additional information, if any)

[2021-01-29 13:38] JestinGe0 opened #694 "SQLSTATE[42000]: Syntax error or access violation: 1286 Unknown storage engine 'InnoDB'"
**Expected behavior:**
(Describe expected behavior here)

**Actual behavior:**
(Describe actual behavior here)

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
(TastyIgniter version number)

**Additional Information:**
(Additional information, if any)

[2021-01-29 13:39] JestinGe0 commented on #694
i am getting this error while installing on live server:

SQLSTATE[42000]: Syntax error or access violation: 1286 Unknown storage engine 'InnoDB' (SQL: create table `ti_activities` (`activity_id` int not null auto_increment primary key, `domain` varchar(10) not null, `context` varchar(128) not null, `user` varchar(10) not null, `user_id` int not null, `action` varchar(32) not null, `message` text

[2021-01-29 13:39] ryanmitchell commented on #694
Can you please describe how you get the issue so we can try to replicate.

We provide a boilerplate so please use it.

[2021-01-29 13:40] ryanmitchell commented on #694
What database engine are you using? It’s indicating it doesn’t support innodb which means it’s an invalid MySQL version

[2021-01-29 17:48] diverds1992 opened #695 "Tax on delivery fee bug"
**Expected behavior:**
(Subtotal	                     €10,25
Delivery	                     €2,00
TAX [9% included].     €1,28
Order total	            €12,25)

**Actual behavior:**
(Subtotal	                     €10,25
Delivery	                     €2,00
TAX [9% included].     €1,28
Order total	            €14,25)

**Reproduce steps:**
(When you turn on Tax over delivery fee)

**Version:**
(v3.0.4-

[2021-01-29 20:15] djtimca commented on #688
This one is quickly becoming a real operational issue since all locations have access not only to see each others option sets, but they can also edit them even though they don't have permissions to that other location. Any thoughts on what might be required here?

[2021-01-30 13:38] sampoyigi commented on #688
@ryanmitchell maybe just adding `->whereHasLocation(AdminLocation::getIdOrAll())` to the query would do?

[2021-01-30 13:41] djtimca commented on #688
I'm happy to try it if you can tell me where to add it.

[2021-01-30 13:42] ryanmitchell commented on #688
@djtimca getRecordEditorOptions in menu_options

[2021-01-30 13:46] djtimca commented on #688
So like this?:
[code]

[2021-01-30 13:47] ryanmitchell commented on #688
yes something like that - you tell me if it works?

[2021-01-30 13:50] djtimca commented on #688
Tried that with that added both before the dropdown() and after but both ways I get:

Class 'Admin\Models\AdminLocation' not found

(1/1) ErrorClass 'Admin\Models\AdminLocation' not found
--
in Menu_options_model.php line 69
at Menu_options_model::getRecordEditorOptions('_options')in RecordEditor.php line 207
at RecordEditor->getRecordEditorOptions()in RecordEditor.php line 87

[2021-01-30 13:51] ryanmitchell commented on #688
Add `use AdminLocation; ` to the top of the file

[2021-01-30 13:52] ryanmitchell commented on #695
Any chance this is related to: https://github.com/tastyigniter/TastyIgniter/issues/687

[2021-01-30 13:57] sampoyigi commented on #687
Unable to reproduce..

Here the tax is inclusive

<img width="379" alt="Screen Shot 2021-01-30 at 1 55 24 PM" src="https://user-images.githubusercontent.com/6567634/106358261-054e4780-6303-11eb-9186-bf320c670c59.png">

And here it's not

<img width="382" alt="Screen Shot 2021-01-30 at 1 55 54 PM" src="https://user-images.githubusercontent.com/6567634/106358266-0c755580-6303-11eb-86f5-5bd17e4553ec.

[2021-01-30 14:02] djtimca commented on #688
PERFECT! Do you want me to put this into a PR and submit for you?

[2021-01-30 14:04] djtimca commented on #688
Only one thing is that when logged in as super-admin I only see options that don't have a location I think... but that isn't a big deal since I shouldn't be setting up menus as super admin :)

[2021-01-30 14:10] ryanmitchell commented on #688
Change to whereHasOrDoesntHaveLocation() And it should fix that
Yep update the PR please.

[2021-01-30 15:05] djtimca commented on #678
This fix creates an unintentional side-effect that I can't change between delivery types once applied.

This does fix the error when I go to a location that doesn't support the default order type, but it doesn't automatically select the other order type so the user has to click "Delivery" for example if Pickup is default but not available at this location.

I have had to back out this fix since it

[2021-01-30 15:39] ryanmitchell commented on #678
Did you see the updated PR here:
https://github.com/tastyigniter/ti-ext-local/pull/41

[2021-01-30 15:52] djtimca commented on #678
Nope - when I put that one in I am able to change locations no problem, but still getting an error if a location doesn't accept the default order type:

[code]

[2021-01-30 15:56] djtimca commented on #678
For clarity I have Pickup set as the default order type, and it is a location with Delivery only that is failing.

[2021-01-30 16:16] ryanmitchell commented on #678
Try changing it to head($locationHasOrderTypes) instead of $locationHasOrderTypes[0]
Let me know if that works.

[2021-01-30 16:20] ryanmitchell commented on #678
Sorry head($locationOrderTypes) ... on my
Phone so misread the variable name

[2021-01-30 16:21] djtimca commented on #678
Bingo on the second one... works perfectly with that there.

I will submit a PR to include this.

[2021-01-30 16:33] ryanmitchell commented on #689
Can we close this?

[2021-01-30 16:55] djtimca commented on #689
Yes - with the patches highlighted on the closed PR this is closed.

[2021-01-30 16:55] #689 closed

[2021-01-30 17:26] ryanmitchell commented on #695
Opened a PR for this: https://github.com/tastyigniter/ti-ext-cart/pull/47

[2021-01-31 10:35] djtimca opened #697 "Media file restriction by location or user"
**Expected behavior:**
Media files aren't currently associated to a location, however that would be very nice to see.
An alternative behaviour which would work well would be to be able to specify the root media folder for a user in the user setup so that they only see media files under that folder in image uploads and the media file tool.

**Actual behavior:**
Currently users can see all folders a

[2021-01-31 11:47] diverds1992 commented on #687
i sent you some screenshots
![Schermafbeelding 2021-01-31 om 12 44 38](https://user-images.githubusercontent.com/78227663/106382824-65f08980-63c2-11eb-9362-749e41e74f13.png)
![Schermafbeelding 2021-01-31 om 12 44 44](https://user-images.githubusercontent.com/78227663/106382825-66892000-63c2-11eb-85c7-0dda6de37de1.png)
![Schermafbeelding 2021-01-31 om 12 44 51](https://user-images.githubusercontent

[2021-01-31 11:56] diverds1992 commented on #695
I’ll add some screenshots

![0092CD34-BDD3-4354-8D90-571109733546](https://user-images.githubusercontent.com/78227663/106383031-a3a1e200-63c3-11eb-8233-569bac5874c8.png)
![F485ABFE-99CE-495E-B8A7-EE9477B6C42A](https://user-images.githubusercontent.com/78227663/106383032-a4d30f00-63c3-11eb-84ee-1165aabda5c7.png)
![2E0FA694-8C1A-44B6-AC50-12D9DF02E9D9](https://user-images.githubusercontent.com/78227

[2021-01-31 14:17] BreakSecurity opened #698 "[BUG] Timeslots again..."
**Expected Behaviour**
The first timeslot available after opening should correspond to the delivery start time, or at least the delivery start time plus the lead time.

**Actual behaviour**
Contrary to how it was in previous versions, the first available timeslot does not follow the opening time parameter.

**Reproduce steps**
1) These are the values I have set for opening and closing, lead time a

[2021-01-31 15:03] ryanmitchell commented on #697
In my opinion this would be better as an extension.

The core of TI isn't intended to be used in a marketplace / multi location environment as you are doing. It's possible with coercion but it's not a 'default' behaviour. That's where the extensions approach comes in to allow the flexibility to make the changes such as this that are required.

One of the design goals is to keep core as simple as p

[2021-01-31 15:04] ryanmitchell commented on #695
@diverds1992 Did you look at the code I added in the pull request referenced earlier?

[2021-01-31 15:05] ryanmitchell commented on #694
I intend to close this issue if I don't hear back in 48 hours. I'm fairly sure the issue is solely related to your server config.

[2021-01-31 15:07] ryanmitchell commented on #687
@diverds1992 Your screenshots indicate a double shipping tax which is related to a different issue.

[2021-01-31 15:07] JestinGe0 commented on #694
Sorry for the late reply.  It's was because of my storage engine. Now works
ok👍

On Sun, 31 Jan 2021, 8:35 pm Ryan Mitchell, <notifications@github.com>
wrote:

[2021-01-31 15:08] ryanmitchell commented on #694
Perfect. Can you close?

[2021-01-31 15:13] #694 closed

[2021-01-31 15:14] JestinGe0 commented on #694
Thank you :)

[2021-01-31 15:52] diverds1992 commented on #687
sorry i comment on the wrong issue

[2021-01-31 17:35] ryanmitchell commented on #679
Odd one to me as it removes the table when I uninstall. Did you see any on screen errors?

[2021-01-31 17:36] ryanmitchell commented on #646
Its working as expected for me on our installs. Im not able to replicate your issue.

[2021-01-31 17:51] djtimca commented on #679
No on screen errors when I removed, and I confirmed on the database that the main table was removed before attempting to reinstall.

[2021-02-02 12:48] djtimca opened #700 "[BUG] Media Manager Folder Display Issue"
**Expected behavior:**
If there are multiple folders in the media library the user should be able to select all of them by scrolling down the list of folders (or ideally by searching the folders list).

**Actual behavior:**
If the list of folders extends beyond the bottom of the screen the drop down is locked and does not scroll so anything "below the fold" is no longer accessible.

**Reproduce st

[2021-02-02 13:14] ryanmitchell commented on #667
This has just been merged and should be resolved in the next beta.

[2021-02-02 14:47] #688 closed

[2021-02-02 14:48] sampoyigi commented on #700
Can we get a screenshot to see what it looks like?

[2021-02-02 16:50] djtimca commented on #700
Here are two views - one at regular zoom and one if I zoom out. When you scroll the screen with the drop down open the drop down does not scroll so I can't access the folders below the screen.

![mediamanager_dropdown](https://user-images.githubusercontent.com/60706061/106633431-d3302600-654c-11eb-8010-4fb4082d0cfc.png)
![mediamanager_zoomed](https://user-images.githubusercontent.com/60706061/1066

[2021-02-02 22:42] sampoyigi commented on #697
Agree with Ryan on this one. I have done something similar, I might end up releasing it as an extension.

[2021-02-02 22:54] sampoyigi commented on #698
Ah, not this timeslot issue again.

We start at midnight the day before so we can cover late-night hours. One thing I can think of to fix this is to start the interval based on the open hour minutes, for example, 10:10 will start counting from 00:10 and 10:45 from 00:45.. Will that work?

[2021-02-02 23:25] sampoyigi commented on #700
Let's sprinkle some CSS on this one ;).

Add these lines to the .folder-tree class in `app/main/widgets/mediamanager/assets/css/mediamanager.css` line 174

[code]

Please send a PR after you've tested ;)

[2021-02-02 23:38] djtimca commented on #700
Like a charm - will get the PR in tomorrow morning :)

[2021-02-02 23:39] sampoyigi commented on #684
Oops, missed this one too. I have a feeling its related to @BreakSecurity findings.. Can you share the steps?

[2021-02-03 06:04] ryanmitchell commented on #684
I gave the steps in the issue. Set up delivery using that boundary - enter the postcode in localbox ?

[2021-02-03 07:41] BreakSecurity commented on #698
It will work well of you use a number that is a dividend of 60 → 30 20 10

Will not work with an interval of 40 just an example

[2021-02-04 14:51] #700 closed

[2021-02-04 15:19] sampoyigi commented on #684
Oh cool, I'll have a look later ;)

[2021-02-04 15:34] #665 closed

[2021-02-04 15:37] sampoyigi commented on #646
I'm closing this as fixed! The other issue mentioned by @BreakSecurity is similar to this one #698

[2021-02-04 15:37] #646 closed

[2021-02-04 15:39] #695 closed

[2021-02-04 15:43] sampoyigi commented on #697
Not a bug so closing this!

[2021-02-04 15:43] #697 closed

[2021-02-06 07:08] #667 closed

[2021-02-06 07:09] ryanmitchell commented on #666
Closing as a recent commit has resolved this and will be available in the next beta.

[2021-02-06 07:09] #666 closed

[2021-02-06 07:10] ryanmitchell commented on #650
Sam pushed a fix for this

[2021-02-06 07:10] #650 closed

[2021-02-06 07:12] ryanmitchell commented on #682
Closing this as it won’t happen going forward.

[2021-02-06 07:12] #682 closed

[2021-02-06 07:41] ryanmitchell commented on #687
Going to close as no further information was provided. My guess is it’s the same as the delivery tax bug which has been fixed.

[2021-02-06 07:41] #687 closed

[2021-02-07 06:32] ryanmitchell commented on #502
@sampoyigi can this be closed? You have added a util command for managing it now?

[2021-02-07 06:33] ryanmitchell commented on #428
I get this from time to time but it's definitely a bootstrap modal bug instead of a TI one - the close buttons aren't selectable at all even with a right click and inspect. We may just need to upgrade bootstrap modal?

[2021-02-07 19:16] ryanmitchell commented on #658
@BreakSecurity I've added 2 PRs for the required changes - can you test on your side?

[2021-02-07 19:46] ryanmitchell commented on #698
Ok I think this can be easily fixed, see the PR I've opened.
https://github.com/tastyigniter/flame/pull/29

[2021-02-08 23:44] BreakSecurity commented on #698
Do not work...

This approach works

Time Interval - (Opening Hour - Time Interval*Opening Hour % Time Interval)
(Time Interval is converted in minutes)

Example with Time Interval = 40 and Opening Hour 02:05 transformed in 125 minutes)

40 -(125-40*125%40) = 35

We need to subtract 35m to startdate in create interval func BEFORE entereing the for cycle. And everything is perfect

I tried to get i

[2021-02-09 06:57] ryanmitchell commented on #698
There can be multiple opening hours during the day with an upcoming feature which is why I did the calculation in the cycle.

So we need to find a way of doing it per timeslot.

Can you explain the logic of your calculation to help me understand it? The change i made worked for any combinations of intervals and start times I tried.

[2021-02-10 16:21] BreakSecurity commented on #698
So @sampoyigi & @ryanmitchell after some trials I have some consideration on timeslots.

If pre-order is possible, the timeslots generated on each day must always be the same... Right now the function:
https://github.com/tastyigniter/flame/blob/070cee4a24b3a4890f65e4fab3f654160c3afdd9/src/Location/WorkingSchedule.php#L462

generates timeslot across all days, with multiple/divisor of 60miutes this

[2021-02-11 16:12] doaashasho opened #705 "UNSTALL BUG"
كل الشكر لك من A-B-N SYRIA | ادوات اون لاين، كلامك روعة
<a  href="https://www.aflam-4you.com">&nbsp;</a>

[2021-02-12 16:40] Zelig880 commented on #684
Hi guys,

I was using the location before the release and it all worked.

since the update I am able to enter my postcode and the correct amount comes up.. (eg delivery is for order greater than 15£), but if I try to add an item, an error popup saying that the restaurant does not deliver to my location.

Step to reproduce:
- go to https://elelittlekitchen.yourorderonline.co.uk/local/menus
- enter

[2021-02-12 20:22] ryanmitchell commented on #705
Thanks!

[2021-02-12 20:22] #705 closed

[2021-02-13 10:29] sampoyigi commented on #684
@ryanmitchell I'm unable to reproduce this issue. With a new location and polygon boundary set, pointInPolygon works, its able to detect `pointOnVertex`, `pointOnBoundary` and `pointOnIntersections`. Basically the calculations works, so maybe the issue is with userLocation coordinates?

[2021-02-13 10:39] ryanmitchell commented on #684
Thanks for looking. Just checking you tested the polygon and postcode I provided?

[2021-02-13 11:48] sampoyigi commented on #684
Yup, created a new location with BT43ET and set the polygon boundaries, then searched BT43ET on the storefront, worked the first time but didn't the second time when the search input formatted address changed.

Ok, I gave it another go and `BT43ET` returns `Newtownards Rd, Belfast` instead of `Upper Newtownards Rd, Belfast`, so the issue is with geocoding the user location. Not sure if these geoco

[2021-02-13 12:07] BreakSecurity commented on #684
https://developers.google.com/maps/documentation/javascript/geocoding#ComponentFiltering

More restriction will improve accuracy of results

[2021-02-13 13:19] ryanmitchell commented on #684
Yeah maybe the polygon is too small then... I ended up encouraging them to use postcodes instead.

Can we leave this open until I get some time to test on a beta27 install? It may be a version issue.

[2021-02-17 00:37] #502 closed

[2021-02-17 00:40] sampoyigi commented on #679
Not reproducible in the latest release. Please reopen this issue if it still occurs. 😄

[2021-02-17 00:40] #679 closed

[2021-02-17 00:49] sampoyigi commented on #428
Coolio, I'll do the bootstrap update. I have some UI improvements planned for the first RC.

[2021-02-18 20:56] wakey18 commented on #698
Just noticed ASAP is allowing orders up to the closed time even though with the lead time it is closed, surely the last order time should be allowed should be the closed time minus the lead time.

[2021-02-21 12:56] patellalit opened #710 "Delivery charge not based on Delivery address"
**Expected behavior:**
The delivery charge should be changed if the customer changes the shipping address from the checkout page.

**Actual behavior:**
The delivery charge is not changing if the customer changes the shipping address from the checkout page. But the delivery charge changed if the customer changes the postal code from the top search box.

**Reproduce steps:**
1. Customer is logged in

[2021-02-21 15:56] Subsequence202 opened #711 "Color of footer not changing on theme."
**Expected behaviour:**
When creating a child theme of the current theme and then going into it's settings and changing the footer colour, the footer is meant to change to the colour that you choose.

**Actual behaviour:**
Footer colour doesn't change and stays brown, no matter what colour you try and change it to.

**Reproduce steps:**
Create a child theme of the default theme, go into the theme'

[2021-02-22 15:52] sampoyigi commented on #656
So, to keep things simple, am reverting the PRs related to this issue. We really don't need another warning message on the delivery cart condition, the existing minimum order total warning should be enough.

Area condition rules should not be used to make delivery totally unavailable. The -1 rule intended purpose is to make delivery unavailable on specified order total not to disable delivery for

[2021-02-23 07:41] ryanmitchell commented on #698
@wakey18 This relates to the same root issue. We will have a fix in the next update.

[2021-02-23 17:51] sampoyigi commented on #710
Do you have **Reject Orders Outside Delivery Area** enabled under System > Settings > Setup?

[2021-02-23 18:12] othyn opened #712 "When adding an allergen in single restruant mode, it errors saying the location field is required, but one isn't shown"
**Expected behavior:**
When creating a new allergen in single restruant mode, the default restruant should be used without showing a location select field.

**Actual behavior:**
When creating an allergen via the `/admin/allergens/create` view, you can provide a name and description, but when the form is submitted it errors out saying "The locations field is required.". A location dropdown is not d

[2021-02-23 18:19] diverds1992 commented on #712
I had to change this file app > admin > requests > Allergen.php

remove 'location' => 'required"

[2021-02-23 18:20] othyn commented on #712
Haha looks like it was fixed an hour ago!

https://github.com/tastyigniter/TastyIgniter/pull/709

[2021-02-23 18:22] sampoyigi commented on #711
Not reproducible in the latest release. Please reopen this issue if it still occurs, with a set of reproducible steps.

[2021-02-23 18:22] #711 closed

[2021-02-23 18:25] othyn commented on #712
Closed by #709

[2021-02-23 18:25] #712 closed

[2021-02-23 19:23] ryanmitchell commented on #658
Closing :) This should be all merged now.

[2021-02-23 19:23] #658 closed

[2021-03-01 15:55] Subsequence202 opened #715 "Postcode Issue"
**Expected behavior:**
Get the address from the post code every time a post code is entered.

**Actual behavior:**
Sometimes it will say the postcode is invalid, but when they type in there number and street it will find there address.

**Reproduce steps:**
Type in a valid postcode

**Version:**
Latest?

**Additional Information:**
(Additional information, if any)

[2021-03-01 18:58] Subsequence202 commented on #715
Fixed, was user error

[2021-03-01 18:58] #715 closed

[2021-03-02 14:36] djtimca opened #716 "Order time is delayed when Limit Order Count is enabled"
**Expected behavior:**
Order time should be time + lead time when order is placed ASAP and limit order count is enabled, but has not reached the max orders for a timeslot.

**Actual behavior:**
With no orders in the system, the order time is time + lead time + some arbitrary extra time (as much as two hours out) even though the order count has not reached the limit.

**Reproduce steps:**
Set locat

[2021-03-02 22:15] ryanmitchell commented on #716
Tried a quick test and unable to replicate so far. So...
What are you opening times set to?
Whats the first time slot in the "schedule order" list?
When you turn off the max order limit does asap go through correctly?

[2021-03-02 22:28] ryanmitchell commented on #716
Looking through the code the only thing i can see is that cart/OrderManager has `$orderDateTime->addMinutes($this->location->orderLeadTime());` which is intended to add the lead time, however local/Location has `firstScheduleTimeslot()` in `asapScheduleTimeslot()` when order limiting is turned on.

@tastyigniter/core-team do we need to consider only addMinutes when $isAsapTime is in the past?

[2021-03-02 23:48] djtimca commented on #716
When limit is turned off the ASAP time is correct. I have open time on this location to 24/7 but that doesn't seem to affect it.

[2021-03-03 06:16] sameerpspaceo opened #717 "component "session" is not registered."
Admin panel working but Website not opening and below error showing
component "session" is not registered.

If i replace old storage folder backup then issue resolve. So, I don't understand what is the issue.

[2021-03-03 06:20] ryanmitchell commented on #717
New install or upgrade?
I think you need to install the user extension.

[2021-03-03 07:09] sameerpspaceo commented on #717
Thanks for reply. user extension is already installed. if i replace old stoarge folder then issue resolve but i am still not identify what is the issue with stoarge folder

[2021-03-03 08:14] ryanmitchell commented on #717
Did you try running php artisan cache:clear ?

[2021-03-03 08:19] sameerpspaceo commented on #717
suddenly happen

[2021-03-03 08:20] ryanmitchell commented on #717
Try running the command - it should clear the cache/storage folders

[2021-03-03 08:21] sameerpspaceo commented on #717
When update menu image from admin panel then issue coming in website. I need permanent solution

[2021-03-03 08:22] ryanmitchell commented on #717
Update images doesnt do anything that should cause this.
Can you give more information about your set up (version of system, hosting environment) and also a full error trace.

[2021-03-03 08:28] sameerpspaceo commented on #717
Version:  v3.0.4-beta.20.1
Hosting on AWS

[2021-03-03 08:30] ryanmitchell commented on #717
Yeah thats pretty old now - we're on beta 27... could you upgrade?

[2021-03-03 08:33] sameerpspaceo commented on #717
We can't able to upgrade version because we have do some changes in extension, app and theme folder.
If we update new version and all changes will gone.

[2021-03-03 08:42] ryanmitchell commented on #717
We can’t be expected to help fix an issue 7 versions ago.
So much has changed since that version!

[2021-03-03 08:48] ryanmitchell commented on #716
Yep I think its related to the combination of firstScheduleTimeslot() and addMinutes then. Lets see what @sampoyigi thinks is the best approach to fix it.

[2021-03-03 18:16] BreakSecurity commented on #698
@ryanmitchell

![immagine](https://user-images.githubusercontent.com/38836022/109851903-7fe8ea80-7c54-11eb-935b-6bbfc5cc1c6c.png)
![immagine](https://user-images.githubusercontent.com/38836022/109851922-837c7180-7c54-11eb-80e7-b08e69b1c025.png)
![immagine](https://user-images.githubusercontent.com/38836022/109851938-87a88f00-7c54-11eb-8987-ab5f11f5c5cb.png)
![immagine](https://user-images.githubus

[2021-03-04 06:11] roydeanjr commented on #552
So, Ryan, will this order taking app be able to retrieve orders entered from the current menu page and allow editing of the order?

[2021-03-04 06:37] roydeanjr opened #718 "Items with multiple categories are incorrectly displayed in category not associated with a location"
**Expected behavior:**
Added menu item to multiple categories. 1 Category is associated with a specific location while the other category is associated with another location. Expected category assigned to one location to show the menu items under that category only and the items showed twice on the menu page under the category associated with the other location

**Actual behavior:**
Menu item show

[2021-03-04 12:59] #717 closed

[2021-03-04 13:01] ryanmitchell commented on #718
This should be fixed here:
https://github.com/tastyigniter/TastyIgniter/commit/db64f7a5a068fc1541c57b55760e8a82aa0eb3ed

Can you test and verify?

[2021-03-04 16:40] roydeanjr commented on #718
@ryanmitchell That fix did not change the behavior. I still get both categories showing on menu page. Check out what I am seeing at https://rdqbbq.com/stickcomedy/menus vs https://rdqbbq.com/stick/menus where the duplicated category is the one that contains items in both categories. Does the menu page select items to display and then cycle through the categories of the items selected to display th

[2021-03-05 07:28] BreakSecurity commented on #698
@ryanmitchell

IF MIDNIGHT IS INCLUDED IN THE OPENING HOURS, even if there is no possibility of pre-ordering, it will be possible to book for all the timeslots available until after midnight the next day (if today is March 4th, I will be able to use all the timeslots until first part of March 6)

If, on the other hand, I put 1 day of pre-order, I can book until the early hours after midnight on Su

[2021-03-05 12:48] ryanmitchell commented on #718
I need to set up a new dev install so will do that over the weekend and try and run through this.

[2021-03-05 13:40] roydeanjr commented on #718
Thank you, Ryan. I will do the same if I get the time. Watching grandkids is a full time job!

[2021-03-05 22:56] BreakSecurity commented on #698
@ryanmitchell

We choose these settings, making sure that midnight is included in the restaurant's working hours, and we do not set any possibility of pre-order.
Since today is Friday, not putting the possibility of pre-ordering, it should be possible to order only for today's timeslots and the first ones after midnight but before the closing of the restaurant.
![immagine](https://user-images.gith

[2021-03-06 02:29] djtimca opened #719 "Schedule Order with Blank Options showing if Preorder is disabled"
**Expected behavior:**
If a location has Preorder turned off for either pickup or delivery, the only option should be ASAP for delivery time (should not show Scheduled Delivery as an option)

**Actual behavior:**
When preorder is disabled, the ASAP button still allows you to select Scheduled Delivery, but the delivery windows are blank.

![TI Blank Preorder](https://user-images.githubusercontent.c

[2021-03-06 07:15] ryanmitchell commented on #719
Scheduled should still appear so you can choose a timeslot in the current opening hours.

The blank drop downs are obviously a problem - what are your opening hour settings and does the same problem exist on beta 27?

[2021-03-06 11:12] djtimca commented on #719
I haven't gone to Beta 27 yet - I will try a clean install in a dev env to test.

I would think that if preorder is off you can't preorder at all. Preorder shouldn't matter if you are open or not - at least the way I would read that feature / capability.

Otherwise would think preorder should have three settings: On, Off, When Open.

[2021-03-06 11:30] ryanmitchell commented on #719
Pre order means outside of the current days hours.

If you want to limit during the opening hours that’s something an extension could do.

[2021-03-06 11:33] djtimca commented on #719
Ok - again seems like a different interpretation of what Preorder means. Current days hours would seem like preorder on / days in advance 0.

Preorder off would still mean to me that I only take orders that people want ASAP - I don't have to think about orders for the future.

If that isn't how the core team interprets "off" then I am sure I can figure something out locally.

[2021-03-06 11:38] ryanmitchell commented on #719
Yep it is :)

Pre order 0 is same day ordering - all time slots that day.

[2021-03-06 11:42] djtimca commented on #719
I'm confused then. Why have a preorder off if preorder 0 is the same behaviour?

[2021-03-06 11:51] ryanmitchell commented on #719
pre order should only allow a min of 1 to avoid confusion.

[2021-03-06 11:53] djtimca commented on #719
Or it should allow 0 for the behaviour you describe and actually turn off preorder if it is turned off. :)

[2021-03-06 11:55] ryanmitchell commented on #719
Nope :)

[2021-03-06 11:58] djtimca commented on #719
Ok - agree to disagree on this one. I guess I will have to solve locally. Feels like a lost opportunity to have flexibility in how a restaurant wants to operate with minimal effort given the settings are already there to allow for both.

[2021-03-06 12:06] ryanmitchell commented on #719
We can’t cover every use case. Everything we add means more support and more bugs to fix. That needs to be considered.

To me this would be big functional change when we are really just fixing bugs before RC.

It’s really very easy to do this with an extension - the flexibility is there. Alternatively just hide the schedule drop down :)

[2021-03-06 12:09] djtimca commented on #719
Completely understand not wanting to add features. This feels like a confusing use case in the core given you have an on / off setting but even off allows the functionality to work in a limited use case. Doesn't feel like a new feature to me. Not my call - I will solve locally.

[2021-03-06 12:11] ryanmitchell commented on #719
As I said making it a minimum of 1 will remove that confusion.

@sampoyigi ?

[2021-03-06 12:12] djtimca commented on #719
I'm not sure it does remove the confusion. Still feels like off should be off.

[2021-03-06 12:17] ryanmitchell commented on #719
If this this important to you work on a PR for the change you want to see. It will also need carried through on local extension, orange them and probably flame.

[2021-03-07 12:06] BreakSecurity commented on #698
A big thank you to @ryanmitchell

Now everything works. We have only to try to not touch this anymore 🤣

[2021-03-07 12:06] #698 closed

[2021-03-08 11:58] ryanmitchell commented on #718
PR here - https://github.com/tastyigniter/ti-ext-local/pull/46

[2021-03-08 15:30] roydeanjr opened #720 "Disabled Category still shows on menu"
**Expected behavior:**
I disabled a Category that is one of two assigned to items yet the Category still shows on the menu listing for the location assigned to the Item. The Category location does not include the location I am viewing.

**Version:**
3.0.4-beta.27

[2021-03-08 15:34] ryanmitchell commented on #720
Duplicate of: https://github.com/tastyigniter/TastyIgniter/issues/718

[2021-03-08 15:37] roydeanjr opened #721 "Negative quantity on item does not show "Out of Stock" on menu"
**Expected behavior:**
Expected "-1" in the quantity field to make the display of the item on the menu reflect that the item is "Out of stock" as the help text for the quantity field states: "Enter the amount of stock available. This amount can be set to zero to represent unlimited stock quantity or a negative number to represent out of stock."

**Actual behavior:**
A "negative number to represent

[2021-03-08 15:51] ryanmitchell commented on #721
I dont think it displays "Out of stock" but i do think it prevents it being purchased.
An out of stock text could be easily added to your theme partial.

[2021-03-08 16:16] roydeanjr commented on #720
Ok, cool. So both issues are resolved or this one is just a byproduct of what I raised in #718 ..... Thank you!

[2021-03-08 16:18] roydeanjr commented on #721
I tested and I was able to go through the motions of adding the item to my cart. I am not sure when the verification of quantity is checked, nor how to "easily add it to a theme partial". Can you give me a hint?

[2021-03-08 16:26] ryanmitchell commented on #720
Both should be resolved.

[2021-03-08 16:29] ryanmitchell commented on #721
It was asked on the forum recently.

https://forum.tastyigniter.com/d/2396-show-available-stock/3

[2021-03-08 18:30] roydeanjr opened #722 "Add Order Queue Count and time to variable list for notifications"
Requesting new variables to add to a notification message:
At the point of receiving a new order and building the message that will be sent to the customer:
  1 - Order queue count: Simple total number of open (Received or whatever initial status the admin wants) orders in the queue.
  2 - Order item queue count: Simple total number of open items on open orders in the queue
  3 - Estimated time to

[2021-03-08 19:07] ryanmitchell commented on #722
Feels like an extension to me that registers the mail variables rather than something that should be added to core.

This is how I register them in order approver, which should get you started:

[code]

The values you want are just calculations based off Orders_model that you would need to work on.

[2021-03-08 20:32] roydeanjr commented on #721
Thank you, Ryan. With that information I was able to add `@if ($menuItem->stock_qty >= 0)` to the beginning of item.blade.php and `@endif` to the end of the file.

For anyone else looking to do this, the item.blade.php file should be placed in your theme's /_partials/localMenu/ folder. Copy the file in /extensions/igniter/local/components/menu/.

[2021-03-08 20:32] #721 closed

[2021-03-09 02:31] roydeanjr commented on #722
That is easier said than done! I am still trying to wrap my head around how to actually write the code you seem to churn out with ease! How the different files are called into the system and which one to write first, etc. Isn't there a way to just give the system the idea and have it write all the code? Where do you start when writing new extensions or functionality?

[2021-03-09 06:26] ryanmitchell commented on #722
Start with the documentation and look at other extensions to borrow ideas and approaches from them.

[2021-03-09 09:33] ryanmitchell commented on #684
Also wonder should we amend geolite/models/location to allow the query to be stored and output instead of formatAddress, so that the issue of changing of the address by the geoprovider doesnt happen?

[2021-03-10 10:51] #722 closed

[2021-03-10 10:51] #720 closed

[2021-03-12 18:34] abdelouahedhamdi opened #723 "locales with "_" character"
https://github.com/tastyigniter/TastyIgniter/blob/68e86a370db0a56f458092d4ba2cc525c7f16957/app/admin/widgets/calendar/calendar.blade.php#L10
i would replace it by :
data-locale= "{{ strtolower(str_replace('_', '-', setting('default_language'))) }}"

[2021-03-12 20:31] ryanmitchell commented on #723
So this one is already partially handled in the JS file - but I've updated it to deal with _ as well as -:
https://github.com/tastyigniter/TastyIgniter/pull/724

[2021-03-14 19:55] ryanmitchell opened #725 "Laravel Valet"
There are issues with a clean install on laravel valet.

To make starting out more developer friendly we need to ensure it works out of the box.

[2021-03-16 10:22] ryanmitchell commented on #725
Actually seems to work without issue when you use PHP7.4
I think our PHP8 support is a bit ropey, but thats due to issues in the dependencies.

[2021-03-16 10:22] #725 closed

[2021-03-16 21:02] ryanmitchell opened #726 "PHP8"
We need to make sure tasty works on php 8 now that it's fully released and supported.

From what I can see at a quick glance we have some errors with flame and other dependencies.

We should use this issue to flag and fix anything PHP8 related.

[2021-03-26 17:30] BreakSecurity opened #727 "Run tasty locally under Windows"
**Expected behavior:**
To configure XAMPP as explained [here](https://forum.tastyigniter.com/d/2371-guide-setup-tastyigniter-locally-on-xampp-under-windows) and just use it.

**Actual behavior:**
At a first glance everything seems fine but deeper look reveal theme engine is NOT working. If you create a child theme you are NOT able to load any pages. Plus if you set as active the child theme fronte

[2021-03-31 20:19] sampoyigi commented on #716
Erm, looking at the code lead minutes is only added on ASAP orders.

https://github.com/tastyigniter/ti-ext-cart/blob/f26e4fd9360113b27c276870d62b57942cb13e20/classes/OrderManager.php#L320

[2021-03-31 20:21] sampoyigi commented on #552
Yup, it will use the API extension to pull your orders into the app.

[2021-03-31 20:27] ryanmitchell commented on #716
Yep. But that means lead time is added twice as its already being added in WorkingSchedule::getTimeslot()

[2021-03-31 20:34] sampoyigi commented on #719
@ryanmitchell you said everything on my mind with ongoing support and unnecessary technical debts.

Preorder means outside the current day hours, not a direct opposite of ASAP. What we can do is set the minimum value of future order days to 1 to avoid confusion.

[2021-04-05 20:50] sampoyigi commented on #684
Made the precision configurable but we still need the fields on the settings page to set the value..

Can you elaborate?

[2021-04-05 21:28] sampoyigi commented on #723
Fixed

[2021-04-05 21:28] #723 closed

[2021-04-06 06:24] ryanmitchell commented on #684
Could we just make teh setting available in config somewhere - not sure it needs a UI screen?

Yes sorry, at the moment if you do a search and it finds a result then the query gets reformatted to that result, which can mean on the next search / page load the address looks quite different to what you e entered (you saw this when testing my polygon example). So should we cache the actual query enter

[2021-04-06 12:52] anonuknow opened #729 "Tax/VAT is calculated with a wrong formula when "menu price already include tax""
**Expected behavior:**
Total with VAT (and menu listed price) = 300
VAT= 20%
Vat= 50
No VAT= 250

**Actual behavior:**
Total with VAT = 300
VAT= 20%
VAT= 60  (but is 20% of the TOTAL not the actual VAT)
No VAT = 240

**Reproduce steps:**
admin/settings/edit/setup
Menu prices already include TAX

**Version:**
 v3.0.4-beta.27

**Additional Information:**
300 (item with VAT) / 1.20 (1.xx , where xx =

[2021-04-06 13:19] ryanmitchell commented on #729
Yep, good spot. I've opened a PR over on flame for it. See: https://github.com/tastyigniter/ti-ext-cart/pull/51/commits/a75fc6fa1240eaf3367b3ea70d676d1a1b51cfce

[2021-04-06 13:53] anonuknow commented on #729
Yup, this worked. I was looking so hard for that file.

[2021-04-07 06:40] #729 closed

[2021-04-08 06:34] ryanmitchell opened #730 "Column 'location_id' in where clause is ambiguous"
Add a location to a category and save.
Change the location (removing the old one) and save.

`"SQLSTATE[23000]: Integrity constraint violation: 1052 Column 'location_id' in where clause is ambiguous (SQL: delete `ti_locationables` from `ti_locationables` inner join `ti_locations` on `ti_locations`.`location_id` = `ti_locationables`.`location_id` where `locationable_id` = 2 and `locationable_type`

[2021-04-08 07:28] ryanmitchell commented on #730
Also occurs on menu items and anything else locationable

[2021-04-08 07:29] #718 closed

[2021-04-09 14:09] sampoyigi commented on #684
Fine we can leave the setting in the geocoder config file.

I've pushed changes to store/retrieve the search query from user session

[2021-04-09 14:12] sampoyigi commented on #730
I'm unable to reproduce this

[2021-04-09 14:12] teferimekonen2 opened #731 "digital library system"
**Expected behavior:**
(Describe expected behavior here)

**Actual behavior:**
(Describe actual behavior here)

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
(TastyIgniter version number)

**Additional Information:**
(Additional information, if any)

[2021-04-09 14:19] ryanmitchell commented on #730
https://user-images.githubusercontent.com/51899/114193914-e2659280-9946-11eb-943b-855374d00201.mov

See video - tried on both my dev environment and beta 27, happens in both.

[2021-04-09 14:20] ryanmitchell commented on #730
Just in case its not clear in the video - the location was set to "testing" and i changed it to "default" and then saved.

[2021-04-09 14:22] sampoyigi commented on #730
Hmm still saving for me, can you share the full error message

[2021-04-09 14:33] ryanmitchell commented on #730
Maybe it’s been fixed already then. It is an odd one.

I’ll see if it still happens after the next beta.

[2021-04-09 18:38] Cenzi96 opened #732 "Limit order not work"
**Expected behavior:**
When set to 2, place a maximum of 2 orders for each time frame:
2 orders max from 19: 00/19: 20
2 orders max from 19: 20/19: 40

![screen](https://user-images.githubusercontent.com/81419264/114225543-bb24ba80-9972-11eb-9165-67fdb8aa8699.png)

**Actual behavior:**
I
More than 2 orders can be placed per time slot

**Version:**
v3.0.4-beta.27

[2021-04-13 18:14] #731 closed

[2021-04-13 18:17] #719 closed

[2021-04-13 18:21] sampoyigi commented on #716
Looks like this line here is the culprit, if we remove the limit_orders check, then we can return the current time as the asap time.. What's the check doing?

https://github.com/tastyigniter/ti-ext-local/blob/cfa330c1c0469c80505d149568990871f80246de/classes/Location.php#L253

[2021-04-13 18:21] sampoyigi commented on #710
This issue is fairly old and there hasn't been much activity on it. Closing, but please reopen if it still occurs.

[2021-04-13 18:21] #710 closed

[2021-04-13 18:23] sampoyigi commented on #684
This issue looks fixed, please confirm @ryanmitchell

[2021-04-13 19:01] ryanmitchell commented on #716
The check is there to get the next valid timeslot when limiting is enabled. We can’t assume it’s now() as there may be orders in that timeslot.

[2021-04-13 19:02] ryanmitchell commented on #684
Yep!

[2021-04-13 19:02] #684 closed

[2021-04-13 20:27] sampoyigi commented on #716
So is it safe to disable asap time when limit order is enabled that way lead time doesn't get added and the first available timeslot is selected by default?

[2021-04-13 20:29] ryanmitchell commented on #716
Yeah if you are happy to do that then it should solve the issue.

[2021-04-13 20:58] sampoyigi commented on #716
Done! 🤞  there's no side effects

[2021-04-13 20:58] #716 closed

[2021-04-13 23:29] sampoyigi commented on #727
I've spent hours on this particular issue without any luck. I'll give it another go with a Windows VM at some point or you can dig deeper, you might get lucky ;)

[2021-04-14 06:56] ryanmitchell commented on #732
The limitation code all is working fine from my tests, however I think the issue is that on successful order the session timeslot is not cleared, so you can continue to place orders for that timeslot.

So either we:
1. Clear the session timeslot
2. Add some new logic in order manager to check the timeslot is valid

What do you think @sampoyigi ?

[2021-04-14 07:38] sampoyigi commented on #732
Yup, clear the session timeslot seems the way to go

[2021-04-14 07:48] ryanmitchell commented on #732
Cool - opened a PR in local for it

[2021-04-14 10:13] #732 closed

[2021-04-20 15:15] danielang opened #734 "Delivery Conditions dont allow to put items in the cart"
**Expected behavior:**
Currently I try to setup TI for a single restaurant.

There we have the condition that we do not deliver in certain areas when the total price is below e.g. 30€. When it is greater or equal we deliver with a charge of 3€.

This is my configuration:
![image](https://user-images.githubusercontent.com/6752808/115417951-5af70980-a1f9-11eb-8176-9991c988068e.png)
1. Charge = 3.00€

[2021-04-20 18:58] ryanmitchell commented on #734
I thought this may have been fixed already by recent commits.
You can obviously apply the change manually until the next beta is available.

[2021-04-20 18:58] #734 closed

[2021-04-21 20:17] BreakSecurity commented on #684
@sampoyigi  Should we change default value to 3 tested by @ryanmitchell ?

[2021-04-30 04:07] Arbazbms opened #735 "Setting up your application... 🍲 Finishing site setup... is taking very long and not completing the setup"
Setting up your application... 🍲 Finishing site setup... is taking very long and not completing the setup

[2021-04-30 05:04] ryanmitchell commented on #735
Are there any errors on screen or in your system logs?

[2021-04-30 05:27] Arbazbms commented on #735
no there are no errors

[2021-04-30 05:37] ryanmitchell commented on #735
It will be very hard for us to debug the issue without errors. There must be something in your JavaScript console or PHP error log.

[2021-04-30 08:38] Arbazbms commented on #735
After Running php artisan igniter:install

Migrated app Main Done.
Migrating application and extensions...
  Admin Username [admin]:  >
Admin Password [123456]:  >   In Connection.php line 669:
   SQLSTATE[42S22]: Column not found: 1054 Unknown column 'timezone' in 'field    list' (SQL: insert into `ti_staffs` (`staff_email`, `staff_name`, `staff_r   ole_id`, `language_id`, `timezone`, `staff_stat

[2021-05-01 15:50] JamesThanna commented on #732
I don't believe this resolved the issue. Using the latest version of TI beta 3.0.4-beta-27  and local 1.10.0extension

![image](https://user-images.githubusercontent.com/57585482/116787620-e9427980-aa9c-11eb-81bc-9a5687d98661.png)

I've an order currently for 18:30 for collection and a status of accepted. If got to the timeslots to place an order. the 18:30 slot is still showing.

[2021-05-02 19:23] BreakSecurity commented on #735
It is normal is due to the last migration made by sam. A workaround is to delete it from app/admin/database/migration do the install and then apply it

[2021-05-03 19:29] sampoyigi commented on #735
@Arbazbms you can download the latest version of TastyIgniter from the releases page... It's always safe to use the latest version rather than the master/develop branch since they are both under active development.

[2021-05-03 19:30] sampoyigi commented on #735
Here's the link to the latest release https://github.com/tastyigniter/TastyIgniter/releases/tag/v3.0.4-beta.27

[2021-05-05 10:41] #735 closed

[2021-05-06 19:27] patellalit commented on #710
Sorry for not reply very long.

Do you have Reject Orders Outside Delivery Area enabled under System > Settings > Setup?
No Its disabled.

[2021-05-07 23:08] BreakSecurity opened #738 "Order price is doubled"
For all orders made the price is doubled

![immagine](https://user-images.githubusercontent.com/38836022/117516564-cda60a00-af99-11eb-8b87-c26ddc1a266d.png)
![immagine](https://user-images.githubusercontent.com/38836022/117516571-d0a0fa80-af99-11eb-8aab-85579480c714.png)

[2021-05-07 23:10] BreakSecurity opened #739 "Timeslot & limits logic conflicts"
**Expected Behaviour**
Once the number of limit orders per range is reached, only the timeslot concerned should disappear

**Actual behaviour**
Once the number of limit orders per interval has been reached, two affected timeslots disappear

**Reproduce steps**
1) Set an order limit per range of 1 order
![immagine](https://user-images.githubusercontent.com/38836022/117516682-152c9600-af9a-11eb-9e2b

[2021-05-07 23:12] BreakSecurity opened #740 "Model save do not work properly with radio button"
**Expected Behaviour**
After pressing the "save" button, all changes entered must be validated.
**Actual behaviour**
After clicking the button, some assigned values are not saved and returned to the initial state
**Reproduce steps**
1) After creating a product, set different values from the "Specials" window
![immagine](https://user-images.githubusercontent.com/38836022/117516778-4ad17f00-af9a-11e

[2021-05-07 23:15] BreakSecurity opened #741 "Option set do NOT honour location restrictions"
**Expected Behaviour**
Setting the location options should limit the use of these options to that location only

**Actual behaviour**
Currently setting the location of the options has no effect
**Reproduce steps**

1) Create a product assigned to both locations (both location 1 and location 2)
![immagine](https://user-images.githubusercontent.com/38836022/117516871-a4d24480-af9a-11eb-9cd6-04dd0435

[2021-05-08 15:59] BreakSecurity opened #742 "Coupons_model::customerHasMaxRedemption() must be an instance of Igniter\Flame\Auth\Models\User, null given"
**Expected Behaviour**
Coupons should actually be usable

**Actual behaviour**
Coupons cannot currently be used

**Reproduce steps**
1) Set up a coupon by setting the code and everything you need
![immagine](https://user-images.githubusercontent.com/38836022/117545393-e2c87a80-b025-11eb-99b0-1213e2a32c99.png)

2) This is triggered when you set 0 value as in picture for redemption
![immagine](https

[2021-05-08 16:05] BreakSecurity opened #743 "Category disabled still shows up in menus"
**Expected Behaviour**
After making a category unavailable, it should disappear from the site with all products linked to it
**Actual behaviour**
After making a category unavailable, it remains perfectly visible on the site, not hiding it from the site
**Reproduce steps**
1) Create a new category with several menu items assigned to it
![immagine](https://user-images.githubusercontent.com/38836022/

[2021-05-08 16:51] BreakSecurity opened #744 "Table reservation do NOT respect available seats"
**Expected Behaviour**
Reservations made should respect the limits imposed by table capacity

**Actual behaviour**
it is possible to book without taking into account the actual capacity of the tables

**Reproduce steps**
1) I create a single table with the following settings, so there is only one table. I expect to only be able to make reservations with 4 to 10 guests
![immagine](https://user-imag

[2021-05-08 16:59] BreakSecurity commented on #744
Plus a table is a physical entity and should be assigned only to one location per time, right? @sampoyigi

[2021-05-08 17:19] BreakSecurity opened #745 "Initial search bar with multilocations [Low priority]"
**Expected Behaviour**
if the address entered is not contained in any delivery area, you should not arrive at the menu page

**Actual behaviour**
The user is still redirected to the menu page

**Reproduce steps**
 1)	I enter an address that is not contained in any of the delivery areas of any of the locations
![immagine](https://user-images.githubusercontent.com/38836022/117547847-1d381480-b032-11

[2021-05-08 19:47] richag1 opened #746 "Multilocation delivery"
When we go onto PizzaHut (TS1 postcode) ,
If we try for delivery to e.g. TS3 (delivery radius set in settings) - it lets us add to basket **as expected**

if we try to deliver to e.g. TS25 (outside the delivery radius) the correct message shows saying we cannot deliver - **as expected**

**------------------------------------------------------------------------**

When we go onto PappaMos - a diff

[2021-05-08 20:16] ryanmitchell commented on #746
Possibly related to not being able to set default delivery area to a different area for each location. It seems to only allow one area across all locations to be default.

[2021-05-09 02:34] JamesThanna commented on #739
I've also been able to replicate this on the latest beta on a fresh install too! :/

[2021-05-09 02:35] JamesThanna commented on #738
Do you have any product options on this with a price set?

[2021-05-10 06:56] ryanmitchell commented on #741
@sampoyigi spent a bit of time on this but its a hard one to track over. I think we need to make a function called by item_modal (cart) rather than using the property menu_items. However, menu_items are Menu_item_options_model, whereas the locational ie menu_options, so its tricky to apply the restriction without lots of queries. Any thoughts on how best to do it?

[2021-05-10 07:03] ryanmitchell commented on #743
I'm cautious of changing this as I feel this might be intended behaviour @sampoyigi ? If not, it may be better to make the left hand side menu bar be driven by the available menus, rather than a separate component. What do you think?

[2021-05-10 07:22] ryanmitchell commented on #745
Can you give some example addresses and restaurant locations so this can be tested?

[2021-05-10 07:53] JamesThanna commented on #739
@ryanmitchell That's fixed it for me and the timeslot is not showing anymore following a booking!

[2021-05-10 09:55] ryanmitchell commented on #746
I'm not able to replicate this in my test environment. @sampoyigi @BreakSecurity can either of you reproduce?

[2021-05-10 09:57] ryanmitchell commented on #740
I'm not able to replicate this using the latest develop branch on GitHub. Can you check against that?

[2021-05-13 07:41] #742 closed

[2021-05-13 10:03] #738 closed

[2021-05-13 10:05] #739 closed

[2021-05-13 10:09] sampoyigi commented on #744
Right! But then TastyIgniter tries to be flexible so we let the user decide how they want it setup, whether one table per location or shared table as a digital reference to the physical table.

[2021-05-13 11:23] sampoyigi commented on #741
Definitely a tricky one but found a way...

[2021-05-13 11:28] ryanmitchell commented on #741
Good solution!

[2021-05-13 11:43] sampoyigi commented on #743
This patch might be related, the category disappears from the category and menu list but any item attached to the category is still listed. I think we can work with that for now.

[2021-05-13 13:18] ryanmitchell commented on #730
Im definitely still seeing this... seems we need to update the locationable delete query... full error:

[code]

I cant find how thats handled (seems to be by October?) - if you can point me in the right direction I can work on it.

[2021-05-13 13:30] sampoyigi commented on #745
@BreakSecurity Ping! 😉

[2021-05-13 13:33] sampoyigi commented on #746
Yea I was able to help them with the issue. The delivery area address component regex wasn't matching correctly.

[2021-05-13 13:33] #746 closed

[2021-05-13 14:12] #744 closed

[2021-05-13 14:19] creativeindustriesgroup opened #748 "Reordering Disabled Menu Items"
**Expected behaviour:**
1. The admin disables a menu item
2. The menu item is removed from the menu
3. When a customer tries to re-order (from Recent Orders list), the menu item that is disabled does not get added and an error is displayed.

**Actual behaviour:**
The disabled menu item gets added to the customers order

**Reproduce steps:**
Should be self-explanatory, let me know if not

**Version

[2021-05-13 19:02] BreakSecurity commented on #745
If I insert a far away location DIFFERENT city
![immagine](https://user-images.githubusercontent.com/38836022/118173749-47bd0f80-b42e-11eb-8c39-c821df4b4c2b.png)

If I insert an address near the restaurant:
![immagine](https://user-images.githubusercontent.com/38836022/118173832-5a374900-b42e-11eb-899c-759ec27ce1e5.png)

[2021-05-13 19:10] ryanmitchell commented on #730
Seems to  be related to laravel framework version upgrading to v6.20.21 fixes it

[2021-05-13 19:10] #730 closed

[2021-05-17 07:27] #748 closed

[2021-05-17 07:27] #743 closed

[2021-05-17 07:27] #741 closed

[2021-05-17 22:19] BreakSecurity commented on #740
Not able to replicate on last git

[2021-05-17 22:19] #740 closed

[2021-05-18 06:37] wakey18 opened #751 "Date filter in Orders cannot select "Today""
**Expected behavior:**
The date filter for orders should allow you to select today to view today's orders

**Actual behavior:**
"Today" is unselectable, you have to select any other option first then the option for "today" is then selectable.

**Reproduce steps:**
goto Sales -> Orders, filter the orders by date. Try to use the option for "Today".

**Version:**
 v3.0.4-beta.27

**Additional Informa

[2021-05-19 22:07] creativeindustriesgroup opened #754 "(!) Time Slots not disappearing"
**Expected behaviour:**
1. With "Maximum Orders Per Interval" set to "1", after a user has ordered, the time slot disappears from the list of available times on the frontend.

2. If another user attempts to order with a time slot that has already been taken, an error message is displayed saying that the time slot is no longer available (and/or the user is prompted to select a new time slot and a t

[2021-05-19 22:10] creativeindustriesgroup opened #755 "Stripe Refunds: No Button"
**Expected behavior:**
A button is displayed where an admin can refund a Stripe payment

**Actual behavior:**
No button is displayed

**Reproduce steps:**
I can't seem to find any button. I looked in an order inside the "Order", "Menu Items", "Status History" and "Payment Attempt" tabs and also in the orders list.

**Version:**
v3.0.4-beta.28

**Additional Information:**
(Additional information, i

[2021-05-19 22:14] creativeindustriesgroup opened #756 "No stars showing on Order Review section"
**Expected behavior:**
Once a user has ordered and they have been taken to the order overview page, the user is given the option to leave a review.
The user can click on the stars and leave a comment.

**Actual behavior:**
The stars do not show up so the user is unable to complete a review.

**Reproduce steps:**
Should be self-explanatory. Let me know if not.

**Version:**
v3.0.4-beta.28 (and prev

[2021-05-19 22:21] creativeindustriesgroup opened #757 "[Feature Request] Tip Report / Other Sales Reports"
Hey there,

I can't seem to find any way at present to get a report of how much has been earnt through tips? It is quite common to share tips with the restaurant staff so it would be very useful information.

With this in mind, tips would also be considered as Gross income rather than Net income and it would be super helpful to be able to distinguish this (perhaps through homepage widgets or with

[2021-05-19 22:23] creativeindustriesgroup commented on #754
Also, it would be very useful if the total sales widget could deduct any refunds. Thanks in advance!

[2021-05-20 05:20] ryanmitchell commented on #757
I think this sort of reporting would be provided by an extension rather than core. I began work on one here: https://github.com/ryanmitchell/ti-ext-reports

You could add the code to total tips and I’d accept a PR for it.

[2021-05-20 05:22] ryanmitchell commented on #755
Are these legacy payments? The refund button only appears for payments made after the update. Also only with the stripe payment gateway as things stand.

[2021-05-20 08:10] ryanmitchell commented on #754
It definitely drops off on my tests using the same settings.

Are your orders being added at the same time - maybe is a race condition and both users have selected the same order time in the basket at the same point?

[2021-05-20 08:14] ryanmitchell commented on #756
Should be fixed here - https://github.com/tastyigniter/ti-ext-local/pull/58 - let me know if that doesn't work for you.

[2021-05-20 09:09] ryanmitchell opened #758 "Autoselect location in menu items"
Moved from forums: https://forum.tastyigniter.com/d/2485-multi-restaurant-location

![2222585859456251324831154845](https://user-images.githubusercontent.com/51899/118951896-60a85200-b953-11eb-939d-713071f6f966.png)

In multi restaurant if I log in with the user of the restaurant “Restaurant 1” by accessing the menu and creating a new menu item, the position relating to the user is not automatical

[2021-05-20 10:03] creativeindustriesgroup commented on #754
I was able to further troubleshoot this and have found some specific steps to reproduce.

- I have 2 order statuses - "Order Accepted" and "Order Accepted - Waiting on Prep" (this is so the ticket doesn't get printed twice once the order has been accepted, as the ticket printer will automatically change the status to the latter once printed).
- When the order is created, it is automatically marked

[2021-05-20 10:05] ryanmitchell commented on #754
System -> Settings -> Setup

Add “Waiting on Prep” to your Processing Order Status list.

[2021-05-20 10:09] creativeindustriesgroup commented on #755
No, these are payments on the latest version that happened after the update. All on stripe as Live payments.

The only thing that I can think might be different if you're not having the same problem is that I renamed the payment gateway to something like "Secure online Payment" so that it makes more sense to the customer...

[2021-05-20 10:21] ryanmitchell commented on #755
Hmm, seems we missed a step - see code changes - https://github.com/tastyigniter/ti-ext-payregister/pull/21

[2021-05-20 10:26] creativeindustriesgroup commented on #756
Thanks! I've sent a review of that commit so that should be waiting for you, but once that's done it all works perfectly. I would've probably sent that one in myself but couldn't find the components!

[2021-05-20 10:26] #756 closed

[2021-05-20 10:32] creativeindustriesgroup commented on #757
Thanks, I'll look into it. Although I'm struggling to get the grasps of Lavarel at the mo 🥲

[2021-05-20 10:32] #757 closed

[2021-05-20 10:52] creativeindustriesgroup commented on #754
🤯 My bad. Although when I try to update those settings I get the following error:
[code]

Even though they're set...

[2021-05-20 10:53] creativeindustriesgroup commented on #755
Just put an order through via Stripe's Test API and could not see a refund button still.

Admin Order page loading and Payment Attempts is slightly slower at loading now, which might indicate that this update has allowed for some API communication to work.

I am also using the Stripe Authorize extension with Order Approver, and the payment gateway settings are set to "Authorize Only" if that makes

[2021-05-20 11:01] ryanmitchell commented on #755
There is no API communication in the background -it just happens at the point of order / or refund.

It should mark the is_refundable column in the payment_logs to be 1, and when that happens the refund appears in the "Payment attempts" tab on the order.

I've updated the PR with new code

[2021-05-20 11:13] ryanmitchell commented on #754
Those relate to reservation - are you sure they are set? Maybe you deleted their statuses?

[2021-05-20 11:32] creativeindustriesgroup commented on #754
Ah, yes I deleted them because I turned reservations off! Thanks - I'll be sure to write this up in the new docs 🤪

[2021-05-20 11:32] #754 closed

[2021-05-20 11:42] creativeindustriesgroup commented on #755
That fixes it. Thanks.

[2021-05-20 11:42] #755 closed

[2021-05-20 12:33] creativeindustriesgroup opened #760 "Change of Schedule/Timeslot Behaviour"
**Expected behaviour:**
The opening schedule is set to the opening time for the delivery and pick up options. The website displays the timeslots accounting for the opening time + the lead time .

Example: The time is 4pm, delivery starts at 4pm but there is a 60 minute lead time for delivery. The website should show the first available timeslot to be 5pm, and should display that delivery starts at

[2021-05-20 12:45] ryanmitchell commented on #760
Definitely not seeing this behaviour in my test environment.

Can you send through your  location -> settings screen, and schedules so I can try to replicate your setup?

[2021-05-20 14:19] creativeindustriesgroup commented on #760
Images requested: [https://imgur.com/a/rTnDiXV](https://imgur.com/a/rTnDiXV)

[2021-05-20 14:58] ryanmitchell commented on #760
@tastyigniter/core-team any one else able to replicate this? I’m not seeing it.

[2021-05-21 10:36] creativeindustriesgroup opened #761 "[Feature Request] Separate Maximum Orders Per Intervals"
Hey,

It would be super useful if we were able to specify different maximum order per interval values for delivery and collections.

I've ran into a case where the restaurant needs 2 orders per delivery time slot but only 1 order per collection timeslot.

Thanks

[2021-05-21 10:37] ryanmitchell commented on #761
See: https://tastyigniter.com/marketplace/item/thoughtco-maxorders

[2021-05-21 10:47] creativeindustriesgroup commented on #761
Yeah I've had a look at that before. While it *kind of* works, It looks like I'd have to set the max per interval to 2 and then create a new rule for every day/hour that I only want 1 collection.

It definitely feels more user-friendly/intuitive to me if there was just a second box on the Location Settings page...

[2021-05-21 11:59] ryanmitchell commented on #761
I dont think thats a likely change to be honest.

I think you've misunderstood - you'd only need to create 1 rule - and have it work over the entire time period(s) you want.

[2021-05-21 12:23] creativeindustriesgroup commented on #761
So if I create a rule between 18:00 to 20:00 and set 2 orders, would that be 2 orders per hour (per interval) or two hours between the times selected? We don't want to limit the amount of food, rather the amount of orders per time slot that is most important.

[2021-05-21 12:25] ryanmitchell commented on #761
It would be 2 orders per time interval within that time period.

[2021-05-21 14:41] djtimca opened #762 "Rounding Issue for Payments"
**Expected behavior:**
If the Order Total is $0.00, the payments box should not appear and checkout should be allowed with no payment.

**Actual behavior:**
EDGE CASE:
If you apply a tip % to a cart that makes the calculated value round to something less than 0.5 cents (ie. 15.3825) it will display correctly as 15.38 in the cart as the total.

If you apply a COUPON or other cart condition for exac

[2021-05-22 14:10] BreakSecurity opened #763 "Automatic order assignment working partially"
**Expected Behaviour**
Automatic order assignment should work fine

**Actual behaviour**
Currently the automation system automatically assigns the orders to the different users trough automation rules.
![immagine](https://user-images.githubusercontent.com/38836022/119229389-250ab500-bb18-11eb-929c-b08144dfcda5.png)
![immagine](https://user-images.githubusercontent.com/38836022/119229393-2b009600-b

[2021-05-22 14:22] BreakSecurity opened #764 "Invalid coupons can be applied to cart"
**Expected Behaviour**
Invalid coupons should not be applied to the cart

**Actual behaviour**
Invalid coupons can be applied to the cart, however, vanishing after completing the order

**Reproduce steps**
1) Create a coupon with the following settings (so that it is currently not active, today is Sunday)
![immagine](https://user-images.githubusercontent.com/38836022/119229657-59cb3c00-bb19-11eb-9

[2021-05-22 14:27] BreakSecurity opened #765 "ErrorException: ZipArchive::extractTo(): File exists in UpdateManager.php:522"
**Expected behavior:**
Update to work from 27 to 28

**Actual behavior:**
An error during update

**Reproduce steps:**
Try to update

**Version:**
27

**Additional Information:**
[code]

I tried to run chmod -R 777 . on main folder and to clear storage but nothing still the same error from UI and console too

[2021-05-24 12:10] ryanmitchell commented on #765
@sampoyigi I took a look at this but couldn't think of how best to handle it. Seems like it **should** be working but its obviously not.

[2021-05-24 16:36] sampoyigi commented on #765
@ryanmitchell I'm not able to reproduce this, updating works for me... What did you find?

[2021-05-24 16:42] ryanmitchell commented on #765
I couldn’t reproduce either. But more than one user has reported it on the forums/discord.

[2021-05-25 12:16] noromamai opened #766 "Creating a category does not save "priority""
**Expected behavior:**
After creating a category it is expected that the priority setting is what was entered

**Actual behavior:**
New category will be given next available priority

**Reproduce steps:**
Create a category, set 20 as priority. After saving it will be for example 11 if the highest previous category was 10.

**Version:**
3.0.4 beta 28

[2021-05-25 12:19] noromamai opened #767 "Saving category will not return to list or start new empty form is that is selected"
**Expected behavior:**
After selecting a different behaviour from the save button dropdown and clicking on save, it should either go to the listing page or start a new empty form to create another category whichever was selected, but instead it always stays on the category details page

**Actual behavior:**
After selecting either "go to listings page" or "create new" in the save button dropdown an

[2021-05-25 12:33] ryanmitchell commented on #767
I'm not able to reproduce this on a clean install - its working fine for me.

[2021-05-25 12:34] ryanmitchell commented on #766
@sampoyigi seems to be related to the NestedSet trait.
An easy 'fix' would be for the priority field to only show when in 'edit' context.

[2021-05-25 12:36] noromamai commented on #767
I will test it some more with different browsers. Currently Tasty is running on an Debian ISPConfig server with php 7.2. I am using Vivaldi browser, but will test with firefox and chrome now.

[2021-05-25 12:37] ryanmitchell commented on #762
@sampoyigi sorry I meant to comment on this earlier. I took a look when it was reported on Discord and there are multiple ways to fix it, so wanted to check with you on approach.

Option 1: Fix in CartCondition total() method
Option 2: Fix in Cart total()/subtotal() methods
Option 3: Fix in template output

[2021-05-25 12:37] ryanmitchell commented on #767
I would suggest running PHP 7.4 - I dont think 7.2 is supported any more.

[2021-05-25 18:19] r-bol opened #768 "Adress 2"
hello,

As no developer, i am trying to put my site together. It is maybe a stupid question, but when i place a order the adress 2 field is required having at least 3 charachters. How can i change the is at least one charachter is required?

<img width="533" alt="adress 2" src="https://user-images.githubusercontent.com/82846121/119548322-60b2b280-bd96-11eb-9409-c979fb47d8c3.png">

[2021-05-25 19:23] ryanmitchell commented on #768
You can modify the rules here:
https://github.com/tastyigniter/ti-ext-cart/blob/048acecb53bad81b990b37f2e9ae9bfd6d71ede9/components/Checkout.php#L302

[2021-05-25 19:23] #768 closed

[2021-05-27 01:06] sampoyigi commented on #762
Yup let's fix in the CartCondition, rounding the calculated value somewhere before L53 would do the trick.

https://github.com/tastyigniter/flame/blob/master/src/Cart/Helpers/CartConditionHelper.php#L53

[2021-05-29 07:31] moein opened #770 "Waiter app"
Hey guys,
Really love this project and I'm thinking about using it for a client.
The only issue I have is that the client also serves the food in the restaurant which means the waiters also need to make orders.
I'm a backend developer so I was thinking if someone with frontend skills is available we can build a waiter page as well which allows waiters to login and make orders for tables.

[2021-05-29 07:49] eshopdesigners commented on #770
Hopefully will be available in next release.

[2021-05-29 07:55] ryanmitchell commented on #770
Yep I have an extension ready to go that does this. Just need the next core release as it requires some new functions we added.

[2021-05-29 08:10] #761 closed

[2021-05-30 17:15] sampoyigi commented on #766
Fixed, sorting records automatically should be 'optional'..

[2021-05-31 11:48] ryanmitchell opened #771 "Change folder structure to help with permissions"
Following up on the discord discussion around file permissions, I think (after v3 final) it would be good to revisit the folder structure to make it more secure.

The index.php file could be put into a public folder and thats what nginx/apache points to, so storage/vendor etc are all kept beneath the root to avoid write issues.

The issue we run into then is around assets being accessible, so we s

[2021-05-31 18:26] #766 closed

[2021-05-31 18:26] #764 closed

[2021-05-31 18:27] #758 closed

[2021-06-01 12:20] jdmacdiarmid opened #772 "Column not found staff_location_id error duing install."
SQLSTATE[42S22]: Column not found: 1054 Unknown column ‘staff_location_id’ in ‘field list’ (SQL: insert into ti_staffs (staff_email, staff_name, staff_role_id, staff_location_id, language_id, timezone, staff_status, date_added) values (admin@restaurant.com, Chef Sam, 1, 1, 1, 0, 1, 2021-05-31 19:24:44))

**Expected behavior:**
Allow a clean installation.

**Actual behavior:**
Unknown Column error

[2021-06-01 22:24] m1k6 opened #773 "Error when adding zero items to cart"
**Expected behavior:**
If I click on a menu item with options, the dialog window appers. A user should not be able to add that item zero times to his cart.

**Actual behavior:**
If I click on a menu item with options, inside the dialog (at the bottom) you can select 0 and try to add that item zero times to the cart. This causes an alert message "The cart does not contain rowId ."

**Reproduce step

[2021-06-01 22:34] m1k6 opened #774 "Feature Request - Showing both regular and special price"
Currently, when a special price for an item is active, only that price is shown in the storefront.
It would be nice to have the ability to also show the original price, if wanted.
Like here: ~~$ 19.99~~ $ 14.99

[2021-06-01 22:38] m1k6 opened #775 "Feature Request - Maximum item amount per order"
Currently, it looks like there isn't an option for configuring how many items (amount) can be added to an order.
It would be nice to have an option to say like: "Per order, only 10 soups are possible (due to logistic/delivery reasons)".
Or maybe to restrict the total amount of items for an order.

[2021-06-01 23:15] m1k6 opened #776 "Error when accessing invoice with zero total sum"
**Expected behavior:**
I am able to view the invoice without  problems

**Actual behavior:**
If you create an order, only consisting of free items (or using a 100% discount voucher), you can't view the invoice as this causes an 500 error.

**Reproduce steps:**
Create an order and use a 100% discount voucher code.

**Version:**
v3.0.4-beta.28

**Additional Information:**
This might be caused by an

[2021-06-02 07:04] sampoyigi commented on #774
Use issues to report bugs, please share your feature requests on the forum https://forum.tastyigniter.com/t/feature-requests

[2021-06-02 07:04] #774 closed

[2021-06-02 08:55] ryanmitchell commented on #773
@sampoyigi do we need to throw the error here:
https://github.com/tastyigniter/ti-ext-cart/blob/1356aea7e0748c0e2ab7cc0c97f797cc7070bbe8/classes/CartManager.php#L64

Or could we update the message to say "Enter a quantity greater than zero"?

[2021-06-02 09:38] BreakSecurity opened #778 "Hidden fields in checkout should NOT trigger rules validation (address_2 edge case mostly)"
**Expected Behaviour**
If any of the fields required at checkout are hidden, this should in no way be required

**Actual behaviour**
In particular conditions, the "Address 2" field is compulsorily requested, although it cannot be entered

**Reproduce steps**
1) From the theme, disable some fields such as "City", "State" and "Address 2"

2) Create an user and save a default address from user panel

[2021-06-02 09:40] BreakSecurity opened #779 "Stripe do not finds vendor files on last beta Class 'Omnipay\Omnipay'"
**Expected Behaviour**
The stripe payment system should work fine

**Actual behaviour**
It is currently not possible to use stripe correctly

**Reproduce steps**
1) Set up the stripe payment method correctly
![immagine](https://user-images.githubusercontent.com/38836022/120457908-213c2580-c397-11eb-8075-3967f5a98f81.png)
![immagine](https://user-images.githubusercontent.com/38836022/120457938-28fb

[2021-06-02 11:18] BreakSecurity opened #780 "Child theme save error"
**Expected Behaviour**
There should be no errors

**Actual behaviour**
When a child theme is created, an error appears (while not preventing the creation of the theme)

**Reproduce steps**
1) Having an active theme, try creating its child theme
![immagine](https://user-images.githubusercontent.com/38836022/120471251-c7daf300-c3a4-11eb-82f3-914eb96d829c.png)
![immagine](https://user-images.githubus

[2021-06-02 11:21] BreakSecurity commented on #763
So here more details to you...

**Expected Behaviour**
If automatic order assignment is on, incoming orders should be assigned to several delivery drivers in a circular fashion

**Actual behaviour**
Orders that arrive are always assigned to the same delivery person, regardless of the settings selected

**Reproduce steps**
1) Set up the automatic assignment to the different deliverymen correctly
![

[2021-06-02 11:37] ryanmitchell commented on #779
Hmm works ok for me from a new install. Maybe try again or run composer update in case its a one off glitch? I know GitHub was having issues.

[2021-06-02 11:38] BreakSecurity opened #781 "Disable user has NO effects"
**Expected Behaviour**
Once a user is disabled, they should no longer be able to log in; or otherwise the deactivation of the user should have some effect

**Actual behaviour**
Disabling a user has no effect

**Reproduce steps**
1) Disable a user
![immagine](https://user-images.githubusercontent.com/38836022/120473864-c3fca000-c3a7-11eb-8444-4b6e547fa33d.png)

2) The user still remains active in b

[2021-06-02 11:41] ryanmitchell commented on #772
Have you tried 3.0.4-beta.28 ?
v2.1.1 is quite out of date at this point.

[2021-06-02 11:44] #767 closed

[2021-06-02 11:59] BreakSecurity commented on #779
So @sampoyigi after some investigation it turns out that composer update from main folder is not recursively updating subfolder with extension.

Running composer update inside payregister fixed the problem any hints? composer version is latest 2.0.14

[2021-06-02 14:06] jdmacdiarmid commented on #772
No.  Not yet.  I wasn't aware there was a new version but will give that a try.

[2021-06-02 14:06] #772 closed

[2021-06-03 16:26] ryanmitchell commented on #779
This I imagine: https://github.com/tastyigniter/TastyIgniter/commit/01ac90f533d955f42d009d612de8f8f85321d75e
I'm sure he had a reason for removing it... im just not sure what :)

[2021-06-03 16:42] ryanmitchell opened #783 "Remove jQuery dependency"
Remake all of the JS in Vanilla javascript to remove the jQuery dependency. Will affect admin, theme and extensions, but will make the JS leaner and allow for different theme options.

Some helpful libraries:

Select2 replacement: https://bluzky.github.io/nice-select2/
Datepicker/range replacement: https://github.com/mymth/vanillajs-datepicker
Sortable: https://github.com/lukasoppermann/html5sorta

[2021-06-03 16:47] ryanmitchell opened #784 "Rebuild widgets as blade components"
Most of the formwidgets/widgets could be rebuilt as blade widgets or taken from a library such as:
https://blade-ui-kit.com

Again lots of work, but will hopefully make things more reusable for beginners.

[2021-06-04 03:28] YnievesDotNet commented on #783
Is better idea pass to bootstrap 5 the orange theme.

[2021-06-04 12:08] ryanmitchell commented on #783
Do you mean use bootstrap 5 instead of 4?

[2021-06-04 22:12] #776 closed

[2021-06-04 22:28] sampoyigi commented on #779
I've removed the merge-composer plugin to avoid conflicts with updates downloaded from the marketplace.

[2021-06-04 22:32] sampoyigi commented on #763
Did you apply this patch? https://github.com/tastyigniter/TastyIgniter/commit/6744e2b186eac2f8dc15ec86329bafd2af6c7002

[2021-06-07 07:05] shyamjptpm opened #787 "php file can be uploaded to image upload in menu creation page"
**Expected behavior:**
only image file should be allowed to upload in media manager

**Actual behavior:**
PHP files can be uploaded

**Reproduce steps:**

- login to admin pane
- go to the menus page
- create/edit menu
- upload PHP file in media

**Version:**
(TastyIgniter version number)

**Additional Information:**
security testing by post request

[2021-06-07 07:10] ryanmitchell commented on #787
I'm unable to reproduce - see attached screen when I try it.
![Screenshot 2021-06-07 at 08 10 07](https://user-images.githubusercontent.com/51899/120974231-caa06400-c767-11eb-86ca-c0a819722626.png)

Can you ensure you're on the latest beta version and provide more detailed information

[2021-06-07 07:22] shyamjptpm commented on #787
we found the issue by security testing, I can't reproduce via browser, they tested using a tool called burp(http traffic interception tool).
https://base_url/admin/menus/create

[2021-06-07 07:24] ryanmitchell commented on #787
So again I ask - please provide full and complete detail to reproduce. As it stands it wont be looked into as its not possible to reproduce. The onus is on you to provide clear steps to make the issue happen so a dev can easily find the cause.

[2021-06-07 07:40] shyamjptpm commented on #787
`curl -i -s -k -X $'POST' \
    -H $'Host: tastyigniter.com' -H $'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:88.0) Gecko/20100101 Firefox/88.0' -H $'Accept: application/json' -H $'Accept-Language: en-US,en;q=0.5' -H $'Accept-Encoding: gzip, deflate' -H $'Cache-Control: no-cache' -H $'X-Requested-With: XMLHttpRequest' -H $'X-Igniter-Fileupload: mediamanager' -H $'Content-Type: multipa

[2021-06-07 17:32] Toap777 opened #788 "Price with VAT gots calculated wrongly at order overview."
**Expected behavior:**
- Prices displayed to the customer should fit with prices displayed at admin site.
- result of price calculation in order details should fit prices displayed at admin site.

**Actual behavior:**

The system displays the prices wrong at the order overview table.

see: https://ibb.co/FB5ZYPK

**Reproduce steps:**
Additional advise needed.

I set up the system to have a taxrate

[2021-06-08 00:21] modm12 opened #790 "Can't send an email in the app"
** Expected behavior: **
Send email of any order status

** Actual behavior: **
does not send, and already configure, and send a test message and everything is correct

** Play the steps: **
in setting --- email - configuration I have everything correct.
I configure the notification in each state but it does not send it.

**Version:**
last version.

**Additional Information:**

[2021-06-08 01:08] modm12 commented on #790
I already read this isuues .
https://github.com/tastyigniter/TastyIgniter/issues/719

[2021-06-08 04:30] shyamjptpm commented on #787
https://github.com/tastyigniter/TastyIgniter/pull/789

[2021-06-08 05:18] shyamjptpm opened #791 "Session invalidation not working"
**Expected behavior:**
old session of a user who logged out works when the user logged in with a new session.

**Actual behavior:**
The session should be invalidated and regenerate after login

**Reproduce steps:**

- login to the admin panel
- Take the session id and logout the user
- login with the same user id and call a GET/POST request with the old session token request will work

**Version:*

[2021-06-09 07:29] shyamjptpm commented on #787
updated the pull reques https://github.com/tastyigniter/TastyIgniter/pull/793

[2021-06-10 12:29] ryanmitchell commented on #790
Do you see any errors in System -> System logs?

[2021-06-10 12:30] BreakSecurity commented on #779
So now after install we have to run composer update in each ext. too?

[2021-06-10 12:31] BreakSecurity commented on #765
Since we're gonna to have stable that will be a fresh start I'll close this

[2021-06-10 12:31] #765 closed

[2021-06-10 12:32] BreakSecurity commented on #763
Yep I applied the patch

[2021-06-11 18:12] sampoyigi commented on #773
@ryanmitchell yup update the message to 'Item not found in the cart'

[2021-06-11 18:13] sampoyigi commented on #779
Nope, for dev environment you can add the changes back ;).. Should probably add that to the docs

[2021-06-11 19:09] sampoyigi commented on #762
Fixed in tastyigniter/flame#34 and tastyigniter/ti-ext-cart#59

[2021-06-12 07:25] sampoyigi commented on #745
This issue looks fixed. Closing, but please reopen if it still occurs.

[2021-06-12 07:25] #745 closed

[2021-06-12 09:56] #791 closed

[2021-06-12 10:02] #778 closed

[2021-06-14 07:34] #787 closed

[2021-06-14 07:35] #779 closed

[2021-06-14 07:35] #762 closed

[2021-06-14 07:36] #770 closed

[2021-06-14 07:36] #773 closed

[2021-06-14 07:37] #781 closed

[2021-06-14 17:17] #751 closed

[2021-06-14 22:09] BreakSecurity commented on #780
[code]

Still there...

[2021-06-15 09:22] sampoyigi commented on #780
Not reproducible in the latest release. Please reopen this issue if it still occurs, with a set of reproducible steps.

[2021-06-15 09:22] #780 closed

[2021-06-15 10:03] ryanmitchell commented on #760
@sampoyigi just bumping this to see if you can recreate?

[2021-06-15 10:04] #552 closed

[2021-06-15 10:36] sampoyigi commented on #788
Fixed, but please reopen if it still occurs.

[2021-06-15 10:36] #788 closed

[2021-06-16 07:14] ryanmitchell commented on #790
Sorry for the delay, I'm not sure why its not working. I use postmark on our installs but we just use the smtp connection method for postmark - do you want to try that?

I know others have had issues with emails sending when using broadcast events, but you don't seem to be.

[2021-06-16 22:08] BreakSecurity opened #795 "Registered customers can redo orders with removed/disabled options"
**Expected Behaviour**
Customers should NOT be able to order disabled/deleted products or options

**Actual behaviour**
Registered customers, by repeating their order, can place an order that contains options that have been deleted

**Reproduce steps**
1) As a registered customer, place an order that contains at least one option of a product
![immagine](https://user-images.githubusercontent.com/38

[2021-06-16 22:10] BreakSecurity opened #796 "Menu specials NOT saving"
**Expected behavior:**
Menu special should work

**Actual behavior & Reproduce steps:**
https://user-images.githubusercontent.com/38836022/122300886-3e790400-cf00-11eb-8371-77d574ede2c6.mp4

**Version:**
RC

[2021-06-16 22:13] BreakSecurity opened #797 "Registered users can NOT delete saved addresses"
**Expected behavior:**
An user should have the possibility to delete saved addresses

**Actual behavior:**
It can't be done

**Reproduce steps:**
1. Register an user
2. Save an address
3. Try to delete it

**Version:**
RC

**Additional Information:**
Would be nice to autofill & verify default address of customer when logged in. To speed up and simplify orders for new users

[2021-06-18 01:15] modm12 commented on #790
Could it be that I have to grant any permission? why not even the message test with the app log, and I already tried with postmark too

[2021-06-18 21:27] sampoyigi commented on #795
Fixed

[2021-06-18 21:27] #795 closed

[2021-06-18 21:28] sampoyigi commented on #796
Fixed

[2021-06-18 21:28] #796 closed

[2021-06-18 21:28] sampoyigi commented on #797
I'll accept a PR to add this feature

[2021-06-18 21:28] #797 closed

[2021-06-18 21:41] BreakSecurity opened #798 "Product images should be the same size for all products regardless of description"
**Expected Behaviour**
The size of the product images should be the same for all products

**Actual behaviour**
The size of the product images depends on the length of the description
![immagine](https://user-images.githubusercontent.com/38836022/122618346-6007f600-d08e-11eb-8ab9-0aa1ca872511.png)

**Reproduce steps**
1) Create 3 different products with 3 different descriptions
2) Activate the ima

[2021-06-19 10:11] BreakSecurity commented on #798
@babelattke can you have a look?

[2021-06-19 10:24] babelattke commented on #798
@BreakSecurity Absolutely, working on it.

[2021-06-19 13:35] PaulKsi opened #801 "How can you make an option to choose a table not to assign automatically?"
Hello, how can you make an option to choose which table you want to book, not to assign automatically?

Thanks.

[2021-06-19 14:00] sampoyigi commented on #801
Use issues to report bugs, please start a discussion on the forums or better still search the forums for existing solutions.

[2021-06-19 14:00] #801 closed

[2021-06-21 11:14] ryanmitchell commented on #790
In /config/queue.php change the default queue from database to sync. Does that help?

[2021-06-22 21:05] xcodeluis opened #802 "Schedule settings shows "monday" for all days on Restaurant settings"
**Expected behavior:**
Show each day of the week (Mon, Tue, Wed, Thur, Fri, Sat, Sun)

**Actual behavior:**
Just showing Monday

**Reproduce steps:**
It was made a fresh installation and when I tried to set Working hours on ADM, settings /Restaurant/Locations/Schedules

I saw this.

**Version:**

3.0.4

**Additional Information:**

<img width="1678" alt="Screen Shot 2021-06-22 at 18 04 42" src="ht

[2021-06-22 21:48] Trollingguy commented on #802
same problem here aswell

[2021-06-23 06:25] ryanmitchell commented on #802
Should be fixed here: **https://github.com/tastyigniter/TastyIgniter/pull/803**

[2021-06-23 07:12] ryanmitchell commented on #442
With a lot of joy I am closing this :)

[2021-06-23 07:12] #442 closed

[2021-06-23 13:21] wakey18 commented on #802
fix doesn't work. Not made any difference.

[2021-06-23 13:27] ryanmitchell commented on #802
This? https://github.com/tastyigniter/TastyIgniter/pull/803/commits/a09e192420d301b39befbfe0286014c0a28832d1 definitely works for me

[2021-06-23 15:25] wakey18 commented on #802
Sorry I was looking at the wrong one. Yes, this is working for me.

[2021-06-24 01:12] roydeanjr opened #805 "3.0.4 After upgrade Time Restriction must be integer prevent save if Pre-Order is enabled."
**Expected behavior:**
Expected to be able to modify location data without any issue

**Actual behavior:**
Any save of a location record generates this error: "The {variable} Time Restriction must be an integer." Whether Delivery or Pick-Up, if the Pre-Order options are disabled then you can save the record. If you enable either Pre-Order option, that option's Time Restriction message is displayed

[2021-06-24 05:20] ryanmitchell commented on #805
Can you share your location setting screen so we can try and replicate?

[2021-06-24 07:52] zwaluw opened #806 "Cannot save OrangeTheme[child]"
**Expected behavior:**
Save the Orange child theme

**Actual behavior:**
Got this error:  "Trying to get property 'data' of non-object"

**Reproduce steps:**
(Describe the steps to reproduce the problem here)

**Version:**
3.0.4

**Additional Information:**

2021-06-24 09:25:47	ErrorException: Trying to get property 'data' of non-object
in /var/www/html/mytasty.com/app/main/formwidgets/TemplateEdi

[2021-06-24 07:59] ryanmitchell commented on #806
Can you give full steps to reproduce please, with as much detail as possible? Currently we dont have enough to work with.

[2021-06-24 08:07] zwaluw commented on #806
Works fine now (not allowed to save when no specific template is selected) issue can be closed, sorry!

[2021-06-24 08:08] #806 closed

[2021-06-24 08:08] zwaluw commented on #806
Works fine now (not allowed to save when no specific template is selected) issue can be closed, sorry!

[2021-06-24 13:52] roydeanjr commented on #805
This save works AND the Time Restriction toggles respond while the Pre-Delivery option is disabled:
![image](https://user-images.githubusercontent.com/36243458/123274222-f2fac300-d4c8-11eb-8659-127bace3ec8b.png)

This save does not work AND the Time Restriction toggles do not respond while the Pre-Delivery option is enabled:
![image](https://user-images.githubusercontent.com/36243458/123274822-774

[2021-06-28 10:29] ryanmitchell commented on #805
Thanks, I was able to replicate and opened a fix for it here https://github.com/tastyigniter/TastyIgniter/pull/808/commits/eb8f46112eb3e72a118f88bf9c0831618f76c4d5

[2021-06-29 05:08] git-gnulf opened #809 "Can't save schedule with no delivery-plan"
**Expected behavior:**
If I edit the delivery-plan in schedules of my location, deselect in "Daily" all days and click on the save-button, the form should be saved.

**Actual behavior:**
If I edit the delivery-plan in schedules of my location, deselect in "Daily" all days and click on the save-button, it raises an error:
"in_array() expects parameter 2 to be array, null given"

**Reproduce steps:*

[2021-06-29 08:00] moein commented on #770
@ryanmitchell Do you have a PR open somewhere so we can keep track of the progress? 😄

[2021-06-29 08:09] ryanmitchell commented on #770
Its up on the marketplace - https://tastyigniter.com/marketplace/item/thoughtco-dinein

[2021-06-29 09:17] babelattke commented on #798
@BreakSecurity sorry ... almost forgot. Fixed already.

[2021-06-29 11:26] ryanmitchell commented on #809
I replied over on the reservation issue, but not selecting any days is a no-op really. If you dont want delivery, turn "Offer delivery" off.

[2021-06-30 12:41] creativeindustriesgroup commented on #790
I also have this problem - sending a test email does not work either. No errors anywhere from what I can see. SMTP worked before the latest version.

[2021-06-30 12:42] ryanmitchell commented on #790
Did you try changing your queue.php setting?

[2021-06-30 12:42] #760 closed, assigned to nobody

[2021-06-30 12:53] creativeindustriesgroup commented on #790
Sorry, forgot to mention - I'm already using `sync`.

[2021-07-01 05:01] modm12 commented on #790
sorry for the delay, I did what you say, but try and just send the test mail

[2021-07-01 22:24] jhaynes059 opened #813 "Location Search Finds location out side of deliver area"
**Expected behavior:**
Search "71291"  should return no restaurants near you

**Actual behavior:**
Drops me on a menu for a location over 500 miles away

**Reproduce steps:**
Use orange theme, multiple locations in Indianapolis area, Google search

**Version:**
3.0.4 beta 38
![home page search](https://user-images.githubusercontent.com/83655643/124196046-9d5e8180-da99-11eb-93cd-ac0aeb37f942.jpg)
!

[2021-07-02 06:55] pablogfb opened #814 "Using a different Mail layout throws an exception"
**Expected behavior:**
You should be able to create and use custom layouts for emails

**Actual behavior:**
If you create a new layout and select it for a specific email, it throws an exception when you send a test email (error below)

**Reproduce steps:**

1. Go to admin > Design > Emails Templates > Layouts > Create new layout (you can copy default layout content)
2. Then select that layout for

[2021-07-02 06:56] pablogfb opened #815 "Can't clear Address 2 field for location"
**Expected behavior:**
Editing a location, clearing Address 2 field should delete the content after save

**Actual behavior:**
If you clear the field and save the old value remains there

**Reproduce steps:**

1. Go to admin > Restaurant > Locations > Edit location > location
2. Delete the contents of Address 2 field
3. Save

**Version:**
3.0.4

**Additional Information:**

[2021-07-02 06:58] pablogfb opened #816 "Customer's order list lacking info"
**Expected behavior:**
In admin, when you edit a customer, in the orders label, you should see complete info.

**Actual behavior:**
Customer name, status and type info are missing

**Reproduce steps:**
Go to admin > users > customers > Edit one customer > Orders

**Version:** 3.0.4

[2021-07-02 06:59] pablogfb opened #817 "Dashboard News Widget broken"
**Expected behavior:**
News Widget should show Tasty Igniter News

**Actual behavior:**
News Widget shows "The URL address is incorrect or Reload"

**Reproduce steps:**
Go to admin > dashboard > News widget

**Version:**
3.0.4

[2021-07-02 07:01] pablogfb opened #818 "Dashboard Recent Activities widget ‘See all activities’ only shows registrations"
**Expected behavior:**
Clicking in ‘‘See all activities’  in Recent activities widget should show a full list of registrations and orders

**Actual behavior:**
Clicking in See all activities in Recent activities widget shows only registrations

**Reproduce steps:**
Go to admin > dashboard > Activities widget > See all activities

**Version:**
3.0.4

[2021-07-02 07:02] pablogfb opened #819 "Dashboard Chart widget doesn't include the current day of data."
**Expected behavior:**
Dashboard Chart widget should include the current day as this is what is displayed in the date selector.

**Actual behavior:**
Dashboard Chart widget doesn't include the current day in the displayed data, data up to the previous day is shown.

**Reproduce steps:**
Go to admin > dashboard > Activities widget > See all activities

**Version:**
3.0.4

[2021-07-02 07:03] ryanmitchell commented on #818
I'm not able to replicate this - i see both activities and registrations

[2021-07-02 07:11] pablogfb commented on #818
In the actual chart yes, I see both but when I click in See All Activities I only see registrations, is it only me?

It isn't important but might be confusing

[2021-07-02 07:13] ryanmitchell commented on #818
I see both in All activities.

[2021-07-02 07:17] ryanmitchell commented on #815
No fields are bankable one filled in.
Definitely something we need to fix @sampoyigi - any suggestions?

[2021-07-02 07:22] ryanmitchell commented on #816
It seems any accessor attribute values aren't being populated.  Any thoughts on how to handle @sampoyigi ?

[2021-07-02 07:25] ryanmitchell commented on #817
Seems ok to me - its looking up https://feeds.feedburner.com/Tastyigniter which is definitely valid.
Maybe being blocked by your server settings?

[2021-07-02 07:25] ryanmitchell commented on #819
Good spot, I've opened a PR with the change required.

[2021-07-02 07:28] ryanmitchell commented on #790
Its going to be impossible for us to move forward on this without further information and really an error trace. We're using laravel's mail features so its pretty battle hardened and unlikely to have issues like this.

My advice would be to look around the queue settings, and set to sync or database (if database make sure you have the artisan task set up to send the queue).

Do report back if you

[2021-07-02 07:29] pablogfb commented on #818
Weird, attached a screencast. I don't know how to provide further information.

https://user-images.githubusercontent.com/15573755/124237488-dd644980-db17-11eb-865a-383fc58bb874.mp4

[2021-07-02 07:31] ryanmitchell commented on #818
Check your system logs to see if there is an error when inserting the notification data. Its definitely populating with orders on my test and live environments.

[2021-07-02 07:32] sampoyigi commented on #815
Yea, looks like we should comment out the ConvertEmptyStringsToNull middleware and left the Form widget handle empty strings.

https://github.com/tastyigniter/flame/blob/ebcc4450e40e29dd1fa88bd32145e336b5c42a17/src/Foundation/Http/Kernel.php#L34

[2021-07-02 07:39] pablogfb commented on #817
Ok, will check then. It worked until a couple of days ago, that is why I thought it was related with the update.

[2021-07-02 07:39] #817 closed

[2021-07-03 07:42] PaulKsi commented on #790
same here, test works, but nothing else

[2021-07-04 18:21] #805 closed

[2021-07-04 18:50] sampoyigi commented on #809
Fixed

[2021-07-04 18:50] #809 closed

[2021-07-04 19:01] #819 closed

[2021-07-04 19:02] sampoyigi commented on #816
Fixed

[2021-07-04 19:02] #816 closed

[2021-07-04 19:05] #815 closed

[2021-07-05 17:25] sampoyigi commented on #814
Not reproducible in the latest release. Have you tried clearing cache? `php artisan cache:clear` or through the Cache dashboard widget

[2021-07-05 19:44] pablogfb commented on #814
Managed to finde the issue. I had to add "{{ $body }}" in the plain text label. I'm not sure if it makes sense. Anyhow is something to document

[2021-07-10 13:10] GrantBartlett opened #822 "Composer install/composer create-project hangs"
**Expected behavior:**
Composer install to finish

**Actual behavior:**
Composer install hangs on trying to install. It goes "Something's changed, looking at all rules again".  I left this running for about 10 minutes and was still checking.

![image](https://user-images.githubusercontent.com/6104940/125164087-54d55100-e188-11eb-9876-a91d1b084b9e.png)

**Reproduce steps:**
1. Clone latest develop

[2021-07-16 15:11] ryanmitchell opened #824 "Laravel 8 upgrade"
Upgrade core dependency to Laravel 8

[2021-07-20 10:48] sampoyigi commented on #824
I've started work on this. We'll be dropping october/rain before the upgrade since they've changed licensing.

https://github.com/tastyigniter/TastyIgniter/pull/825

https://github.com/tastyigniter/flame/pull/38

https://github.com/tastyigniter/flame/pull/39

[2021-07-20 10:50] sampoyigi commented on #771
In october this feature is optional and all it takes is running a command to change the folder structure. We could do something similar?

[2021-07-20 13:04] hairyjim commented on #727
I've run into similar issue and I think it might be related to this issue. This issue is indeed related to the backslash on windows.
When I installed the tastyigniter-orange theme, I noticed that all the template paths had the backslash in it and will simply default to the first item in the drop-down (which is Account Password Reset), this happens anywhere there is a template drop-down.

<img widt

[2021-07-20 15:42] sampoyigi commented on #727
@hairyjim thank you for the effort and solution. Are you able to open a PR on the tastyigniter/ti-ext-user repo? Would also help if you can apply the changes to other components.

[2021-07-20 21:12] ryanmitchell commented on #771
Maybe, but it would be good practise to make the default the most secure option.

The issue comes with the assets in the widgets etc. They need to be in a public path somehow. Statamic has a concept of ’publishables’ to get around that.

[2021-07-20 21:13] ryanmitchell commented on #824
Cool. Shout if you need me to look at anything specific.

[2021-07-21 20:20] git-gnulf commented on #818
I 've a similar behaviour. But in the opposite in the widget at the dashboard I see only the registered users and in the screen "view all activities" I see all the activities from all users (registered and not registered users).

The Logs have no entry.

[2021-07-28 06:27] ryanmitchell commented on #822
Yeah looks like a non issue - you should always use the latest flame.

[2021-07-28 06:27] #822 closed

[2021-07-28 06:27] #802 closed

[2021-07-28 07:55] GrantBartlett commented on #822
Fixed here: https://github.com/tastyigniter/TastyIgniter/commit/5c5c91cf8eb6a04d12c870b6f0323d6ca133565c

[2021-07-28 08:06] JamesThanna opened #827 "Upgrade from 3.0.4 > 3.0.5"
**Expected behavior:**
TI with all extensions on this install.

**Actual behavior:**
when installing. I'm seeing that it's downloading all the files and then extracting them but then fails.

**Reproduce steps:**

https://www.loom.com/share/55ceb593395e4fe2b0e4cffdd3a66559

**Version:**
3.0.4

**Additional Information:**
Full Trace Error
`"mkdir(): Invalid path" on line 517 of /home/fishandperi/pub

[2021-07-28 08:27] madebyjono commented on #827
I had this issue as well. Now its broken with
Fatal error: Uncaught RuntimeException: A facade root has not been set. in /shared/httpd/cluckers/htdocs/vendor/laravel/framework/src/Illuminate/Support/Facades/Facade.php on line 258

[2021-07-28 12:03] JamesThanna commented on #827
Fixed applied here -  https://github.com/tastyigniter/TastyIgniter/commit/8baf83b42e7756aaf903aaf2a38815f668239d47

[2021-07-28 12:03] #827 closed

[2021-07-28 13:22] #814 closed

[2021-07-29 06:19] wali0710 opened #828 "Installation and Stability issues with the latest version"
**Expected behavior:**
I should be able to install a stable version of the system, but I am not able to do that.

**Actual behavior:**
* Get installation and update errors
![image](https://user-images.githubusercontent.com/39895159/127441470-06f0351f-b873-44df-b139-a02c71efe0c7.png)
* My directory structure upon this error
![image](https://user-images.githubusercontent.com/39895159/127441511-fb705

[2021-07-29 06:20] ryanmitchell commented on #828
Can you supply detail what version you are updating from and to?

[2021-07-29 06:25] wali0710 commented on #828
Used TastyIgniter command line installation method. Which install the master with Beta Stability. Than, the update from the system admin.
"System extensions don't work without update, and the update never goes through. Facing this issue on Xampp and PHP 7.4"

[2021-07-29 06:26] ryanmitchell commented on #828
We really need the version number you are upgrading from and to so it can be tested.

[2021-07-29 06:31] wali0710 commented on #828
Update never goes through, I can share the composer require property from composer.json

[2021-07-29 06:32] ryanmitchell commented on #828
Can you please take a moment and read my question completely.
From your screenshot you are upgrading from one version of TastyIgniter to another. We need to know the starting version and then what version you are trying to upgrade to.

[2021-07-29 06:39] wali0710 commented on #828
I am trying to upgrade to 3.0.6
The version I have currently is the master code from this repository. The images I attached shows a ZipArchive Errors, which also exists in previous versions.

[2021-07-29 06:40] ryanmitchell commented on #828
Should be fixed by applying this commit:
https://github.com/tastyigniter/TastyIgniter/commit/8baf83b42e7756aaf903aaf2a38815f668239d47 <https://github.com/tastyigniter/TastyIgniter/commit/8baf83b42e7756aaf903aaf2a38815f668239d47>

[2021-07-29 06:42] wali0710 commented on #828
Did'nt work my friend. That's why I am here

[2021-07-29 06:42] wali0710 commented on #828
And other issues as well

[2021-07-29 06:47] wali0710 commented on #828
![image](https://user-images.githubusercontent.com/39895159/127444794-a31f41be-07aa-4d6d-a61b-cc06e0b26f43.png)
![image](https://user-images.githubusercontent.com/39895159/127444809-8d4e01a0-1acf-485f-8c48-309a9dadb938.png)

[2021-07-29 07:03] ryanmitchell commented on #828
Did you apply the patch before attempting the update?

Did you try upgrading through composer?

[2021-07-29 07:03] wali0710 commented on #828
Yes, tried both

[2021-07-29 07:04] wali0710 commented on #828
It's either a sub directory htaccess issue or an issue in the system's core.

[2021-07-29 07:04] wali0710 commented on #828
I have tried to explain the issue to the best of my abilities and what I experienced. Hope you understand.

[2021-07-29 07:06] ryanmitchell commented on #828
When you upgrade through composer what error did you get?

[2021-07-29 07:14] wali0710 commented on #828
No error

[2021-07-29 07:15] ryanmitchell commented on #828
That doesn’t seem possible. Please share a screen of your terminal session.

[2021-07-29 07:25] wali0710 commented on #828
![image](https://user-images.githubusercontent.com/39895159/127449692-d4b9a052-0218-4c1c-8c7f-5c4732e9e3f3.png)

[2021-07-29 07:28] ryanmitchell commented on #828
Looks like it worked.
Just move config-backup back to config and it should be ok?

[2021-07-29 08:23] wali0710 commented on #828
Did that, and than the other issues still persist.
* Registration page and login page not accessible
* Menu page not opening
* Can't see any page instead of the main page

[2021-07-29 10:53] prbt2016 opened #829 "Tastyigniter 3.0.6 CLI install throws SQLSTATE[HY000] [1045] error"
**Version:**
3.0.6

**Additional Information:**
O.S  - Centos Linux 6.9 Final
Web server - Apache/2.2.34
Database server  - MYSQL 5.7.33
PHP Version - 7.3.28

**Reproduce steps:**

I was in the process of installation of TastyIgniter 3.0.6 version via CLI using the following steps
mentioned in official documentation:

https://tastyigniter.com/docs/master/installation#command-line-installation

1)

[2021-07-29 10:55] ryanmitchell commented on #829
It seems that the password is not being picked up in the connection. Is it present in your .env file under “DB_PASSWORD=xxx” ?

[2021-07-29 10:59] prbt2016 commented on #829
@ryanmitchell Yes the correct password is present under "DB_PASSWORD=xxx".
It seems that the default details are being fetched from /config/database.php

[2021-07-29 11:05] ryanmitchell commented on #829
if you `var_dump(env('DB_USERNAME'))` to the top of your `/config/database.php` I assume it is blank or null? And just to be really sure its nothing simple - your env file is named `.env` ?

[2021-07-29 11:16] prbt2016 commented on #829
Yes I checked with var_dump(env('DB_USERNAME')) on top of /config/database.php it is blank, no output.
Yes the file is named .env.

[2021-07-29 11:19] ryanmitchell commented on #829
Does your APP_NAME have a space in it? if so wrap it in quotes.

e.g. APP_NAME=“xxx xxx"

And if so I’ll fix the setup installer to handle it.

[2021-07-29 11:22] prbt2016 commented on #829
@ryanmitchell No there is no space in APP_NAME in .env file. It's a single word
i.e APP_NAME=“xxx"

[2021-07-29 11:23] ryanmitchell commented on #829
Can you share you .env file minus the password, as something is causing it to not be parsed.

[2021-07-29 11:29] prbt2016 commented on #829
[code]

[2021-07-29 12:24] ryanmitchell commented on #829
It works ok for me so maybe its something in your redacted values - add some quotes around them?

[2021-07-29 12:44] prbt2016 commented on #829
I am not editing the example.env file.

But the example.env file is renamed by CLI installer to .env after entering the values.

Do you mean to say should I add quotes around the db details while entering them via CLI ?.

[2021-07-29 12:45] ryanmitchell commented on #829
Im asking you edit it manually to see if it helps fix the issue, in which case I'll update the installer with the changes required.

[2021-07-29 12:47] ryanmitchell commented on #828
Do you get 404's from tasty igniter on those pages or what error? Are you in single or multi-location mode?

[2021-07-29 12:57] prbt2016 commented on #829
@ryanmitchell :+1: editing the .env file manually works fine.

[2021-07-29 12:57] ryanmitchell commented on #829
What changes did you have to make so I can ensure the installer handles it in future?

[2021-07-29 13:14] prbt2016 commented on #829
@ryanmitchell

I renamed the example.env file and manually entered the same details i.e :

APP_NAME, APP_URL, DB_HOST, DB_PORT(3306), DB_DATABASE, DB_USERNAME, DB_PASSWORD, DB_PREFIX (without quoting them)
and then ran php artisan igniter:install.

The db migrations ran fine.

[2021-07-29 13:14] darksylinc commented on #829
I've had this bug yesterday as well on a brand new Ubuntu lts 20.04 VM installation.

It appears composer installation will ignore the entered db username and password and use whatever it was saved as default.

I tried installing from the wizard first, but met a sql error (I'll upload later the log in another ticket). I saw [others were having the same bug](https://forum.tastyigniter.com/d/2558-qu

[2021-07-29 13:44] ryanmitchell commented on #829
Opened a PR here - https://github.com/tastyigniter/TastyIgniter/pull/830 which should fix the composer install

[2021-07-29 14:54] zidingz opened #831 "Trying to get in touch regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and am not sure how to best contact you privately to disclose a security issue.

Can you add a `SECURITY.md` file with an e-mail to your repository, so that our system can send you the vulnerability details? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your

[2021-07-29 17:45] darksylinc opened #832 "Wizard: Downloaded files from server are corrupt, check setup.log"
**Expected behavior:**
Wizard install completes successfully

**Actual behavior:**
Wizard install fails with `Downloaded files from server are corrupt, check setup.log`

**Reproduce steps:**
Just follow the steps in https://tastyigniter.com/docs/master/installation

**Version:**
Latest I guess? Downloaded from https://codeload.github.com/tastyigniter/setup/zip/master

**Additional Information:**
I

[2021-07-30 05:03] SupperDog opened #833 "Delivery Areas don't work when the first area type is Shape (polygon)"
**Expected behavior:**
The delivery charge can be calculated as expected. Out-of-area orders should not be accepted.

**Actual behavior:**
When the first delivery area type is Shape, the following delivery area settings won't work. When entering an address out of the first area even out of all delivery areas, it will show an out of area error but still allow the user to place an order, and the del

[2021-07-30 05:29] SupperDog opened #834 "Tips are discounted by coupons"
**Expected behavior:**
Tips are supposed to be added on top of the final value.

**Actual behavior:**
Tips are discounted when the customer uses a coupon.

**Reproduce steps:**
1. Create a coupon (percentage);
2. Place an order, add tip;
3. Apply the coupon;
4. Checkout.

**Version:**
All

**Additional Information:**
For percentage coupons, the tips should not be discounted. For fixed amount coupo

[2021-07-30 06:17] wali0710 commented on #828
I am getting 404 on everything accept the homepage and admin.
I am in single location mode, but in a sub directory of my server environment.

[2021-07-30 07:23] wali0710 commented on #828
I just only find new issues, now the default values for several tables are not set causing 500 error all across the system.

[2021-07-30 07:25] ryanmitchell commented on #828
I think you'd be best requesting some premium support through the website - these errors seem specific to your install.
https://tastyigniter.com/premium-support

[2021-07-30 07:26] ryanmitchell commented on #834
System -> Settings -> Cart Settings -> move tip to the last in the list.
It should mean its price is not affected by other conditions.

[2021-07-30 07:29] ryanmitchell commented on #833
Do you have "Reject Orders Outside Delivery Area" enabled in System -> Settings -> Setup ?

Can you provide more information on the 'broken' delivery areas reordering - Im not seeing that on the latest version.

[2021-07-30 12:44] SupperDog commented on #833
Yes that's on. Everything works fine if the first area type is not Shape.

I'll do some more tests on this.

[2021-07-30 12:49] SupperDog commented on #834
Oh that works many thanks for your help :)

[2021-07-30 12:49] #834 closed

[2021-07-30 13:24] ryanmitchell commented on #832
This should be resolved as per: https://forum.tastyigniter.com/d/2560-recent-upgrade-and-install-issue
Can you confirm?

[2021-07-30 14:19] sampoyigi commented on #831
Thank you so much for bringing this up! I'll triage and add the SECURITY.md file so you may send the vulnerability details.

[2021-07-30 16:16] darksylinc commented on #832
OK I can confirm this error is resolved, thanks; but now I'm getting the original error I wanted to report; I'm attaching the log.
[setup.log.zip](https://github.com/tastyigniter/TastyIgniter/files/6908798/setup.log.zip)

I can change the ticket's title to a more generic 'Errors while installing via Wizard' or open a new one.

The error is in the last few lines (I chose to start using the Demo dat

[2021-07-30 16:26] darksylinc commented on #832
If I choose `Install with a pre-built theme: NO` then installation completes but there is no admin:

![00](https://user-images.githubusercontent.com/3395130/127682704-f2da2720-b0b4-4798-81e0-70c652722f04.png)
![02](https://user-images.githubusercontent.com/3395130/127682717-4ae1bdf9-c24f-4b26-87fc-ab0fd778a7d0.png)

[code]

Full file list of /var/www/html (via `find . > list.txt`):
[full_file_list

[2021-07-30 16:55] zidingz commented on #831
Thanks a million!

[2021-07-30 23:40] darksylinc commented on #832
[code]

[2021-07-31 01:24] SupperDog opened #836 "Delivery area reordering doesn't work"
**Expected behavior:**
Drag and drop delivery areas and save, delivery areas should be saved in the new order.

**Actual behavior:**
1. Drag and drop delivery areas, click save, the original order was restored.
2. When just edited a delivery area, all delivery areas are locked and cannot be dragged. Have to refresh the page to reorder.

**Reproduce steps:**
1. Drag and drop delivery areas and save

[2021-07-31 10:24] sampoyigi commented on #831
Security policy added!

[2021-07-31 10:24] #831 closed

[2021-08-01 06:46] sampoyigi commented on #832
Apply the fix here if you haven't already https://github.com/tastyigniter/TastyIgniter/commit/474c6a0526023d04dd7aa990049c7ddbdecd8143

The admin pages not showing is related to your htaccess. Read the docs post-installation steps on making the appropriate changes to your htaccess file
https://tastyigniter.com/docs/master/installation#post-installation-steps

[2021-08-01 06:46] #832 closed

[2021-08-01 11:00] #818 closed

[2021-08-01 11:55] #836 closed

[2021-08-01 14:38] darksylinc commented on #832
Hi! Thanks!

I'll try your changes

I did follow those steps but I guess I made a mistake enabling per folder htaccess. I'll check it again. Thanks!

Could this issue be added to the FAQ?
e.g.

[2021-08-02 10:14] zidingz commented on #831
Thanks so much!

[2021-08-03 13:00] creativeindustriesgroup opened #837 "[Bug]: Cannot load menu page"
### What happened?

After Installing TastyIgniter v3.0.7, loading the menu page /local/menus/ throws the following error:

[code]

### What did you expect to happen?

The page loads

### Version

3.0.6

### What browser are you seeing the problem on?

Safari

### Relevant log output

[code]

[2021-08-03 13:27] creativeindustriesgroup commented on #837
Only location was disabled

[2021-08-03 13:27] #837 closed

[2021-08-04 07:44] ryanmitchell commented on #829
Should be fixed in 3.0.7, open a new issue if it still occurs.

[2021-08-04 07:44] #829 closed

[2021-08-04 07:44] #828 closed

[2021-08-05 13:59] ryanmitchell commented on #771
Any more thoughts on this now that https://github.com/tastyigniter/TastyIgniter/pull/825 is close to complete? Would be good to bundle it in the same release if possible.

[2021-08-05 21:32] sampoyigi commented on #771
Would accept a PR as long as there are no breaking changes.

Can you share more?

[2021-08-06 05:59] ryanmitchell commented on #771
Yep -

https://laravel.com/docs/8.x/packages#public-assets
https://statamic.dev/extending/addons#assets

[2021-08-06 11:48] ryanmitchell commented on #798
@babelattke can this be closed?

[2021-08-06 12:07] babelattke commented on #798
@ryanmitchell Yes, it can be closed.

[2021-08-06 12:08] #798 closed

[2021-08-07 21:02] sampoyigi commented on #771
Statamic publishables approach looks like a bit of a hassle, and I think that we should hold off on making major changes until we have a solid test suite in place to ensure that we don't break anything else. Check how October solved this problem via symlinks using the 'october:mirror' command.

Another option is to enable assets combiner by default (`'system.enableAssetCombiner' => true,`), which

[2021-08-08 14:45] ryanmitchell commented on #771
Yeah it would be significant work to set it up initially and it may affect 3rd party extensions and themes, so we would need to give enough notice to authors. I do think it would be worth targeting v3.2 (or whatever comes after 3.1) and giving people something like 6 months notice. Once the work is done we just make the publish command part of the post-install scripts so it would be invisible to m

[2021-08-12 10:46] ryanmitchell commented on #771
Ok added that here - https://github.com/tastyigniter/TastyIgniter/pull/840

It works fine as an approach but still feels a bit hacky to me :)
Are you happy with this as the long term solution (if so I'll close off the other PR)

[2021-08-12 12:40] sampoyigi commented on #771
Yup, it looks good. I'd take 5 changed files over 50+ changed files any day. And there will be no breaking changes with this PR.

I'd say we leave it as optional but add it under the post-installation docs.

[2021-08-12 12:43] ryanmitchell commented on #771
No problem - do you want me to revert the .env and additions to igniter:install and extensioninstall ?

[2021-08-17 07:23] ricardochen opened #846 "[Bug]: Error 500 on install"
### What happened?

Uploaded the zip file on my hosting and extracted the files.
went to subdomain.domain.com/setup.php and I get an Error 500.

There is no .htaccess supplied in the zip file, tried to create one with no success.

P.D. Not sure what version it is, but its the one available TODAY at https://tastyigniter.com/download

### What did you expect to happen?

Start Installation page

###

[2021-08-17 07:27] ryanmitchell commented on #846
Can you provide more than Error 500 - was there an error trace or message alongside that?

[2021-08-18 05:42] ricardochen commented on #846
My bad, the php version was not set correctly.

[2021-08-18 05:42] #846 closed

[2021-08-22 17:20] jhaynes059 opened #850 "[Bug]: Get an error that "role is required" but role does not appear on the add or edit screen"
### What happened?
non - super admin add or edit staff users:

Get an error that "role is required" but role does not appear on the add or edit screen

### What did you expect to happen?

Would have expected to see Roles radio

### Version

3.0.4 (Stable)

### What browser are you seeing the problem on?

Chrome

### Relevant log output

_No response_

[2021-08-22 17:21] jhaynes059 commented on #850
Non - super admin add or edit staff users

[2021-08-23 07:59] ryanmitchell commented on #850
Not sure how best to handle this one @sampoyigi . Could remove the validation rule easily enough same way that the field is removed in formExtendFields(), but then we need to apply a sensible default. What are your thoughts?

[2021-08-28 10:05] sampoyigi commented on #850
How about adding the `sometimes` validation rule?

[2021-08-29 11:50] greatdesign opened #851 "[Bug]: System asks from already users to log in during checkout"
### What happened?

**STEP 1:**
Create a new customer at the backend as admin. Set customer status to Enabled.
Set  Allow Guest Orders  option to disabled at the admin -> settings -> setup -> order tab.
**STEP 2:**
Login at the front end with your account and then add some menu items in the shopping cart.
**STEP 3:**
Click checkout button.

BOOOOM you will get the message:

` Almost there, Please

[2021-08-29 11:58] greatdesign opened #852 "[Bug]: Customers with disable status are still able to order items"
### What happened?

When a customer is registering at the front end, by default has its status to disabled (You can see that at the admin->customers list). This means that he can not checkout until he gets his status to Enabled according to this condition in the OrderManager Class:

[code]
Instead it ignores the part of the code `OR !$customer->is_activated` that checks if the customer is enabled

[2021-08-29 14:15] ryanmitchell commented on #851
Can you share screens of your customer and order config pages? I'm not able to replicate this.

[2021-08-29 14:17] ryanmitchell commented on #852
Again I'm not able to replicate this. Can you share screens showing your order settings config and your customer config so I can be sure the fields are set as explained.

[2021-08-29 14:51] greatdesign commented on #851
Ryan first you must add a new user as admin. Then you must go to the admin->settings->order setup page

![Screenshot 2021-08-29 at 17-47-46 Settings Setup - Administrator Panel - Epic Delivery](https://user-images.githubusercontent.com/46397204/131254619-8119daab-a354-43ff-9ac1-b80de8b91e01.png)

and you must set the **Allow Guest Orders** to disable.

Then if you try to login at the front end as

[2021-08-29 14:52] greatdesign commented on #852
ok one moment please.

[2021-08-29 14:59] greatdesign commented on #852
Here is the user that is already registered on the site. As you can see at the screenshot below his **status** is **disabled**.
![Screenshot 2021-08-29 at 17-53-41 Customer Edit - Administrator Panel - Epic Delivery](https://user-images.githubusercontent.com/46397204/131254831-4e984931-d2e7-41ab-a437-82d1614061b9.png)

When i am logged in at the front end as this user i am still able to order even

[2021-08-29 15:23] ryanmitchell commented on #852
If the user status is disabled I can't even log in.
And when I am logged in, if i make it disabled, I get logged out.

Struggling to replicate your issue. Have you made any changes to the core code? What theme are you using?

[2021-08-29 15:24] ryanmitchell commented on #851
@sampoyigi @BreakSecurity can either of you replicate this? Doesnt do this for me.

[2021-08-29 16:01] BreakSecurity commented on #851
![immagine](https://user-images.githubusercontent.com/38836022/131257098-e612c6c5-efe3-45c1-a0bf-649f5772860d.png)

Confirmed

[2021-08-29 16:02] ryanmitchell commented on #851
Can you test against latest GitHub code? Maybe that’s why I’m not seeing it.

[2021-08-29 19:24] greatdesign commented on #851
i tested both develop branch and the 3.0.7 release zip file from releases

[2021-08-29 19:27] greatdesign commented on #852
Ryan i just did a clean install with the 3.0.7 release and the default orange theme. The bug is still there. I can login at the front end even if the user is disabled at admin panel. What branch do you use?

[2021-08-29 19:46] ryanmitchell commented on #852
Yes I think its due to the is_approved column not having a value or default.

It’s one for @sampoyigi to decide how to handle.

[2021-08-29 20:08] greatdesign commented on #852
How did you fixed that ??

[2021-09-01 11:51] matthiez opened #854 "[Bug]: Admin Password length mismatch on fresh install"
### What happened?

So I ran `php7.4 artisan igniter:install` and entered a 5 digit password for the admin user with no error shown.
Now when l login it says "The Password must be at least 6 characters.".
Using the default password "123456" gets me the message "Login failed, please try again or contact the system administrator!".

### What did you expect to happen?

To login with my 5 digit passwo